<!DOCTYPE html>
<!-- saved from url=(0075)http://themepixels.me/demo/amanda/app/index.html?storefront=envato-elements -->
<html lang="en">
    <head><%- include('../../partials/client/head'); %> </head>
    <body>
        <div id="snackbar"></div>
        <div class="overlay hidden" id="loader" >
            <div class="overlay__inner">
                <div class="overlay__content"><span class="spinner"></span></div>
            </div>
        </div>

     <div id="image-editor-container">
         <div class="main-panel">
        <%- include('../../partials/client/topbar', {user:user}); %>
        <%- include('../../partials/client/leftpanel'); %>

        <div class="am-mainpanel" style="position: relative;">
            <div class="am-pagetitle bd-l pd-r-0"> <%= locals.page.title %>
                <%if(locals.page.id == "__workspace"){%>
                  
            <div class="pull-right">
                  <!-- <div class="pd-r-20 tx-30">
                    <span><i id="btn-download-pdf" class="ion-android-download  bd-l bd-r pd-x-10" style="cursor:pointer" title="download PDF"></i></span>
                    <span><i id="btn-save-design" class="ion-android-checkmark-circle text-success pd-x-10" style="cursor:pointer" title="Save Project"></i></span>
                  </div> -->
                  <div class="tx-32 tx-normal pd-x-10" ><a href="/app/workspace" title="Start Over" class="ion-ios-refresh-outline tx-primary"> </a></div>  

            </div>
            <%}%>
            </div>
            <div class="am-pagebody">
            <%-body-%>
            </div>
            <!-- am-pagebody -->
           
            <div class="resize-sensor" style="position: absolute; inset: 0px; overflow: hidden; z-index: -1; visibility: hidden;">
                <div class="resize-sensor-expand" style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; z-index: -1; visibility: hidden;">
                    <div style="position: absolute; left: 0px; top: 0px; transition: all 0s ease 0s; width: 100000px; height: 100000px;"></div>
                </div>
                <div class="resize-sensor-shrink" style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; z-index: -1; visibility: hidden;">
                    <div style="position: absolute; left: 0; top: 0; transition: 0s; width: 200%; height: 200%"></div>
                </div>
            </div>
        </div>
        <!-- am-mainpanel -->

        <%- include('../../partials/client/popups/previewdesign'); %>
        <%- include('../../partials/client/popups/categoryitems'); %>
        <%- include('../../partials/client/popups/templates'); %>
        <%- include('../../partials/client/popups/savedesign'); %>
        <%- include('../../partials/client/footer'); %>
       

      <canvas id="tempCanvas" style="display:none"></canvas>
    </div>
</div>
    </body>

</html>
