<!DOCTYPE html>
<!-- saved from url=(0075)http://themepixels.me/demo/amanda/app/index.html?storefront=envato-elements -->
<html lang="en">
    <head><%- include('../../partials/client/head'); %> </head>
    <body>
     <div id="image-editor-container">
         <div class="main-panel">
        <%- include('../../partials/client/topbar', {user:user}); %>
        <%- include('../../partials/client/leftpanel'); %>

        <div class="am-mainpanel" style="position: relative;">
            <div class="am-pagetitle">
             <%- include('../../partials/client/maintools'); %> 
            </div>
            <div class="am-pagebody">
            <%-body-%>
            </div>
            <!-- am-pagebody -->
           
            <div class="resize-sensor" style="position: absolute; inset: 0px; overflow: hidden; z-index: -1; visibility: hidden;">
                <div class="resize-sensor-expand" style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; z-index: -1; visibility: hidden;">
                    <div style="position: absolute; left: 0px; top: 0px; transition: all 0s ease 0s; width: 100000px; height: 100000px;"></div>
                </div>
                <div class="resize-sensor-shrink" style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; z-index: -1; visibility: hidden;">
                    <div style="position: absolute; left: 0; top: 0; transition: 0s; width: 200%; height: 200%"></div>
                </div>
            </div>
        </div>
        <!-- am-mainpanel -->

        <%- include('../../partials/client/popups/previewdesign'); %>
        <%- include('../../partials/client/popups/categoryitems'); %>
        <%- include('../../partials/client/popups/templates'); %>
        <%- include('../../partials/client/popups/savedesign'); %>
        <%- include('../../partials/client/footer'); %>

        <div class="d-flex bg-gray-200 ht-300 pos-relative align-items-center hidden" id="loader">
            <div class="sk-double-bounce">
              <div class="sk-child sk-double-bounce1 bg-gray-800"></div>
              <div class="sk-child sk-double-bounce2 bg-gray-800"></div>
            </div>
          </div>
    </div>
</div>
    </body>

</html>
