<!DOCTYPE html>
<!-- saved from url=(0075)http://themepixels.me/demo/amanda/app/index.html?storefront=envato-elements -->
<html lang="en">
    <head><%- include('../../partials/client/head'); %> </head>
    <body>
     <div id="image-editor-container">
         <div class="main-panel">
        <%- include('../../partials/client/topbar', {user:user}); %>
        <%- include('../../partials/client/leftpanel'); %>

        <div class="am-mainpanel" style="position: relative;">
            <div class="am-pagetitle">
                <h5 class="am-title"></p>
                </h5>
            </div>
            <div class="am-pagebody">
            <%-body-%>
            </div>
            <!-- am-pagebody -->
           
            <div class="resize-sensor" style="position: absolute; inset: 0px; overflow: hidden; z-index: -1; visibility: hidden;">
                <div class="resize-sensor-expand" style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; z-index: -1; visibility: hidden;">
                    <div style="position: absolute; left: 0px; top: 0px; transition: all 0s ease 0s; width: 100000px; height: 100000px;"></div>
                </div>
                <div class="resize-sensor-shrink" style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; z-index: -1; visibility: hidden;">
                    <div style="position: absolute; left: 0; top: 0; transition: 0s; width: 200%; height: 200%"></div>
                </div>
            </div>
        </div>
        <!-- am-mainpanel -->

        <%- include('../../partials/client/popups/categoryitems'); %>
        <%- include('../../partials/client/popups/templates'); %>
        <%- include('../../partials/client/footer'); %>

        <script>
            // invoked from server.
            function callback(res)
            {


                var wi = res.width ; 
                var hi = res.height; 
                var canvas = document.getElementById('c').fabric;
                var wpx = (wi  * 96); 
                var hpx = (hi * 96);
                
                var wratio = (wpx <= 425)?wpx: wpx/2;
                var hratio = (hpx <= 700)?hpx: hpx/2;
                
                localStorage.setItem("canvasSettings",{ width: wi, height: hi}); 

                canvas.setDimensions({ width: wratio, height: hratio });


                $("#canvas-holder").width(wratio+30).height(hratio);
                $("#canvas-holder .lbl-width").text(`${wi} x ${hi} in`);
            }
            <% if(typeof errors!= 'undefined') { %>
                <%= executescript %>
            <%}else{%>
                callback({width:8.3,height:11})
            <%}%>
             
        </script>
    </div>
</div>
    </body>

</html>
