<html lang="en">
    <head><%- include('../../partials/client/head'); %> </head>

  <body data-new-gr-c-s-check-loaded="14.1063.0" data-gr-ext-installed="">
    <form action="/app/login" method="POST">
    <div class="am-signin-wrapper">
        <%- include('../../partials/client/topbar',{user:null}); %>

      <div class="am-signin-box">
        <div class="row no-gutters">
          <div class="col-lg-5">
            <div>
              <img src="/images/icon.jpg">
              <h2>KakePrints.com</h2>
              <p>Please enter your <b>Kopykake</b> login information. <br>
                
                <br> Or click <a href="https://www.kopykake.com/register/" class="tx-bold tx-underline">Sign up</a> to get your account registered at <b>Kopykake.com</b></p>
            </div>
          </div>
          <div class="col-lg-7">
            <%- include('../../partials/client/messages'); %>
            <br>
            <h5 class="tx-gray-800 mg-b-25">Sign In to Your Account</h5>
           
            <div class="form-group">
              <label class="form-control-label">Email:</label>
              <input type="email" name="email" value="<%=process.env.USR_EMAIL%>" class="form-control" placeholder="Enter your email address">
            </div><!-- form-group -->

            <div class="form-group">
              <label class="form-control-label">Password:</label>
              <input type="password" name="password" value="<%=process.env.USR_PASS%>" class="form-control" placeholder="Enter your password">
            </div><!-- form-group -->

            <label class="ckbox pd-b-10">
              <input type="checkbox" name="agreeterms" ><span><a href="#" class='tx-bold tx-underline' style="text-decoration: underline" id="terms-window" > I agree with the Terms and Conditions.</a></span>
            </label>

            <button type="submit" class="btn btn-block">Sign In</button>
            <label class="ckbox pd-b-10 pd-t-20">
              <a href="https://www.kopykake.com/password-reset/" class="tx-bold tx-underline">Forgot Password?</a>
            </label>

            <!-- <div class="form-group mg-b-20"><a href="">Reset password</a></div> -->
          </div><!-- col-7 -->
          
        </div><!-- row -->
        <p class="tx-12 mg-t-15" style="text-align:right; padding-right:12%" >Copyright © KakePrints  <%=new Date().getFullYear();%> | <a href="#" class='tx-bold tx-underline' style="text-decoration: underline" id="privacy-window" > Privacy Policy.</a></p>
      </div><!-- signin-box -->
      

    </div><!-- am-signin-wrapper -->
</form>
<%- include('../../partials/client/popups/terms'); %>

<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.js"></script>
<script src="/js/popper.js"></script>

<script src="/js/bootstrap.js"></script>
<script src="../js/amanda.js"></script>
  <script>
    
    
    $("#terms-window").on("click",function(e){
        var win = window.open("/app/terms", "Terms and Conditions.", "toolbar=no, location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,width="+(screen.width/2)+",height=500,top="+(screen.height-400)+",left="+(screen.width-200));
    })

  $("#privacy-window").on("click",function(e){
        var win = window.open("/app/privacy-policy", "Privacy Policy", "toolbar=no, location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,width="+(screen.width/2)+",height=500,top="+(screen.height-400)+",left="+(screen.width-200));
    })
  </script>

</body><grammarly-desktop-integration data-grammarly-shadow-root="true"></grammarly-desktop-integration></html>