<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../partials/client/head'); %> 
  </head>

  <body>

    <div class="ht-100v d-flex align-items-center justify-content-center">
      <div class="wd-lg-70p wd-xl-50p tx-center pd-x-40">
        <h1 class="tx-42 tx-bold tx-normal tx-gray-800 mg-b-0">Hello!</h1>
        <h5 class="tx-xs-24 tx-normal tx-orange mg-b-30 lh-5">You have received a design for printing from <br/><span class="tx-uppercase tx-bold"><%-data.name%></span>.</p>
        <div class="d-flex justify-content-center">
          <div>
            <a id="btn-download"  download="<%-data.filename%>" href="<%-data.dataUrl%>" class="btn btn-success tx-bold tx-uppercase hand soft">Download PDF</a>
          </div>
        </div><!-- d-flex -->

        <div class="tx-center mg-t-20 tx-16 tx-bold tx-inverse">Sent On: <%-new Date(data.created_dt)?.toLocaleString("en-US")%> </div>
      </div>
    </div><!-- ht-100v -->  
</body>
</html>
