
<div class="row">
<div class="col-lg-12">
    <div class="workarea">
        <div  id="canvas-holder">
            <div class="content tx-center">
                <canvas id="c"  ></canvas>                
            </div>
        </div>
    </div>
</div>
<!-- <div class="col-lg-3">
    <%- include('../../partials/client/rightpanel'); %>

</div> -->
</div>
<script>

    // var width = parseInt("<%=templateMeta.diameterIn%>");
    // var left = parseInt("<%=templateMeta.leftCm%>")
    // var top = parseInt("<%=templateMeta.topCm%>")
    // var shape = "<%=templateMeta.shape%>"
    // var rows = "<%=templateMeta.rows%>"
    // var columns = "<%=templateMeta.columns%>"
    
    // var meta = {
    //     width   : parseInt("<%=templateMeta.diameterIn%>"),
    //     left    : parseInt("<%=templateMeta.leftCm%>"),
    //     top     : parseInt("<%=templateMeta.topCm%>"),
    //     shape   : "<%=templateMeta.shape%>",
    //     rows    : parseInt("<%=templateMeta.rows%>"),
    //     columns : parseInt("<%=templateMeta.columns%>"),
    //     canvasSize : "<%=templateMeta.canvasSize%>",
    // }

    setTimeout(function(){
         //var canvaspreview = new fabric.Canvas('canvaspreview');
        // var c = document.getElementById("c").fabric;
       //  canvaspreview.clear();
    //     c.meta =  meta;
    //     c.setDimensions({width:250, height:250});
      //   canvaspreview.setDimensions({width:531.2, height:704});
      //   canvasPreview.globalCompositeOperation = 'source-atop';
         
    //     var defaultTemplateId = "FS1875X20C";
    //     var object = null; 
    //   fabric.loadSVGFromURL(`http://localhost:3000/api/svg-templates/${defaultTemplateId}`,function(objects,options){
    //         alert(1);
    //         var svgData = fabric.util.groupSVGElements(objects, options);            
    //         c.add(svgData);
    //         c.renderAll();
    //     })
      
        // if(shape == "circle")
        // {
        //     object = new fabric.Circle({
	    //     radius: (c.width) / 2,
	    //     fill: 'white',
	    //     left: 0,
	    //     top: 0
        //     }); 
        // }else{}
        //object.id = "sheet";
        //  canvaspreview.on('mouse:down', function(options){
       
        //  canvaspreview.clear();
        //      var dataURL = c.toDataURL({
        //        format: "svg"
               
        //    });

        //    fabric.Image.fromURL(dataURL, function(img) {
        //             img.set({ 
        //               left: 0, 
        //                top: 0,});

        //                canvaspreview.add(img);
        //         })
        //         canvaspreview.renderAll();
        // //    // alert(1);
        //  })
        // c.globalCompositeOperation = 'source-atop';
        // canvaspreview.add(object);

         //canvaspreview.item(0).selectable = false;
        // canvaspreview.renderAll(); 

        // c.add(object).renderAll();
       // canvaspreview.item(0)
    },1000)

</script>
