<div class="row mg-r-0">
    <!--Workspace Left Panel-->
<div class="col-lg-3 pd-l-0 pd-r-0">
    <div class="card">
        <div class="tab-content">
            
            <div  id="templatepanel" class="tab-pane active"   >
            <div   >
                  <div class="pd-x-10 tx-12 pd-y-10 bd-b"><b class="tx-primary tx-14">Choose a Template </b> <span class="pull-right"><a href="#" class="t">Total (<%=templates.length %>)</a></span></div>
                 <div class="d-flex svg-templates tx-center">
                  <%for(var i=0; i<templates.length; i++){ %>
                    <div id="<%=templates[i].code %>" class="template template-small" > 
                      <img src="<%=templates[i].base64 %>" style="width:93px"> 
                      <div class="tx-12  pd-y-5 lh-1"><span class="tx-bold"><%=templates[i].name %></span><div class="tx-primary"><%=templates[i].ref_code %></div></div>
                  </div>
                  <%}%> 
                </div>
            </div>
            </div>            
            <div id="uploadpanel" class="tab-pane"  >
                <div class="pd-x-10 tx-12 pd-y-10 bd-b"><b class="tx-primary tx-14">Upload an Image</b> </div>
                <%- include('../../partials/client/imgupload'); %>
            </div>
            <div id="clipartmenu" class="tab-pane"  >
                <div class="pd-x-10 tx-12 pd-y-10 bd-b"><b class="tx-primary tx-14">Choose Clipart</b> </div>
    
              <%- include('../../partials/client/clipart'); %>
            </div>
            <div id="shared-library" class="tab-pane"  >
    
              <%- include('../../partials/client/sharedlibrary'); %>
            </div>                          
            <div id="textmenu" class="tab-pane" >
                <div class="pd-x-10 tx-12 pd-y-10 bd-b"><b class="tx-primary tx-14">Add Text</b> </div>
    
                <%- include('../../partials/client/typo'); %>           
            </div>
             <%if(locals.page.id == "__my-projects"){ %>        
                <div id="myprojects" class="tab-pane" >
                  <%if(projects.length > 0) {%>
                    <div class="card pd-t-20 mg-b-1 tx-center">
                      <p class="tx-12" ><a href="#" id="use-template" class="start-over bg-primary">Continue Editing</a></p>
                  </div>
                    <%}%>
                 
    
                  <div class="pd-x-10 tx-12 pd-y-5"><b>Projects</b>&nbsp;<span class="text-danger">(You have max (<%=user.project_limit %>) projects quota.)</span><span class="pull-right"><a href="#">Total (<%=projects.length %>)</a></span></div>
    
                  <%if(projects.length == 0){%>
                    <div class="thumb"> 
                      <div class="tx-12 tx-bold pd-15">Please start designing and save your design.</div>
                  </div>
                  <%}%>
                  <div class="d-flex svg-templates tx-center" >
        
                    <%for(var i=0; i<projects.length;i++){%>
                      <div>
                        <div id="<%=projects[i].code %>" class="template template-small"> 
                          <img src="<%=projects[i].thumbBase64 %>" > 
                          <div class="tx-12 tx-bold pd-y-5"><%=projects[i].title %></div>               
                      </div>
                      <a href="#" id="del<%=projects[i].code %>" class="delete">Delete</a>
    
                      </div>
                    
                    <%}%>
                   
              </div>
          </div>
          <%}%>
    
          <%if(locals.page.id == "__pre-designed"){ %>
            <div id="pre-designed" class="tab-pane">
              <%if(predesigned.length == 0){%>
                <div class="thumb"> 
                  <img src="" style="width:100px"> 
                  <div class="tx-12 tx-bold pd-15">No Items.</div>
              </div>
              <%}%>
              <div class="d-flex svg-templates tx-center " >
    
                <%for(var i=0; i<predesigned.length;i++){%>
                  <div>
                    <div id="<%=predesigned[i].code %>" class="template template-small"> 
                      <img src="<%=predesigned[i].thumbBase64 %>" > 
                      <div class="tx-12 tx-bold pd-y-5"><%=predesigned[i].title %></div>               
                  </div>
                  <a href="#" id="del<%=predesigned[i].code %>" class="delete">Delete</a>
    
                  </div>
                
                <%}%>
               
          </div>
      </div>
      <%}%>        
      <%if(locals.page.id == "__templates"){ %>
        <div id="templatepanelall" class="tab-pane "  >
          <div class="pd-x-10 tx-12 pd-y-5"><b>Choose a Template</b><span class="pull-right"><a href="#">Total (<%=templates.length %>)</a></span></div>
        <div class="d-flex svg-templates tx-center">
    
    
          <%for(var i=0; i<templates.length; i++){ %>
            <div id="<%=templates[i].code %>" class="template template-small" > 
              <img src="<%=templates[i].base64 %>" > 
              <div class="tx-12 tx-bold pd-y-5"><%=templates[i].title %></div>
          </div>
          <%}%>  
    </div>
    </div>
      <%}%> 
            <!-- #settingMenu -->
        </div>
    </div>
</div>
<!-- Workspace canvas-->
<div class="col-lg-6">
    <div class="am-pagetitle bd-b pd-r-0"> <%= locals.page.title %>
    <div class="pull-right ">
          <div class="d-flex">
            <div id="btnDisplayRuler" >Ruler<div>Turn Off</div></div>
            <div id="btnDisplayGrid">Grid<div>Turn Off</div></div>
            
            <div class="tx-32 tx-normal pd-x-10" >
                <a href="/app/workspace" title="Start Over" class="ion-ios-refresh-outline tx-primary"> </a></div>  
          </div>
         
    </div>
    </div>
    <div class="card">
        <div class="workarea" id="workarea">
            <div  id="canvas-holder">
                <div class="content tx-center">
                    <canvas id="client-main-canvas"   ></canvas>
                    <canvas id="client-main-canvas-logo"  ></canvas>                    
                </div>
            </div>
        </div>
    </div>
    
</div>
<!--Workspace Right panel-->
<div class="col-lg-3 pd-x-0" id="workspace-right-panel" >
    <%- include('../../partials/client/rightpanel'); %>
</div>
</div>

<script> 
    $(".tab-content .tab-pane").each((i,e)=>
       { $(e).removeClass("active"); })
      $("#templatepanel").addClass("active");
      $("#menu-templates").addClass("bg-warning")
    window.onload = function()
   { 
        var code = '<%=code || "default" %>' ;
        var type = '<%=type%>';
        if(type === 'project'){
            loadUserProject(code);
        }else{
            loadSVGTemplate(code);

        }
        
    }
</script>
   
   