<style>
  <%fonts?.forEach((item)=>{%>
  @font-face{
    font-family:"<%=item.content.replace('.ttf','')%>";
    src:url("/fonts/<%=item.content%>");
    font-weight:normal;
    font-style:normal;
    
}                     
<%})%>
   
   </style>
<div class="row mg-r-0">
    <!--Workspace Left Panel-->
<div class="col-lg-3 pd-l-0 pd-r-0">
  
    <div class="leftpanel" id="menu-panel" >
        <div class="tab-content">
            
            <div  id="templatepanel" class="tab-pane active"   >
             
              <div class="pd-y-10 pd-l-10  sticky-header-left-panel">
                <button type="button" class="btn  btn-block btn-success tx-bold tx-16 tx-uppercase" id="btn-step-design">
                  SELECT TEMPLATE
<br><small >Then Click Here to begin <br/>creating your design</small></button>
               </div>

              <div style="overflow: auto; height: calc(100vh - 10px)">
                  <div class="row mg-0 sticky-body-left-panel">
                    <%for(var i=0; i<templates.length; i++){ %>
                      <%- include('../../partials/template',{template:templates[i]}); %>
                    <%}%>
                  </div>
              </div>
            </div>            
            <div id="uploadpanel" class="tab-pane"  >
              <div class="mg-10">
              <button type="button" class="btn-block bd-b mg-b-3 tx-16 tx-uppercase tx-bold btn btn-warning " onclick="$btnTemplate.click()" >
                <i class="icon ion-ios-arrow-back tx-16"></i>
                Back  <br><small >Choose Template</small>
              </button>
            </div>
                
                <%- include('../../partials/client/imgupload'); %>
                <div class="mg-10">
                  <button type="button" class="btn-block btn bd-b btn-success tx-bold tx-16 tx-uppercase " id="btn-step-preview">
                    NEXT  <i class="icon ion-ios-arrow-forward tx-16"></i> <br><small >Preview Design</small>
                  </button>
                </div>

            </div>
           
            <div id="shared-library" class="tab-pane"  >
    
              <%- include('../../partials/client/sharedlibrary'); %>
            </div>                          
            <div id="textmenu" class="tab-pane" >
                <div class="pd-x-10 tx-12 pd-y-10 bd-b"><b class="tx-primary tx-14">Add Text</b> </div>
    
            </div>
            <div id="savedesign" class="tab-pane">
              <div class="list-group widget-list-group bg-app-primary">
                <div class="list-group-item d-flex">
                  <div class="media d-block d-sm-flex">
                    <div class="media-body mg-t-10 mg-sm-t-0">
                      <h6 class="mg-b-5 tx-16 tx-uppercase">Save your Project</h6>
                      <p class="mg-b-0 tx-12 tx-white-5">You have saved <span class="tx-bold text-warning">(<%=projectCount%>)</span> projects, and you can save up to <span class="tx-bold text-warning">(<%=project_limit%>)</span> projects.</p>
                    </div><!-- media-body -->
                  </div><!-- media -->
                </div>
              </div>

              <div class="card pd-20 ">
               
                <div class="form-layout">
                  <div class="row ">
                    <div class="col-lg-12">
                      <div class="form-group">
                        <label class="form-control-label">Project Name: <span class="tx-danger">*</span></label>
                        <input class="form-control" minlength="3"  maxlength="50" pattern=".{3,30}" title="Minimum 3 and maximum 30 characters." required type="text" id="input-project-title" name="firstname"  >
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="form-group">
                        <label class="form-control-label">Description: </label>
                        <textarea rows="2" class="form-control" pattern=".{3,100}" title="Minimum 3 and maximum 100 characters." minlength="3"  maxlength="50"  id="input-project-desc" required  spellcheck="false"></textarea>
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="form-group">
                        <label class="form-control-label">Comments: </label>
                        <textarea rows="2" class="form-control" pattern=".{3,500}" title="Minimum 3 and maximum 500 characters." minlength="3"  maxlength="500"  id="input-project-comments" required  spellcheck="false"></textarea>
                        <div class="tx-12 pd-y-10">Please add comments for Admin assistance.</div>
                      </div>
                    </div>

                  </div><!-- row -->
      
                  <div class="btn-group" >
                    <button class="btn tx-12 btn-success  tx-bold tx-uppercase"  id="btnSaveModel">Save Project</button>
                    <button class="btn tx-12 btn-success  tx-bold tx-uppercase hidden"  id="btn-edit-project">Save Changes</button>
                    
                    <button class="btn tx-12 btn-warning tx-bold tx-uppercase" data-dismiss="modal" id="btnCancelSaveDesign">Cancel</button>
                  </div><!-- form-layout-footer -->
                </div><!-- form-layout -->
              </div>
              <div class="card">
                <div class="pd-x-15 tx-uppercase tx-14 tx-bold">Comments</div>
                
                <div id="user-comments-container" class="pd-x-15" style="overflow-y: auto; max-height: 300px;"></div>
              
              </div>
              
              


            </div>
            <div id="myprojects" class="tab-pane">
              <div class="list-group widget-list-group bg-app-primary">
                <div class="list-group-item d-flex">
                  <div class="media d-block d-sm-flex">
                    <div class="d-block d-sm-flex mg-sm-r-20">
                      <i class="ion-flag tx-24 tx-white"></i>
                    </div><!-- d-flex -->
                    <div class="media-body mg-t-10 mg-sm-t-0">
                      <h6 class="mg-b-5 tx-14">My Saved Projects</h6>
                      <p class="mg-b-0 tx-12 tx-white-5">You can save up to <b>(<%=project_limit%>)</b> projects.</p>
                    </div><!-- media-body -->
                  </div><!-- media -->
                </div>
              </div>
              <div class="card ">
                <div class="pd-20" id="myProjectContainer"></div>
             </div> 
            </div>
            <div id="library" class="tab-pane">
              <div class="list-group widget-list-group bg-app-primary">
                <div class="list-group-item d-flex">
                  <div class="media d-block d-sm-flex">
                    <div class="d-block d-sm-flex mg-sm-r-20">
                      <i class="ion-flag tx-24 tx-white"></i>
                    </div><!-- d-flex -->
                    <div class="media-body mg-t-10 mg-sm-t-0">
                      <h6 class="mg-b-5 tx-14">Pre Designed</h6>
                      <p class="mg-b-0 tx-12 tx-white-5">Use ready made design in your template.</p>

                    </div><!-- media-body -->
                  </div><!-- media -->
                </div>
              </div>
              <div class="card">
                <div class="card ">
                 <div class="mg-t-15 mg-sm-t-20" id="preDesignedContainer"></div>
              </div>  
              </div>
            </div>
            <!-- #settingMenu -->
        </div>
    </div>
</div>
<!-- Workspace canvas-->
<div class="col-lg-6">
  <div class="list-group widget-list-group bg-app-primary hidden" style="height:90px">
    <div class="list-group-item d-flex">
      <ul class="step d-flex flex-nowrap">
        <li class="step-item ">
          <a href="#!" class="" style="cursor:default">Select Template</a>
        </li>
        <li class="step-item active">
          <a href="#!" class="" style="cursor:default" >Create Design</a>
        </li>
        <li class="step-item ">
          <a href="#!" class="" style="cursor:default">Preview</a>
        </li>     
        <li class="step-item">
          <a href="#!" class="" style="cursor:default" >Download</a>
        </li>
      </ul> 
    </div>
  </div>

  <div class="alert alert-primary pd-y-20 hidden" role="alert" id="previewMsg">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
      <div class="d-sm-flex align-items-center justify-content-start">
        <i class="icon ion-ios-information alert-icon tx-52 mg-r-20"></i>
        <div class="mg-t-20 mg-sm-t-0">
          <p class="mg-b-0 tx-gray">
            Before you finalize your design, you may delete any unwanted Logos by simply deleting the Layer(s).  Any deleted Layers or other changes made in Preview Mode will be lost if you click Continue Editing. 
          </p>
        </div>
      </div><!-- d-flex -->
  </div>
   

    
    
    <div class="table-responsive">
      <div class="workarea" id="workarea" >
         <div class=" bg-primary bd-b pd-5 bd-t">
          <ul class="nav nav-white-800 flex-column flex-md-row justify-content-end" role="tablist">
            <li class="nav-item ">
            <button type="button" onclick="$('#btn-menu-peview').click()" class=" hand soft hidden btn btn-sm btn-success tx-12 tx-uppercase tx-bold bd-0 pd-x-20 " id="ws-btn-preview">Preview <br> Your Design</button>
          </li>

            <li class="nav-item ">

            <button type="button" data-toggle="modal" data-target="#downloadPDFModel" class="hand soft btn btn-sm btn-success tx-12 tx-uppercase tx-bold  bd-0 pd-x-20 hidden" id="ws-btn-download" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?" data-toggle="popover" ><i class="ion-checkmark-circled mg-r-5"></i> Finalize & Download <br> your PDF</button>
          </li>

            <li class="nav-item ">

            <button type="button" onclick="$('#menu-save-design').click()" class=" hand soft hidden btn btn-success btn-sm tx-12 tx-uppercase tx-bold bd-0 pd-x-20" id="ws-btn-save"><i class="fa fa-floppy-o mg-r-5"></i>Save <br>Your  Project</button>
          </li>

            <li class="nav-item ">
  
            <button type="button" onclick="backFromPreview()" class=" hand soft btn btn-danger tx-12 btn-sm tx-uppercase tx-bold  bd-0 pd-x-20 hidden" id="ws-btn-back"><i class="fa fa-pencil-square-o mg-r-5"></i> Continue Editing <br> Your Design</button>
          </li>

            <li class="nav-item ">
  
            <a href="#" id="btnStartOverModel" data-toggle="modal" data-target="#confirmbox"  class="soft btn btn-sm btn-danger bd-0 pd-x-20 mg-l-1 tx-12 tx-uppercase tx-bold" ><i class="ion-refresh mg-r-5"></i>Restart Designing from <br>the Beginning</a>
  
          </li>

          </ul>
        </div>
        
<!--toolbar-->
<%- include('../../partials/toolbar'); %>



        <div  id="canvas-holder" >
            <div class="content tx-center" id="canvas-holder-inner" >
                <canvas id="client-main-canvas"   ></canvas>
                <canvas id="client-main-canvas-logo"   ></canvas>                    
            </div>
        </div>
      
        <div class="paste-clipboard"  style="display: none;"  id="pasteClipboard">
         <span  onclick="parseClipboardData();"  > Paste from Clipboard</span>
      </div>
    </div>
    
    </div>
  </div>
   
    

<!--Workspace Right panel-->
<div class="col-lg-3 pd-x-0" id="workspace-right-panel" >
    <%- include('../../partials/client/popups/rfq.ejs',{user:user}); %>
</div>
</div>

<%- include('../../partials/canvas-controls',{banners:banners}); %>




 <!-- SMALL MODAL -->
 <div id="confirmbox" class="modal fade show">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content bd-0 tx-14 pd-10">
      <div class="modal-header pd-x-20">
        <h6 id="confirmBoxTitle" class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold pd-r-20">Are you sure?</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body pd-20">
        <p class="mg-b-5 tx-bold tx-danger" id="confirmBoxBody"></p>
      </div>
      <div class="modal-footer justify-content-center">
        <div class="btn-group">

        <button type="button" id="btnModelContinue" data-dismiss="modal" class="soft hand tx-12 tx-uppercase tx-bold  btn btn-success pd-x-20">Continue</button>
        <button type="button" id="btnConfirmBoxModalClose" class="soft hand btn btn-warning pd-x-20 tx-12 tx-uppercase tx-bold " data-dismiss="modal">Close</button>
      </div>

      </div>
    </div>
  </div><!-- modal-dialog -->
</div>
<!-- modal -->

 <!-- SMALL MODAL -->
 <div id="noticebox" class="modal fade">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content bd-0 tx-14">
      <div class="modal-header pd-x-20">
        <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">Notice</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body pd-20">
        <p class="mg-b-5" id="noticeboxBody"></p>
      </div>
      <div class="modal-footer justify-content-center">
        <div class="btn-group">
        <button type="button" class="btn btn-warning pd-x-20 tx-12 tx-uppercase tx-bold " id="btn-close-notice" data-dismiss="modal">Close</button>
      </div>

      </div>
    </div>
  </div><!-- modal-dialog -->
</div><!-- modal -->



<div id="downloadPDFModel" class="modal fade">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content bd-0 tx-14">
      <div class="modal-header pd-x-20">
        <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">Finalize Your Design</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body pd-20">
        <input type="text" id="downloadFileName" class="form-control" placeholder="Enter File Name">
        <span class="error hidden tx-12 tx-bold pd-y-5">Please Enter File Name</span>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" id="btnGenerateAndDownloadPDF"  class=" hand soft tx-bold btn-sm tx-12 tx-uppercase btn btn-success pd-x-20">
          Download your design <br> as a ready to print PDF</button>
        <button type="button" id="btnRFQ" class=" hand soft tx-bold btn btn-sm tx-12 tx-uppercase btn-primary pd-x-20">
          Send your design to <br>Kopykake for a Printing Quote</button>
      </div>
    </div>
  </div>
</div>



<%- include('../../partials/popup-crop'); %>
<%- include('../../partials/client/popups/popup-clipart'); %>
<%- include('../../partials/client/popups/faq'); %>
<%- include('../../partials/client/popups/terms'); %>

<div id="my-proj-modal" class="modal fade" aria-hidden="true" >
  <div class="modal-dialog modal-lg modal-dialog-vertical-center " role="document">
    <div class="modal-content bd-0">
      <div class="modal-header pd-y-20 pd-x-25">
        <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">My Saved Projects</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body pd-25">
        <div class="row row-sm" id="my-proj-container"></div>      
      </div>
    </div>
   </div>
</div>

   <div id="shared-lib-modal" class="modal fade" aria-hidden="true" >
    <div class="modal-dialog modal-lg modal-dialog-vertical-center " role="document">
      <div class="modal-content bd-0">
        <div class="modal-header pd-y-20 pd-x-25">
          <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">KakePrints Designs Library</h6>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body pd-25">
          <div class="row row-sm my-flex-card" id="kp-designs-container">
  
          </div>      
        </div>
      </div>
     </div>
                        <!-- modal-dialog -->
                    </div>
<div id="rfq_confirm" class="modal fade" aria-hidden="true" >
  <div class="modal-dialog modal-md modal-dialog-vertical-center " role="document">
    <div class="modal-content bd-0">
      <div class="modal-header pd-y-20 pd-x-25">
        <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">Notice</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body pd-25">
        <h4 class="lh-4 mg-b-20 tx-inverse">Your print request has been sent to Kopykake.</h4>
        <p class="mg-b-5">Please look for an email from Kopykake with a quote for your job. PLEASE NOTE: Print jobs are not processed for printing until order is confirmed and paid. </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary pd-x-20" data-dismiss="modal" >Ok</button>
      </div>
    </div>
   </div>
   <input type="hidden" id="fileupload_max_limit" value="<%= settings.file_size_limit || 5%>">
<script>
    var FILE_SIZE_LIMIT = <%=settings?.file_size_limit%>;
    var BANNER_DELAY = <%=settings?.banner_delay%>;

    $(document).ready(function()
   { 
        $loader.removeClass("hidden")
        var code = '<%=code || "default" %>' ;
        var type = '<%=type%>';        
        loadSVGTemplate(code);
        $('[data-toggle="popover"]').popover()

   })


</script>
   
