<div class="row">
    <!--Workspace Left Panel-->
<div class="col-lg-3 pd-l-0 pd-r-0">
    <div class="card">
        <div class="tab-content">
            
            <div  id="templatepanel" class="tab-pane active"   >
            <div   >
                  <div class="pd-x-10 tx-12 pd-y-5 bd-r-1 bg-light-blue"><b>Choose a Template </b> <span class="pull-right"><a href="/app/templates">View (<%=templates.length %>)</a></span></div>
                 <div class="d-flex svg-templates tx-center">
                  <%for(var i=0; i<templates.length; i++){ %>
                    <div id="<%=templates[i].code %>" class="template template-small" > 
                      <img src="<%=templates[i].base64 %>" style="width:93px"> 
                      <div class="tx-12 tx-bold pd-y-5 lh-1"><%=templates[i].title %></div>
                  </div>
                  <%}%> 
                </div>
            </div>
            </div>            
            <div id="uploadpanel" class="tab-pane"  >
                <div class="pd-x-10 tx-12 pd-y-5 bd-r-1 bg-light-blue"><b>Upload an Image</b> </div>
                <%- include('../../partials/client/imgupload'); %>
            </div>
            <div id="clipartmenu" class="tab-pane"  >
              <div class="pd-x-10 tx-12 pd-y-5 bd-r-1 bg-light-blue"><b>Choose Clipart</b> <span class="pull-right"><a href="/app/cliparts">View (0)</a></span></div>
    
              <%- include('../../partials/client/clipart'); %>
            </div>
            <div id="shared-library" class="tab-pane"  >
    
              <%- include('../../partials/client/sharedlibrary'); %>
            </div>                          
            <div id="textmenu" class="tab-pane" >
              <div class="pd-x-10 tx-12 pd-y-5 bd-r-1 bg-light-blue"><b>Add your text</b></div>
    
                <%- include('../../partials/client/typo'); %>           
            </div>
             <%if(locals.page.id == "__my-projects"){ %>        
                <div id="myprojects" class="tab-pane" >
                  <%if(projects.length > 0) {%>
                    <div class="card pd-t-20 mg-b-1 tx-center">
                      <p class="tx-12" ><a href="#" id="use-template" class="start-over bg-primary">Continue Editing</a></p>
                  </div>
                    <%}%>
                 
    
                  <div class="pd-x-10 tx-12 pd-y-5"><b>Projects</b>&nbsp;<span class="text-danger">(You have max (<%=user.project_limit %>) projects quota.)</span><span class="pull-right"><a href="#">Total (<%=projects.length %>)</a></span></div>
    
                  <%if(projects.length == 0){%>
                    <div class="thumb"> 
                      <div class="tx-12 tx-bold pd-15">Please start designing and save your design.</div>
                  </div>
                  <%}%>
                  <div class="d-flex svg-templates tx-center" >
        
                    <%for(var i=0; i<projects.length;i++){%>
                      <div>
                        <div id="<%=projects[i].code %>" class="template template-small"> 
                          <img src="<%=projects[i].thumbBase64 %>" > 
                          <div class="tx-12 tx-bold pd-y-5"><%=projects[i].title %></div>               
                      </div>
                      <a href="#" id="del<%=projects[i].code %>" class="delete">Delete</a>
    
                      </div>
                    
                    <%}%>
                   
              </div>
          </div>
          <%}%>
    
          <%if(locals.page.id == "__pre-designed"){ %>
            <div id="pre-designed" class="tab-pane">
              <%if(predesigned.length == 0){%>
                <div class="thumb"> 
                  <img src="" style="width:100px"> 
                  <div class="tx-12 tx-bold pd-15">No Items.</div>
              </div>
              <%}%>
              <div class="d-flex svg-templates tx-center " >
    
                <%for(var i=0; i<predesigned.length;i++){%>
                  <div>
                    <div id="<%=predesigned[i].code %>" class="template template-small"> 
                      <img src="<%=predesigned[i].thumbBase64 %>" > 
                      <div class="tx-12 tx-bold pd-y-5"><%=predesigned[i].title %></div>               
                  </div>
                  <a href="#" id="del<%=predesigned[i].code %>" class="delete">Delete</a>
    
                  </div>
                
                <%}%>
               
          </div>
      </div>
      <%}%>        
      <%if(locals.page.id == "__templates"){ %>
        <div id="templatepanelall" class="tab-pane "  >
          <div class="pd-x-10 tx-12 pd-y-5"><b>Choose a Template</b><span class="pull-right"><a href="#">Total (<%=templates.length %>)</a></span></div>
        <div class="d-flex svg-templates tx-center">
    
    
          <%for(var i=0; i<templates.length; i++){ %>
            <div id="<%=templates[i].code %>" class="template template-small" > 
              <img src="<%=templates[i].base64 %>" > 
              <div class="tx-12 tx-bold pd-y-5"><%=templates[i].title %></div>
          </div>
          <%}%>  
    </div>
    </div>
      <%}%> 
            <!-- #settingMenu -->
        </div>
    </div>
</div>
<!-- Workspace canvas-->
<div class="col-lg-6">
    <div class="am-pagetitle bd-l pd-r-0"> <%= locals.page.title %>
    <div class="pull-right ">
          <div class="d-flex">
            <div><i class="ion-grid tx-32" id="btnDisplayGrid"></i></div>
            <div class="tx-32 tx-normal pd-x-10" ><a href="/app/workspace" title="Start Over" class="ion-ios-refresh-outline tx-primary"> </a></div>  
          </div>
         
    </div>
    </div>
    <div class="card">
        <div class="workarea" id="workarea">
            <div  id="canvas-holder">
                <div class="content tx-center">
                    <canvas id="client-main-canvas"   ></canvas>
                    <canvas id="client-main-canvas-logo"  ></canvas>                    
                </div>
            </div>
        </div>
    </div>
    
</div>
<!--Workspace Right panel-->
<div class="col-lg-3 pd-x-0" id="workspace-right-panel" >
    <div class="pd-10 tx-center mg-b-1 card main-ctrl" id="repeat-image-ctrl">
        <!-- <div  id="repeatdesign">
    
            <div class="toggle toggle-light primary mg-auto disabled" style="height: 22px; width: 50px;">
                <div class="toggle-slide">
                    <div class="toggle-inner" style="width: 78px; margin-left: 0px;">
                        <div class="toggle-on active" style="height: 22px; width: 39px; text-indent: -7.33333px; line-height: 22px;">ON</div>
                        <div class="toggle-blob" style="height: 22px; width: 22px; margin-left: -11px;"></div>
                        <div class="toggle-off" style="height: 22px; width: 39px; margin-left: -11px; text-indent: 7.33333px; line-height: 22px;">OFF</div>
                    </div>
                </div>
            </div>
            <div class="pd-y-10">Repeat to each logo.</div>
            
            
        </div> -->
      
        <div  >
            <a href="#" class="apply  start-over bg-primary">Apply to All</a>
            <a href="#" class="cancel start-over">Done</a>
            
            
        </div>
    </div>
    <div class="card pd-20 bg-b-1 img-ctrl hidden">
        <h6 class="tx-12 tx-uppercase tx-inverse tx-bold mg-b-15">Color & Brightness</h6>        
        <div class="tx-12" >
            <div ><b>Brightness <span id="brightnessVal"></span></b></div>
            <input type="range" min="-1" max="1" value="0.0" class="slider " step="0.003921" style="width:100%;height:2px" id="brightness-value">
            <div><b>Contrast <span id="contrastVal"></span></b></div>
            <input type="range" min="-1" max="1" value="0.0" class="slider" step="0.003921" style="width:100%;height:2px" id="contrast-value">          
            <b class="ion-record tx-22" id="btnGrayscale"></b> &nbsp; Grayscale
        </div>
    </div>
    <div class="card pd-20 mg-t-1 img-ctrl hidden">
        <h6 class="tx-12 tx-uppercase tx-inverse tx-bold mg-b-15">Size</h6>
        <div class="d-flex mg-b-10">
            <div class="bd-r pd-r-10">
              <label class="tx-12 ">Crop</label>
              <p class="tx-center tx-22">
                <i class="ion-crop" id="crop"></i>
              </p>
              
            </div>
            <div class="bd-r pd-x-10">
              <label class="tx-12 " >Rotate</label>
              <p class="tx-center tx-22">
                <i class="ion-loop " id="rotate"></i>
              </p>                
            </div>
           
            <div class="pd-x-10 bd-r">
                <label class="tx-12" >FlipX</label>
                <p class="tx-center tx-22">
                  <i class="ion-arrow-swap" id="flipW"></i>
                </p>
              </div>
              <div class="pd-l-10">
                <label class="tx-12" >FlipY</label>
                <p class="tx-center tx-22" style="transform:rotate(90deg)">
                    <i class="ion-arrow-swap" id="flipH" ></i>
                </p>
              </div>
          </div>        
    </div>
    <div class="card pd-20" id="template-info-panel">
        <h6 class="tx-12 tx-uppercase tx-inverse tx-bold mg-b-15"  >Template Details</h6>
        <div class="d-flex mg-b-10 tx-center">
          <div class="bd-r pd-r-10 ">
            <label class="tx-12 ">Page Size</label>
            <p class="tx-lato tx-inverse tx-bold page-size">-</p>
          </div>
          <div class="bd-r pd-x-10">
            <label class="tx-12 ">Logo Size</label>
            <p class="tx-lato tx-inverse tx-bold logo-size">-</p>
          </div>
          <div class="pd-l-10">
            <label class="tx-12 ">Total Logos</label>
            <p class="tx-lato tx-inverse tx-bold total-logos">-</p>
          </div>
        </div><!-- d-flex -->
      
        <p class="tx-12 mg-b-0 page-title">-</p>
        <div class="tx-12"><b>KopyKake Part #:</b>  <span class="kk-part-no"></span></div>
        <div class="tx-12"><b>KopyKake Link:</b>  <span class="kk-part-link"></span></div>

    </div>
</div>
</div>

<script> 
    $(".tab-content .tab-pane").each((i,e)=>
       { $(e).removeClass("active"); })
      $("#templatepanel").addClass("active");
      $("#menu-templates").addClass("bg-warning")
    window.onload = function()
   { 
        var code = '<%=template.code%>' || 'default'
        loadSVGTemplate(code);
    }
</script>
   
   