<div class="col-md-3 col-lg-4 pd-0  bd template" id="<%=template.code %>">
    <div class="card pd-5" >
      <img class="card-img-top img-fluid pd-b-10"style="height:150px; top:0px" src="/uploads/admin/template/template-<%=template.code %><%=template.file_ext %>" alt="Image">
      <h5 class="tx-14 tx-primary tx-bold pd-x-5" style="height:45px;overflow:hidden" title="<%=template.title %>"><%=template.title %></h5>
    </div>
</div>