   



<div class="row" >

  <div class="col-lg-12  " >

    <div class="nav am-sideleft-menu pd-0">
    
      <%cliparts?.forEach(clipart=>{ %>
       
        <div class="nav-item">
          <a href="#" class="nav-link with-sub text-primary tx-12 tx-bold tx-uppercase">
            <span><%=clipart.categoryName%> </span><span class="tx-bold mg-l-10">(<%= clipart.items.length %>)</span>
          </a>
       
            <div class="nav-sub" style="display: none;">
              <div class="row" id="clipartContainer">

              <%clipart.items.forEach(item=>{ %>
              
                <div style="background-color:white;min-height: 60px; min-width: 60px;" class=" nav-item col-lg-3 col-md-3 col-sm-6 col-xs-12 pd-2   clipart" data-title="<%=item.title %>" data-url="<%=item.path%>" data-target="#clipartModal" data-toggle="modal">
                  <div class="tx-center">
                      <img style="max-width:60px; max-height:60px" onerror="this.src='<%=item.path%>'" class="pd-b-10 " src="<%=item.thumb%>" alt="">                 
                  </div>
              </div>
                
                <%})%>
              </div>
            </div>

       
              
            </div>
       
    
   <%})%>
      </div>
  </div>


      
    </div>

