<div class="am-sideleft">
    <%- include('../../partials/client/toolbar'); %>
    <div class="tab-content">
        <div id="mainMenu" class="tab-pane ps ps--theme_default " >
            <ul class="nav am-sideleft-menu">
                <li class="nav-item">
                    <a href="/app/dashboard" class="nav-link">
                        <i class="icon ion-ios-home-outline"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <!-- nav-item -->
                <li class="nav-item">
                    <a href="http://themepixels.me/demo/amanda/app/index.html?storefront=envato-elements" class="nav-link with-sub">
                        <i class="icon ion-ios-gear-outline"></i>
                        <span>Pattern Library (<%= categories.length || 0 %>)</span>
                    </a>
                    <ul class="nav-sub " style="display: block;">
                        <% for(var i=0; i< categories.length; i++) {  %>
                            <li class="nav-item " >
                                <a data-toggle="modal" id="<%=categories[i]._id %>"  data-target="#popupcategoryitems" href="/app/admin/category/<%= categories[i]._id %>" code="<%= categories[i].code %>" class="nav-link categoryitem" ><%= categories[i].name %>
                                    <sup>(<%= categories[i].items.length %>)</sup>
                                </a>
                            </li>
                        <%} %>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" data-target="#templates" data-toggle="modal" class="nav-link">
                        <i class="icon ion-ios-keypad-outline"></i>
                        <span>Templates (<%= templates.length %>)</span>
                    </a>
                </li>
            </ul>
            <div class="ps__scrollbar-x-rail" style="left: 0px; bottom: 0px;">
                <div class="ps__scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
            </div>
            <div class="ps__scrollbar-y-rail" style="top: 0px; right: 0px;">
                <div class="ps__scrollbar-y" tabindex="0" style="top: 0px; height: 0px;"></div>
            </div>
        </div>
        <div id="clipartmenu" class="tab-pane ps ps--theme_default" >
            <%- include('../../partials/client/clipart'); %>
        </div>
        <!-- #mainMenu -->
        <div id="templatemenu" class="tab-pane ps ps--theme_default active" >
            <%- include('../../partials/client/templates'); %>
        </div>
        <!-- #emailMenu -->
        <div id="textmenu" class="tab-pane ps ps--theme_default">
            <%- include('../../partials/client/typo'); %>
        </div>
        <!-- #chatMenu -->
        <div id="settingMenu" class="tab-pane ps ps--theme_default ">
            <%- include('../../partials/client/imgupload'); %>
        </div>
        <!-- #settingMenu -->
    </div>
    <!-- tab-content -->
</div>

