<div class="am-sideleft" id="toolbar">
    <!-- <%- include('../../partials/client/toolbar'); %> -->
    <div class="d-flex flex-column flex-shrink-0 bg-light sidebar " >
       
        <ul class="nav nav-pills nav-flush flex-column mb-auto text-center main-buttons am-sideleft-tab">
          <li class="nav-item">
            <a href="#uploadpanel" class="nav-link pd-y-10 lh-1  border-bottom" aria-current="page" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
                <i class="ion-images tx-24 tx-white"></i>
                <div class="visually-hidden tx-12 tx-white">Images</div>
            </a>
          </li>
          <li>
            <a href="#" id="btnTemplate" class="pd-y-10 lh-1  border-bottom" aria-current="page" title="" >
                <i class="ion-ios-keypad-outline tx-24 tx-white"></i>
                <div class="visually-hidden tx-12 tx-white my-proj">Templates <sup class="tag"><%=templates.length || 0 %></sup></div>
            </a>
          </li>
          <li>
            <a href="#" class="nav-link pd-y-10 lh-1  border-bottom" aria-current="page" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
                <i class="ion-ios-keypad tx-24 tx-white"></i>
                <div class="visually-hidden tx-12 tx-white">Pre-Designed</div>
            </a>
          </li>
          <li>
            <a href="#textmenu" id="btnTextMenu" class="nav-link pd-y-10 lh-1  border-bottom" aria-current="page" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
                <i class="ion-social-tumblr tx-24 tx-white"></i>
                <div class="visually-hidden tx-12 tx-white">Text</div>
            </a>
          </li>
          <li>
            <a href="#clipartmenu" class="nav-link pd-y-10 lh-1  border-bottom" aria-current="page" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
                <i class="ion-ios-paw tx-24 tx-white"></i>
                <div class="visually-hidden tx-12 tx-white">Clipart</div>
            </a>
          </li>
          <li>
            <a href="#" id="btnMyProject" class="pd-y-10 lh-1  border-bottom"  title="" >
                <i class="ion-ios-bookmarks tx-24 tx-white"></i>
                <div class="visually-hidden tx-12 tx-white my-proj">My Projects <sup class="tag"><%=projects.length %></sup></div>
            </a>
          </li>
         
        </ul>
    
       
      </div>
     
    <div class="tab-content">
        <div id="mainMenu" class="tab-pane " >
            <!-- <%- include('../../partials/client/canvas'); %>  -->
            <!-- <%- include('../../partials/client/layers'); %> -->
        </div>
        <div id="templatepanel" class="tab-pane pd-15" >
           <div class="d-flex svg-templates tx-center" >
            <%for(var i=0; i<templates.length;i++){%>
              <div id="<%=templates[i].code %>" class="template"> 
                <img src="<%=templates[i].base64 %>" style="width:100px"> 
                <div class="tx-12 tx-bold pd-y-5"><%=templates[i].title %></div>
            </div>
            <%}%>
               
          </div>
        </div>
        <div id="uploadpanel" class="tab-pane active" >
            <%- include('../../partials/client/imgupload'); %>
            <%- include('../../partials/client/layers'); %>
        </div>
        <div id="clipartmenu" class="tab-pane" >
            <%- include('../../partials/client/clipart'); %>
        </div>
        <!-- #mainMenu -->
        <div id="templatemenu" class="tab-pane" >
            <%- include('../../partials/client/templates'); %>
        </div>
        <!-- #emailMenu -->
        <div id="textmenu" class="tab-pane">
            <%- include('../../partials/client/typo'); %>
           
        </div>
         <!-- #chatMenu -->
         <div id="myprojects" class="tab-pane">
          <%if(projects.length == 0){%>
            <div class="thumb"> 
              <img src="" style="width:100px"> 
              <div class="tx-12 tx-bold pd-15">No projects.</div>
          </div>
          <%}%>
          <div class="d-flex svg-templates tx-center" >
 
            <%for(var i=0; i<projects.length;i++){%>
              <div>
                <div id="<%=projects[i].code %>" class="template"> 
                  <img src="<%=projects[i].thumbBase64 %>" style="width:100px"> 
                  <div class="tx-12 tx-bold pd-y-5"><%=projects[i].title %></div>               
              </div>
              <a href="#" id="del<%=projects[i].code %>" class="delete">Delete</a>

              </div>
             
            <%}%>
               
          </div>
      </div>
        <!-- #settingMenu -->
    </div>
    <!-- tab-content -->
</div>

