<div class="am-sideleft" id="toolbar">
    <!-- <%- include('../../partials/client/toolbar'); %> -->

    <div class="d-flex flex-column flex-shrink-0 bg-light sidebar " >
       
        <ul class="nav nav-pills nav-flush flex-column mb-auto text-center main-buttons am-sideleft-tab">
          <li>
            <a href="#" id="btnTemplate" class="pd-y-10 lh-1  border-bottom" aria-current="page" title="" >
                <i class="ion-ios-compose tx-24 tx-white"></i>
                <div class="visually-hidden tx-12 tx-white ">Start Designing </sup></div>
            </a>
          </li>

          <%if(locals.page.id == "__workspace"){ %>
        <li class="nav-item">
            <a href="#uploadpanel" class="nav-link pd-y-10 lh-1  border-bottom" aria-current="page" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
                <i class="ion-ios-keypad-outline tx-24 tx-white"></i>
                <div class="visually-hidden tx-12 tx-white my-proj">Templates <sup class="tag"><%=templates.length || 0 %></div>
            </a>
          </li>
          <li>
            <a href="#clipartmenu" class="nav-link  pd-y-10 lh-1  border-bottom" aria-current="page" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
                <i class="ion-ios-paw tx-24 tx-white"></i>
                <div class="visually-hidden tx-12 tx-white">Clipart</div>
            </a>
          </li>
          <li>
            <a href="#textmenu" id="btnTextMenu" class="nav-link pd-y-10 lh-1  border-bottom" aria-current="page" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
                <i class="ion-social-tumblr tx-24 tx-white"></i>
                <div class="visually-hidden tx-12 tx-white">Text</div>
            </a>
          </li>
<%}else{%>
  <li class="nav-item">
    <a href="/app/templates" class="pd-y-10 lh-1  border-bottom" aria-current="page" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
        <i class="ion-ios-keypad-outline tx-24 tx-white"></i>
        <div class="visually-hidden tx-12 tx-white my-proj">Templates <sup class="tag"><%=templates.length || 0 %></div>
    </a>
  </li>
<li>
  <a href="/app/cliparts" class="pd-y-10 lh-1  border-bottom" aria-current="page" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
      <i class="ion-ios-paw tx-24 tx-white"></i>
      <div class="visually-hidden tx-12 tx-white">Clipart</div>
  </a>
</li>
  <%}%>

          <li>
            <a href="/app/pre-designed" class=" pd-y-10 lh-1  border-bottom" aria-current="page" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
                <i class="ion-ios-keypad tx-24 tx-white"></i>
                <div class="visually-hidden tx-12 tx-white">Pre-Designed</div>
            </a>
          </li>
        
         
          <li>
            <a href="#" id="btnMyProject" class="pd-y-10 lh-1  border-bottom"  title="" >
                <i class="ion-ios-bookmarks tx-24 tx-white"></i>
                <div class="visually-hidden tx-12 tx-white my-proj">My Projects </div>
            </a>
          </li>
         
        </ul>
    
       
      </div>
      <div style="position:absolute;left:72px;z-index:100;top:0;width:328px">

     
      <%- include('../../partials/client/imgupload'); %>
    </div>
    <div class="tab-content">
        <div id="mainMenu" class="tab-pane " >
            <!-- <%- include('../../partials/client/canvas'); %>  -->
            <!-- <%- include('../../partials/client/layers'); %> -->
        </div>
      
        <%if(locals.page.id == "__workspace"){ %>
        <div id="uploadpanel" class="tab-pane active" style="top:128px" >

            <div id="templatepanel"  >
              <div class="pd-x-10 tx-12 pd-y-5"><b>Templates</b> <span class="pull-right"><a href="/app/templates">View (<%=templates.length %>)</a></span></div>
             <div class="d-flex svg-templates tx-center">
              <%for(var i=0; i<templates.length; i++){ %>
                <div id="<%=templates[i].code %>" class="template template-small" > 
                  <img src="<%=templates[i].base64 %>" style="width:93px"> 
                  <div class="tx-12 tx-bold pd-y-5 lh-1"><%=templates[i].title %></div>
              </div>
              <%}%> 
            </div>
            
           </div>
               
          
          
        </div>
    
        <div id="clipartmenu" class="tab-pane" style="top:128px" >
          <div class="pd-x-10 tx-12 pd-y-5"><b>Cliparts</b> <span class="pull-right"><a href="/app/cliparts">View (0)</a></span></div>

          <%- include('../../partials/client/clipart'); %>
        </div>
        
        <%}%>

        
      
        <!-- #emailMenu -->
        <div id="textmenu" class="tab-pane" style="top:128px">
            <%- include('../../partials/client/typo'); %>           
        </div>
    

         <!-- #chatMenu -->
         <%if(locals.page.id == "__my-projects"){ %>
            <div id="myprojects" class="tab-pane" style="top:128px">
              <div class="pd-x-10 tx-12 pd-y-5"><b>Projects</b>&nbsp;<span class="text-danger">(You have max (<%=user.project_limit %>) projects quota.)</span><span class="pull-right"><a href="#">Total (<%=projects.length %>)</a></span></div>

              <%if(projects.length == 0){%>
                <div class="thumb"> 
                  <img src="" style="width:100px"> 
                  <div class="tx-12 tx-bold pd-15">No projects.</div>
              </div>
              <%}%>
              <div class="d-flex svg-templates tx-center" >
    
                <%for(var i=0; i<projects.length;i++){%>
                  <div>
                    <div id="<%=projects[i].code %>" class="template template-small"> 
                      <img src="<%=projects[i].thumbBase64 %>" > 
                      <div class="tx-12 tx-bold pd-y-5"><%=projects[i].title %></div>               
                  </div>
                  <a href="#" id="del<%=projects[i].code %>" class="delete">Delete</a>

                  </div>
                
                <%}%>
               
          </div>
      </div>
      <%}%>

      <%if(locals.page.id == "__pre-designed"){ %>
        <div id="pre-designed" class="tab-pane">
          <%if(predesigned.length == 0){%>
            <div class="thumb"> 
              <img src="" style="width:100px"> 
              <div class="tx-12 tx-bold pd-15">No Items.</div>
          </div>
          <%}%>
          <div class="d-flex svg-templates tx-center " >

            <%for(var i=0; i<predesigned.length;i++){%>
              <div>
                <div id="<%=predesigned[i].code %>" class="template template-small"> 
                  <img src="<%=predesigned[i].thumbBase64 %>" > 
                  <div class="tx-12 tx-bold pd-y-5"><%=predesigned[i].title %></div>               
              </div>
              <a href="#" id="del<%=predesigned[i].code %>" class="delete">Delete</a>

              </div>
            
            <%}%>
           
      </div>
  </div>
  <%}%>

  <%if(locals.page.id == "__templates"){ %>
    <div id="templatepanel" class="tab-pane d-flex svg-templates tx-center" style="top:128px;" >
  <%for(var i=0; i<templates.length; i++){ %>
    <div id="<%=templates[i].code %>" class="template template-small" > 
      <img src="<%=templates[i].base64 %>" > 
      <div class="tx-12 tx-bold pd-y-5"><%=templates[i].title %></div>
  </div>
  <%}%>  
</div>
  <%}%> 
        <!-- #settingMenu -->
    </div>
   

    <!-- tab-content -->
</div>

