<html lang="en">
    <head><%- include('../partials/_head'); %></head>
    <!-- <script async="" src="/scripts/topperoo.js?with-mobile-ui=yes"></script><script async="" type="text/javascript" src="/scripts/count.js"></script><script type="text/javascript" src="/scripts/pub_8ab6df93f8df6073c05a.js?v=28"></script></head> -->
    <body 
        class="page-template-default page page-id-12 handheld mobile android chrome  not-login" 
        data-spy="scroll" 
        data-offset="61" 
        data-target=".nav-collapse" 
        data-new-gr-c-s-check-loaded="14.1060.0" 
        data-gr-ext-installed="">
        
        <%- include('../partials/_header'); %>
        <%- include('../partials/leftpanel'); %>
        <%- include('../partials/_workspace'); %>
        <%- include('../partials/_footer'); %>
        <!-- <div class="tpr-dialog lightbox mfp-hide" id="paidUserOnlyModal">
            <h2 style="text-transform: none">Already have a Topperoo account? <a href="https://topperoo.com/login">Log in here!</a></h2>
            <p><a class="tpr-button" style="padding:0.7rem 1.1rem;" href="https://topperoo.com/register">Register</a></p>
            <p>Don’t worry, your current design will be saved!</p>
        </div> -->
    </body>
</html>