<!DOCTYPE html>
<!-- saved from url=(0075)http://themepixels.me/demo/amanda/app/index.html?storefront=envato-elements -->
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>

    <body data-new-gr-c-s-check-loaded="14.1060.0" data-gr-ext-installed="" class="">

        <div class="am-header">
            <div class="am-header-left">
                <a id="naviconLeft" href="/" class="am-navicon d-none d-lg-flex">
                    <i class="icon ion-navicon-round"></i>
                </a>
                <a id="naviconLeftMobile" href="http://themepixels.me/demo/amanda/app/index.html?storefront=envato-elements" class="am-navicon d-lg-none">
                    <i class="icon ion-navicon-round"></i>
                </a>
                <a href="http://themepixels.me/demo/amanda/app/index.html" class="am-logo">digitrendz</a>
            </div>
            <!-- am-header-left -->

            <div class="am-header-right">
                <div class="dropdown dropdown-notification">
                    <a href="http://themepixels.me/demo/amanda/app/index.html?storefront=envato-elements" class="nav-link pd-x-7 pos-relative" data-toggle="dropdown">
                        <i class="icon ion-ios-bell-outline tx-24"></i>
                        <!-- start: if statement -->
                        <span class="square-8 bg-danger pos-absolute t-15 r-0 rounded-circle"></span>
                        <!-- end: if statement -->
                    </a>
                    <div class="dropdown-menu wd-300 pd-0-force">
                        <div class="dropdown-menu-header">
                            <label>Notifications</label>
                            <a href="http://themepixels.me/demo/amanda/app/index.html?storefront=envato-elements">Mark All as Read</a>
                        </div>
                        <!-- d-flex -->

                        <div
                            class="media-list">
                            <!-- loop starts here -->
                            <a href="http://themepixels.me/demo/amanda/app/index.html?storefront=envato-elements" class="media-list-link read">
                                <div class="media pd-x-20 pd-y-15">
                                    <img src="/theme/assets/img8.jpg" class="wd-40 rounded-circle" alt="">
                                    <div class="media-body">
                                        <p class="tx-13 mg-b-0">
                                            <strong class="tx-medium">Suzzeth Bungaos</strong>
                                            tagged you and 18 others in a post.</p>
                                        <span class="tx-12">October 03, 2017 8:45am</span>
                                    </div>
                                </div>
                                <!-- media -->
                            </a>
                            <!-- loop ends here -->
                            <a href="http://themepixels.me/demo/amanda/app/index.html?storefront=envato-elements" class="media-list-link read">
                                <div class="media pd-x-20 pd-y-15">
                                    <img src="/theme/assets/img9.jpg" class="wd-40 rounded-circle" alt="">
                                    <div class="media-body">
                                        <p class="tx-13 mg-b-0">
                                            <strong class="tx-medium">Mellisa Brown</strong>
                                            appreciated your work
                                            <strong class="tx-medium">The Social Network</strong>
                                        </p>
                                        <span class="tx-12">October 02, 2017 12:44am</span>
                                    </div>
                                </div>
                                <!-- media -->
                            </a>
                            <a href="http://themepixels.me/demo/amanda/app/index.html?storefront=envato-elements" class="media-list-link read">
                                <div class="media pd-x-20 pd-y-15">
                                    <img src="/theme/assets/img10.jpg" class="wd-40 rounded-circle" alt="">
                                    <div class="media-body">
                                        <p class="tx-13 mg-b-0">20+ new items added are for sale in your
                                            <strong class="tx-medium">Sale Group</strong>
                                        </p>
                                        <span class="tx-12">October 01, 2017 10:20pm</span>
                                    </div>
                                </div>
                                <!-- media -->
                            </a>
                            <a href="http://themepixels.me/demo/amanda/app/index.html?storefront=envato-elements" class="media-list-link read">
                                <div class="media pd-x-20 pd-y-15">
                                    <img src="/theme/assets/img5.jpg" class="wd-40 rounded-circle" alt="">
                                    <div class="media-body">
                                        <p class="tx-13 mg-b-0">
                                            <strong class="tx-medium">Julius Erving</strong>
                                            wants to connect with you on your conversation with
                                            <strong class="tx-medium">Ronnie Mara</strong>
                                        </p>
                                        <span class="tx-12">October 01, 2017 6:08pm</span>
                                    </div>
                                </div>
                                <!-- media -->
                            </a>
                            <div class="media-list-footer">
                                <a href="http://themepixels.me/demo/amanda/app/index.html?storefront=envato-elements" class="tx-12">
                                    <i class="fa fa-angle-down mg-r-5"></i>
                                    Show All Notifications</a>
                            </div>
                        </div>
                        <!-- media-list -->
                    </div>
                    <!-- dropdown-menu -->
                </div>
                <!-- dropdown -->
                <div class="dropdown dropdown-profile">
                    <a href="http://themepixels.me/demo/amanda/app/index.html?storefront=envato-elements" class="nav-link nav-link-profile" data-toggle="dropdown" aria-expanded="false">
                        <img src="/imgs/img3.jpg" class="wd-32 rounded-circle" alt="">
                        <span class="logged-name">
                            <span class="hidden-xs-down">Zeeshan</span>
                            <i class="fa fa-angle-down mg-l-3"></i>
                        </span>
                    </a>
                    <div class="dropdown-menu wd-200" x-placement="bottom-start" style="position: absolute; transform: translate3d(20px, 48px, 0px); top: 0px; left: 0px; will-change: transform;">
                        <ul class="list-unstyled user-profile-nav">
                            <li>
                                <a href="http://themepixels.me/demo/amanda/app/index.html?storefront=envato-elements">
                                    <i class="icon ion-ios-person-outline"></i>
                                    Edit Profile</a>
                            </li>
                            <li>
                                <a href="http://themepixels.me/demo/amanda/app/index.html?storefront=envato-elements">
                                    <i class="icon ion-ios-gear-outline"></i>
                                    Settings</a>
                            </li>
                            <li>
                                <a href="http://themepixels.me/demo/amanda/app/index.html?storefront=envato-elements">
                                    <i class="icon ion-ios-download-outline"></i>
                                    Downloads</a>
                            </li>
                            <li>
                                <a href="http://themepixels.me/demo/amanda/app/index.html?storefront=envato-elements">
                                    <i class="icon ion-ios-star-outline"></i>
                                    Favorites</a>
                            </li>
                            <li>
                                <a href="http://themepixels.me/demo/amanda/app/index.html?storefront=envato-elements">
                                    <i class="icon ion-ios-folder-outline"></i>
                                    Collections</a>
                            </li>
                            <li>
                                <a href="http://themepixels.me/demo/amanda/app/index.html?storefront=envato-elements">
                                    <i class="icon ion-power"></i>
                                    Sign Out</a>
                            </li>
                        </ul>
                    </div>
                    <!-- dropdown-menu -->
                </div>
                <!-- dropdown -->
            </div>
            <!-- am-header-right -->
        </div>
        <!-- am-header -->

        <div class="am-sideleft">
            <ul class="nav am-sideleft-tab">
                <li class="nav-item">
                    <a href="#mainMenu" class="nav-link">
                        <i class="icon ion-ios-home-outline tx-24"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#emailMenu" class="nav-link">
                        <i class="icon ion-ios-keypad-outline tx-24"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#chatMenu" class="nav-link">
                        <i class="icon ion-ios-paw-outline tx-24"></i>
                    </a>
                </li>
                <li class="nav-item">
                  <a href="#chatMenu" class="nav-link">
                      <i class="icon ion-social-tumblr-outline tx-24"></i>
                  </a>
              </li>
                <li class="nav-item">
                    <a href="#settingMenu" class="nav-link active">
                        <i class="icon ion-ios-cloud-upload-outline tx-24"></i>
                    </a>
                </li>
            </ul>

            <div class="tab-content">
                <div id="mainMenu" class="tab-pane ps ps--theme_default" data-ps-id="2eb2b066-5808-1af2-efe4-5545ef09dd17">
                    <ul class="nav am-sideleft-menu">
                        <li class="nav-item">
                            <a href="http://themepixels.me/demo/amanda/app/index.html" class="nav-link active">
                                <i class="icon ion-ios-home-outline"></i>
                                <span>Dashboard</span>
                            </a>
                        </li>
                        <!-- nav-item -->
                        <li class="nav-item">
                            <a href="http://themepixels.me/demo/amanda/app/index.html?storefront=envato-elements" class="nav-link with-sub">
                                <i class="icon ion-ios-gear-outline"></i>
                                <span>Forms</span>
                            </a>
                            <ul class="nav-sub">
                                <li class="nav-item">
                                    <a href="http://themepixels.me/demo/amanda/app/form-elements.html" class="nav-link">Form Elements</a>
                                </li>
                                <li class="nav-item">
                                    <a href="http://themepixels.me/demo/amanda/app/form-layouts.html" class="nav-link">Form Layouts</a>
                                </li>
                                <li class="nav-item">
                                    <a href="http://themepixels.me/demo/amanda/app/form-validation.html" class="nav-link">Form Validation</a>
                                </li>
                                <li class="nav-item">
                                    <a href="http://themepixels.me/demo/amanda/app/form-wizards.html" class="nav-link">Form Wizards</a>
                                </li>
                                <li class="nav-item">
                                    <a href="http://themepixels.me/demo/amanda/app/form-editor-text.html" class="nav-link">Text Editor</a>
                                </li>
                            </ul>
                        </li>
                        <!-- nav-item -->
                        <li class="nav-item">
                            <a href="http://themepixels.me/demo/amanda/app/index.html?storefront=envato-elements" class="nav-link with-sub">
                                <i class="icon ion-ios-filing-outline"></i>
                                <span>UI Elements</span>
                            </a>
                            <ul class="nav-sub">
                                <li class="nav-item">
                                    <a href="http://themepixels.me/demo/amanda/app/accordion.html" class="nav-link">Accordion</a>
                                </li>
                                <li class="nav-item">
                                    <a href="http://themepixels.me/demo/amanda/app/alerts.html" class="nav-link">Alerts</a>
                                </li>
                                <li class="nav-item">
                                    <a href="http://themepixels.me/demo/amanda/app/buttons.html" class="nav-link">Buttons</a>
                                </li>
                                <li class="nav-item">
                                    <a href="http://themepixels.me/demo/amanda/app/cards.html" class="nav-link">Cards</a>
                                </li>
                                <li class="nav-item">
                                    <a href="http://themepixels.me/demo/amanda/app/icons.html" class="nav-link">Icons</a>
                                </li>
                                <li class="nav-item">
                                    <a href="http://themepixels.me/demo/amanda/app/modal.html" class="nav-link">Modal</a>
                                </li>
                                <li class="nav-item">
                                    <a href="http://themepixels.me/demo/amanda/app/navigation.html" class="nav-link">Navigation</a>
                                </li>
                                <li class="nav-item">
                                    <a href="http://themepixels.me/demo/amanda/app/pagination.html" class="nav-link">Pagination</a>
                                </li>
                                <li class="nav-item">
                                    <a href="http://themepixels.me/demo/amanda/app/popups.html" class="nav-link">Tooltip &amp; Popover</a>
                                </li>
                                <li class="nav-item">
                                    <a href="http://themepixels.me/demo/amanda/app/progress.html" class="nav-link">Progress</a>
                                </li>
                                <li class="nav-item">
                                    <a href="http://themepixels.me/demo/amanda/app/spinners.html" class="nav-link">Spinners</a>
                                </li>
                                <li class="nav-item">
                                    <a href="http://themepixels.me/demo/amanda/app/typography.html" class="nav-link">Typography</a>
                                </li>
                            </ul>
                        </li>
                        <!-- nav-item -->
                        <li class="nav-item">
                            <a href="http://themepixels.me/demo/amanda/app/index.html?storefront=envato-elements" class="nav-link with-sub">
                                <i class="icon ion-ios-analytics-outline"></i>
                                <span>Charts</span>
                            </a>
                            <ul class="nav-sub">
                                <li class="nav-item">
                                    <a href="http://themepixels.me/demo/amanda/app/chart-morris.html" class="nav-link">Morris Charts</a>
                                </li>
                                <li class="nav-item">
                                    <a href="http://themepixels.me/demo/amanda/app/chart-flot.html" class="nav-link">Flot Charts</a>
                                </li>
                                <li class="nav-item">
                                    <a href="http://themepixels.me/demo/amanda/app/chart-chartjs.html" class="nav-link">Chart JS</a>
                                </li>
                                <li class="nav-item">
                                    <a href="http://themepixels.me/demo/amanda/app/chart-rickshaw.html" class="nav-link">Rickshaw</a>
                                </li>
                                <li class="nav-item">
                                    <a href="http://themepixels.me/demo/amanda/app/chart-sparkline.html" class="nav-link">Sparkline</a>
                                </li>
                            </ul>
                        </li>
                        <!-- nav-item -->
                        <li class="nav-item">
                            <a href="http://themepixels.me/demo/amanda/app/index.html?storefront=envato-elements" class="nav-link with-sub">
                                <i class="icon ion-ios-navigate-outline"></i>
                                <span>Maps</span>
                            </a>
                            <ul class="nav-sub">
                                <li class="nav-item">
                                    <a href="http://themepixels.me/demo/amanda/app/map-google.html" class="nav-link">Google Maps</a>
                                </li>
                                <li class="nav-item">
                                    <a href="http://themepixels.me/demo/amanda/app/map-vector.html" class="nav-link">Vector Maps</a>
                                </li>
                            </ul>
                        </li>
                        <!-- nav-item -->
                        <li class="nav-item">
                            <a href="http://themepixels.me/demo/amanda/app/index.html?storefront=envato-elements" class="nav-link with-sub">
                                <i class="icon ion-ios-list-outline"></i>
                                <span>Tables</span>
                            </a>
                            <ul class="nav-sub">
                                <li class="nav-item">
                                    <a href="http://themepixels.me/demo/amanda/app/table-basic.html" class="nav-link">Basic Table</a>
                                </li>
                                <li class="nav-item">
                                    <a href="http://themepixels.me/demo/amanda/app/table-datatable.html" class="nav-link">Data Table</a>
                                </li>
                            </ul>
                        </li>
                        <!-- nav-item -->
                        <li class="nav-item">
                            <a href="http://themepixels.me/demo/amanda/app/index.html?storefront=envato-elements" class="nav-link with-sub">
                                <i class="icon ion-ios-bookmarks-outline"></i>
                                <span>Pages</span>
                            </a>
                            <ul class="nav-sub">
                                <li class="nav-item">
                                    <a href="http://themepixels.me/demo/amanda/app/blank.html" class="nav-link">Blank Page</a>
                                </li>
                                <li class="nav-item">
                                    <a href="http://themepixels.me/demo/amanda/app/page-signin.html" class="nav-link">Signin Page</a>
                                </li>
                                <li class="nav-item">
                                    <a href="http://themepixels.me/demo/amanda/app/page-signup.html" class="nav-link">Signup Page</a>
                                </li>
                                <li class="nav-item">
                                    <a href="http://themepixels.me/demo/amanda/app/page-notfound.html" class="nav-link">404 Page Not Found</a>
                                </li>
                            </ul>
                        </li>
                        <!-- nav-item -->
                        <li class="nav-item">
                            <a href="http://themepixels.me/demo/amanda/app/widgets.html" class="nav-link">
                                <i class="icon ion-ios-briefcase-outline"></i>
                                <span>Widgets</span>
                            </a>
                        </li>
                        <!-- nav-item -->
                    </ul>
                    <div class="ps__scrollbar-x-rail" style="left: 0px; bottom: 0px;">
                        <div class="ps__scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                    </div>
                    <div class="ps__scrollbar-y-rail" style="top: 0px; right: 0px;">
                        <div class="ps__scrollbar-y" tabindex="0" style="top: 0px; height: 0px;"></div>
                    </div>
                </div>
                <!-- #mainMenu -->
                <div id="emailMenu" class="tab-pane ps ps--theme_default" data-ps-id="af614671-51ab-0c55-f503-1202717f8b03">
                    <%- include('../partials/templates'); %>
                </div>
                <!-- #emailMenu -->
                <div id="chatMenu" class="tab-pane ps ps--theme_default" data-ps-id="f5c57c47-7146-1f7e-4b16-db68dbb7baa4">

                    <!-- chat-search-bar -->

                    <label class="pd-x-15 tx-uppercase tx-11 mg-t-20 tx-orange mg-b-10 tx-medium">cliparts</label>
                    <div class="list-group list-group-chat">
                        <%- include('../partials/cliparts'); %>
                    </div>
                    <!-- list-group -->
                    <span class="d-block pd-15 tx-12">Loading messages...</span>

                    <div class="ps__scrollbar-x-rail" style="left: 0px; bottom: 0px;">
                        <div class="ps__scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                    </div>
                    <div class="ps__scrollbar-y-rail" style="top: 0px; right: 0px;">
                        <div class="ps__scrollbar-y" tabindex="0" style="top: 0px; height: 0px;"></div>
                    </div>
                </div>
                <!-- #chatMenu -->
                <div id="settingMenu" class="tab-pane ps ps--theme_default active" data-ps-id="c8ed3943-d34c-34fe-2de3-78b1fc38cb1d">
                    <div class="pd-x-15">
                        <label class="tx-uppercase tx-11 mg-t-10 tx-orange mg-b-15 tx-medium">Quick Settings</label>
                        <div class="bd pd-15">
                            <h6 class="tx-13 tx-normal tx-gray-800">Daily Newsletter</h6>
                            <p class="tx-12">Get notified when someone else is trying to access your account.</p>
                            <div class="toggle toggle-light warning" style="height: 22px; width: 50px;">
                                <div class="toggle-slide">
                                    <div class="toggle-inner" style="width: 78px; margin-left: 0px;">
                                        <div class="toggle-on active" style="height: 22px; width: 39px; text-indent: -7.33333px; line-height: 22px;">ON</div>
                                        <div class="toggle-blob" style="height: 22px; width: 22px; margin-left: -11px;"></div>
                                        <div class="toggle-off" style="height: 22px; width: 39px; margin-left: -11px; text-indent: 7.33333px; line-height: 22px;">OFF</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- bd -->

                        <div class="bd pd-15 mg-t-15">
                            <h6 class="tx-13 tx-normal tx-gray-800">Call Phones</h6>
                            <p class="tx-12">Make calls to friends and family right from your account.</p>
                            <div class="toggle toggle-light warning" style="height: 22px; width: 50px;">
                                <div class="toggle-slide">
                                    <div class="toggle-inner" style="width: 78px; margin-left: 0px;">
                                        <div class="toggle-on active" style="height: 22px; width: 39px; text-indent: -7.33333px; line-height: 22px;">ON</div>
                                        <div class="toggle-blob" style="height: 22px; width: 22px; margin-left: -11px;"></div>
                                        <div class="toggle-off" style="height: 22px; width: 39px; margin-left: -11px; text-indent: 7.33333px; line-height: 22px;">OFF</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- bd -->

                        <div class="bd pd-15 mg-t-15">
                            <h6 class="tx-13 tx-normal tx-gray-800">Login Notifications</h6>
                            <p class="tx-12">Get notified when someone else is trying to access your account.</p>
                            <div class="toggle toggle-light warning" style="height: 22px; width: 50px;">
                                <div class="toggle-slide">
                                    <div class="toggle-inner" style="width: 78px; margin-left: 0px;">
                                        <div class="toggle-on active" style="height: 22px; width: 39px; text-indent: -7.33333px; line-height: 22px;">ON</div>
                                        <div class="toggle-blob" style="height: 22px; width: 22px; margin-left: -11px;"></div>
                                        <div class="toggle-off" style="height: 22px; width: 39px; margin-left: -11px; text-indent: 7.33333px; line-height: 22px;">OFF</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- bd -->

                        <div class="bd pd-15 mg-t-15">
                            <h6 class="tx-13 tx-normal tx-gray-800">Phone Approvals</h6>
                            <p class="tx-12">Use your phone when login as an extra layer of security.</p>
                            <div class="toggle toggle-light warning" style="height: 22px; width: 50px;">
                                <div class="toggle-slide">
                                    <div class="toggle-inner" style="width: 78px; margin-left: 0px;">
                                        <div class="toggle-on active" style="height: 22px; width: 39px; text-indent: -7.33333px; line-height: 22px;">ON</div>
                                        <div class="toggle-blob" style="height: 22px; width: 22px; margin-left: -11px;"></div>
                                        <div class="toggle-off" style="height: 22px; width: 39px; margin-left: -11px; text-indent: 7.33333px; line-height: 22px;">OFF</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- bd -->
                    </div>
                    <div class="ps__scrollbar-x-rail" style="left: 0px; bottom: 0px;">
                        <div class="ps__scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                    </div>
                    <div class="ps__scrollbar-y-rail" style="top: 0px; right: 0px;">
                        <div class="ps__scrollbar-y" tabindex="0" style="top: 0px; height: 0px;"></div>
                    </div>
                </div>
                <!-- #settingMenu -->
            </div>
            <!-- tab-content -->
        </div>
        <!-- am-sideleft -->

        <div class="am-mainpanel" style="position: relative;">
            <div class="am-pagetitle">
                <h5 class="am-title">Workspace</h5>

            </div>
            <!-- am-pagetitle -->

            <div class="am-pagebody">


                <div class="row row-sm mg-t-15 mg-sm-t-20">
                  
                    <!-- col-4 -->
                    <div class="col-lg-9">
                        <div class="card">
                            <%- include('../partials/workspace'); %>
                        </div>
                        <!-- card -->
                    </div>
                    <!-- col-8 -->
                    <div class="col-lg-3 mg-t-15 mg-sm-t-20 mg-lg-t-0">
                        <div class="card pd-20">
                            <h6 class="tx-12 tx-uppercase tx-inverse tx-bold mg-b-15">Sales Report</h6>
                            <div class="d-flex mg-b-10">
                                <div class="bd-r pd-r-10">
                                    <label class="tx-12">Today</label>
                                    <p class="tx-lato tx-inverse tx-bold">1,898</p>
                                </div>
                                <div class="bd-r pd-x-10">
                                    <label class="tx-12">This Week</label>
                                    <p class="tx-lato tx-inverse tx-bold">32,112</p>
                                </div>
                                <div class="pd-l-10">
                                    <label class="tx-12">This Month</label>
                                    <p class="tx-lato tx-inverse tx-bold">72,067</p>
                                </div>
                            </div>
                            <!-- d-flex -->
                            <div class="progress mg-b-10">
                                <div class="progress-bar wd-50p" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
                            </div>
                            <p class="tx-12 mg-b-0">Maecenas tempus, tellus eget condimentum rhoncus</p>
                        </div>
                        <!-- card -->

                        <ul class="list-group widget-list-group bg-info mg-t-20">
                            <li class="list-group-item rounded-top-0">
                                <p class="mg-b-0">
                                    <i class="fa fa-cube tx-white-7 mg-r-8"></i>
                                    <strong class="tx-medium">Retina: 13.3-inch</strong>
                                    <span class="text-muted">Display</span>
                                </p>
                            </li>
                            <li class="list-group-item">
                                <p class="mg-b-0">
                                    <i class="fa fa-cube tx-white-7 mg-r-8"></i>
                                    <strong class="tx-medium">Intel Iris Graphics 6100</strong>
                                    <span class="text-muted">Graphics</span>
                                </p>
                            </li>
                            <li class="list-group-item">
                                <p class="mg-b-0">
                                    <i class="fa fa-cube tx-white-7 mg-r-8"></i>
                                    <strong class="tx-medium">500 GB</strong>
                                    <span class="text-muted">Flash Storage</span>
                                </p>
                            </li>
                            <li class="list-group-item">
                                <p class="mg-b-0">
                                    <i class="fa fa-cube tx-white-7 mg-r-8"></i>
                                    <strong class="tx-medium">3.1 GHz Intel Core i7</strong>
                                    <span class="text-muted">Processor</span>
                                </p>
                            </li>
                            <li class="list-group-item rounded-bottom-0">
                                <p class="mg-b-0">
                                    <i class="fa fa-cube tx-white-7 mg-r-8"></i>
                                    <strong class="tx-tx-medium">16 GB 1867 MHz DDR3</strong>
                                    <span class="text-muted">Memory</span>
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- row -->

            </div>
            <!-- am-pagebody -->
            <div class="am-footer">
                <span>Copyright ©. All Rights Reserved. DigiTrends.</span>
                <span>Created by: DigiTrends.</span>
            </div>
            <!-- am-footer -->
            <div class="resize-sensor" style="position: absolute; inset: 0px; overflow: hidden; z-index: -1; visibility: hidden;">
                <div class="resize-sensor-expand" style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; z-index: -1; visibility: hidden;">
                    <div style="position: absolute; left: 0px; top: 0px; transition: all 0s ease 0s; width: 100000px; height: 100000px;"></div>
                </div>
                <div class="resize-sensor-shrink" style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; z-index: -1; visibility: hidden;">
                    <div style="position: absolute; left: 0; top: 0; transition: 0s; width: 200%; height: 200%"></div>
                </div>
            </div>
        </div>
        <!-- am-mainpanel -->

        
        <%- include('../partials/footer'); %>

    </body>
    <grammarly-desktop-integration data-grammarly-shadow-root="true"></grammarly-desktop-integration>
</html>
