<div class="row mg-r-0">
    <div class="col-lg-3 pd-0">
        <div class="list-group widget-list-group bg-app-primary">
            <div class="list-group-item d-flex">            
              <a href="#" id="btnBrowseBanner" class="btn tx-bold btn-block tx-uppercase btn-primary pd-lg-x-20 mg-l-auto">Browse Image</a>
              <input id="hiddenUploadBannerFile" data-page-id="<%=locals.page.id%>" type="file" accept="image/*" multiple="multiple" hidden="hidden">
            <input id="design-type" value="banner" hidden="hidden">
    
            </div>
            
          </div>
        
          <div class="card">
            <%- include('../../partials/admin/banner-panel'); %>
          </div>
          
        <!-- <div class="card pd-10 tx-primary tx-bold bd-b">Upload Clipart</div>

        <div class="card pd-10" >
            <i class="tx-80  tx-gray-800 icon-imgupload ion-ios-cloud-upload-outline" id="admin-image-upload"></i>
    
            <p class="tx-12 pd-t-20 pd-x-30 tx-center">Upload (SVG,PNG) Cliparts.</p>
            <input id="admin-image-upload-hidden" data-page-id="<%=locals.page.id%>" type="file" accept="image/*" multiple="multiple" hidden="hidden">
            <input id="design-type" value="clipart" hidden="hidden">
        </div> -->
    </div>
    <div class="col-lg-6 pd-x-15">
        <div class="card pd-10 tx-primary tx-bold bd-b mg-b-15">Manage Banners</div>

        <div class="card " >
          <div class="workarea" >
              <div  id="canvas-holder">
                  <div class="content tx-center">
                      <canvas id="admin-main-canvas" width="500" height="400" style="margin-top:20px; background-color:transparent; border:solid 1px #ccc;  box-shadow: 3px 5px #ccc;" ></canvas>
                  </div>
              </div>
          </div>
      </div>
       
        </div>
     
        <div class="col-lg-3">
          <div class="row" id="bannerThumbs">
            <%banners?.forEach((item)=>{%>
              <div class="col-lg-6 pd-1">
                <div class="card bd-0"  >
                  <div >
                  <img class="card-img-top img-fluid"   src="<%=item.base64%>" alt="Image">
                </div>
                  <div class="card-body bd bd-t-0">
                    <span class="tx-12"><%=item.ref_code??'main-page'%></span>
                    <h6 class="mg-b-3"><a href="" class="tx-dark"><%=item.title%></a></h6>
                    <span class="tx-12"><%=item.link%></span>
                    <button type="button" id="<%=item.code%>" class="btn btn-sm btn-primary tx-12 tx-bold tx-uppercase delete">Delete</button>
                  </div>
                </div>
              </div>
          
            <%})%>
          </div>
        </div>
    </div>
  
    </div>
<script>
    $(".tab-content .tab-pane").each((i,e)=>
    { $(e).removeClass("active"); })    
   $("#clipartpanel").addClass("active");
</script>