<div class="row mg-r-0">
    <div class="col-lg-3 pd-0">
        <div class="list-group widget-list-group bg-app-primary">
            <div class="list-group-item d-flex">
              <div class="media d-block d-sm-flex">
                <div class="d-block d-sm-flex mg-sm-r-20">
                  <i class="ion-ios-paw-outline tx-24 tx-white"></i>
                </div><!-- d-flex -->
                <div class="media-body mg-t-10 mg-sm-t-0">
                  <h6 class="mg-b-5 tx-14">Upload Image</h6>
                  <div class="mg-b-0 tx-12 tx-white-5">JPG, GIF, SVG, PNG</div>
                </div><!-- media-body -->
              </div><!-- media -->
              <a href="#" id="admin-image-upload" class="btn btn-primary pd-lg-x-20 mg-l-auto">Browse</a>
              <input id="admin-image-upload-hidden" data-page-id="<%=locals.page.id%>" type="file" accept="image/*" multiple="multiple" hidden="hidden">
            <input id="design-type" value="clipart" hidden="hidden">
    
            </div>
          </div>
          <div class="list-group-item ">
           <!-- d-flex -->
           <h6 class="card-body-title">ClipArt Details</h6>
           <p >Please enter following details and save your changes.</p>
        
          </div>
          <div class="card">
            <%- include('../../partials/admin/clipart-panel'); %>
          </div>
          
        <!-- <div class="card pd-10 tx-primary tx-bold bd-b">Upload Clipart</div>

        <div class="card pd-10" >
            <i class="tx-80  tx-gray-800 icon-imgupload ion-ios-cloud-upload-outline" id="admin-image-upload"></i>
    
            <p class="tx-12 pd-t-20 pd-x-30 tx-center">Upload (SVG,PNG) Cliparts.</p>
            <input id="admin-image-upload-hidden" data-page-id="<%=locals.page.id%>" type="file" accept="image/*" multiple="multiple" hidden="hidden">
            <input id="design-type" value="clipart" hidden="hidden">
        </div> -->
    </div>
    <div class="col-lg-6 pd-x-15">

        <div class="card " >
            <div class="workarea" >
                <div  id="canvas-holder">
                    <div class="content tx-center">
                        <canvas id="admin-main-canvas" width="500" height="400" style="margin-top:20px; background-color:transparent; border:solid 1px #ccc;  box-shadow: 3px 5px #ccc;" ></canvas>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
  <div class="col-lg-3 pd-0">
    <div class="list-group widget-list-group bg-app-primary">
      <div class="list-group-item ">
        <div class="media d-block ">
       
          <div class="media-body mg-t-20 mg-sm-t-0">
            <span class=" tx-14 tx-uppercase">ClipArts </span>
            <span class="pull-right" style="background: white;
            color: #494699;
            border-radius: 50%;
            padding: 2px 5px;
            font-weight: bold;
            font-size: 12px;"><%=cliparts[0]?.count%></span>
          </div><!-- media-body -->
        </div><!-- media -->

      </div>
    </div>
    <div class="card" id="clipartAdminContainer" style="max-height: 500px; overflow-y: scroll;">
      <%cliparts?.forEach(clipart=>{ %>
       
        <div class="nav-item bd">
          <a href="#" class="nav-link with-sub text-primary tx-uppercase tx-12 tx-bold">
            <span><%=clipart.categoryName%> </span>
            <span class="pull-right badge badge-primary " ><%= clipart.items.length %></span>
          </a>
       
            <div class="nav-sub " style="display: none;">
              <div class="row mg-15" >

              <%clipart.items.forEach(item=>{ %>
                  <div id="<%=item.id %>" class=" nav-item col-lg-3 col-md-2 col-sm-6 col-xs-12 pd-0 clipart" data-active="<%=item.active %>" data-category="<%=clipart.categoryId %>" data-title="<%=item.title %>" data-url="/uploads/admin/clipart/clipart-<%=item.code %><%=item.file_ext %>" data-target="#clipartModal" data-toggle="modal">
                    <div>
                      <%if(!item.active){%>
                       <div class="tx-center tx-11 tx-uppercase tx-bold " style="color:red">Disabled</div>
                       <%}%> 
                       <img class="card-img-top img-fluid pd-b-10 " src="/uploads/admin/clipart/clipart-<%=item.code %><%=item.file_ext %>" alt="">

                      </div>
                  </div>
                <%})%>
              </div>
            </div>

       
              
            </div>
       
    
   <%})%>
    </div>
  </div>
    </div>
<script>
    $(".tab-content .tab-pane").each((i,e)=>
    { $(e).removeClass("active"); })    
   $("#clipartpanel").addClass("active");
</script>