<div class="row">
  <div class="col-lg-3 col-md-3 col-sm-3 pd-l-0">
    <div class="card">
      <%- include('../../partials/admin/dashboard-panel'); %>
    </div>
  </div>
  <div class="col-lg-9 col-md-9 col-sm-9 pd-l-0">
    <div class="card pd-20">
      <h6 >Add Custom Text</h6>
      <p >Custom text will be displayed as a list to the user in which user can choose their favorite text for the design.</p>
      <div class="row row-xs">
        <div class="wd-300">
          <input type="hidden" id="hiddenCustomTextId">
          <input type="text" placeholder="Enter Text" id="inputCustomText" class="form-control" maxlength="100" minlength="3" pattern=".{3,100}" title="Minimum 3 and maximum 100 characters." >
          <label class="form-control-label pd-t-10 tx-bold">Order No</label>
          <input type="number" value="<%=content?.length+1%>"   class="hidden form-control input-sm wd-100" id="customTxtDisplayOrder">
          <span>Next # <%=content?.length+1%></span>
        </div>
      </div><!-- row -->
      <div class="form-layout-footer pd-t-20">
        <button type="button" id="btnCustomText" class="btn btn-primary tx-uppercase tx-bold">Add Text</button>
        <button class="btn btn-secondary tx-uppercase tx-bold " id="btnCustomTextClear">Reset</button>
      </div>
    </div>
    <div>
      <div class="list-group widget-list-group mg-t-15 style="max-height: 350px; overflow-y:scroll" id="customTextContainer">
        <%if(!content || content?.length == 0){%>
        <p class="pd-10">No Custom Text Found.</p>
        <%}%>
        <%for(var i=0;i<content?.length;i++){%>
        <div class="list-group-item pd-y-10 rounded-top-0 bd- customTxt" id="custom-text-<%=content[i]._id%>">
          <div class="media">
       
            <div class="media-body">             
              <span class="tx-inverse tx-16 tx-bold custom-text" data-order="<%=content[i].order%>"><%=content[i].content%></span>
              <span class="pull-right"><button class="btn btn-secondary btn-custom-text pd-0 pd-x-10" type="button" id="<%=content[i]._id%>"><i class="icon ion-ios-trash-outline tx-18"></i></button></span>
            </div><!-- media-body -->
          </div><!-- media -->
        </div><!-- list-group-item -->
        <%}%>
      </div>
    </div>
  </div>
</div>



