<div class="row">
    <div class="col-lg-3 pd-0">
        <div class="card">
            <%- include('../../partials/admin/dashboard-panel'); %>
        </div>

    </div>
    <div class="col-lg-9 ">
        <div class="card bd-b pd-10 tx-uppercase tx-bold tx-inverse">Dashboard</div>

        <div class="card mg-t-20">
            <div class="row row-sm">
                <div class="col-lg-4">
                    <div class="card pd-20">
                        <h6 class="tx-12 tx-uppercase tx-inverse tx-bold mg-b-15">Users (<%=report.totalUsers%>)</h6>
                        <div class="d-flex mg-b-10">
                            <div class="bd-r pd-r-10">
                                <label class="tx-12">Today</label>
                                <p class="tx-lato tx-inverse tx-bold"><%=report.todayUsers%></p>
                            </div>
                            <div class="bd-r pd-x-10">
                                <label class="tx-12">This Week</label>
                                <p class="tx-lato tx-inverse tx-bold"><%=report.thisWeekUsers%></p>
                            </div>
                            <div class="pd-l-10">
                                <label class="tx-12">This Month</label>
                                <p class="tx-lato tx-inverse tx-bold"><%=report.thisMonthUsers%></p>
                            </div>
                        </div>
                        <!-- d-flex -->

                        <p class="tx-12 mg-b-0">Total Users (<%=report.totalUsers%>)</p>
                    </div>
                    <!-- card -->
                </div>
                <!-- col-4 -->
                <div class="col-lg-4 mg-t-15 mg-sm-t-20 mg-lg-t-0">
                    <div class="card pd-20">
                        <h6 class="tx-12 tx-uppercase tx-inverse tx-bold mg-b-15">PDF Downloads (<%=report.totalDownloads%>)</h6>
                        <div class="d-flex mg-b-10">
                            <div class="bd-r pd-r-10">
                                <label class="tx-12">Today</label>
                                <p class="tx-lato tx-inverse tx-bold"><%=report.todayDownloads%></p>
                            </div>
                            <div class="bd-r pd-x-10">
                                <label class="tx-12">This Week</label>
                                <p class="tx-lato tx-inverse tx-bold"><%=report.thisWeekDownloads%></p>
                            </div>
                            <div class="pd-l-10">
                                <label class="tx-12">This Month</label>
                                <p class="tx-lato tx-inverse tx-bold"><%=report.thisMonthDownloads%></p>
                            </div>
                        </div>
                        <!-- d-flex -->

                        <p class="tx-12 mg-b-0">Total PDF Downloads (<%=report.totalDownloads%>)</p>
                    </div>
                    <!-- card -->
                </div>
                <!-- col-4 -->
                <div class="col-lg-4 mg-t-15 mg-sm-t-20 mg-lg-t-0">
                    <div class="card pd-20">
                        <h6 class="tx-12 tx-uppercase tx-inverse tx-bold mg-b-15">User Projects (<%=report.totalProjects%>)</h6>
                        <div class="d-flex mg-b-10">
                            <div class="bd-r pd-r-10">
                                <label class="tx-12">Today</label>
                                <p class="tx-lato tx-inverse tx-bold"><%=report.todayProjects%></p>
                            </div>
                            <div class="bd-r pd-x-10">
                                <label class="tx-12">This Week</label>
                                <p class="tx-lato tx-inverse tx-bold"><%=report.thisWeekProjects%></p>
                            </div>
                            <div class="pd-l-10">
                                <label class="tx-12">This Month</label>
                                <p class="tx-lato tx-inverse tx-bold"><%=report.thisMonthProjects%></p>
                            </div>
                        </div>
                        <!-- d-flex -->

                        <p class="tx-12 mg-b-0">Total User Projects (<%=report.totalProjects%>)</p>
                    </div>
                    <!-- card -->
                </div>
                <!-- col-4 -->
            </div>
        </div>

        <div class="card pd-20  mg-t-20">
            <h6 class="card-body-title">Top 10 Templates</h6>

            <table id="userDT" class="display tx-center" style="width:100%">
              <thead>
                <tr>
                    <th>Template</th>
                    <th class="tx-center">Template Name</th>
                    <th class="tx-center">Part No</th>
                    <th class="tx-center">Usage</th>
                    <th class="tx-center">Created Date</th>                   
                </tr>
            </thead></table>
          </div>

    </div>

</div>

<%- include('../../partials/admin/popups/edit-user'); %>

<script type="text/javascript"> 
(function(){


    $(document).ready(function () {
    var dt = $('#userDT').DataTable(
        {searching: false, paging: false, info: false}
    );
    
    $.ajax({
                type: "GET",
                url: "/api/filter/top-templates",
                success: function (res) {
                  $loader.addClass("hidden");
                  let d = [];
                  if(res.data)
                  { 
                    d = res.data.map(i=>{
                      return [
                        `<img src='/uploads/admin/template/template-${i.code}.svg' class='wd-50' ></img>`,
                        i.title, 
                        `<span class='tx-bold tx-underline'>${i.ref_code}</span>`,
                        i.count, 
                        new Date(i.created_dt)?.toLocaleString("en-US")?.split(',')[0],                         
                        ]
                    })
                    dt.rows.add(d).draw(false); }
                    $lblTotalRecords.text(d.length);
                },error: function (request, status, error) {
                  $lblTotalRecords.text(0);
                  $loader.addClass("hidden");
                },
               
            });

});

})($);
</script>
