
<div class="row mg-r-0">
  <div class="col-lg-3 pd-0">
    <div class="card">
      <div id="dashboard-panel" class="tab-pane">
        <%- include('../../partials/admin/dashboard-panel'); %>
    </div>
    </div>
  </div>
    <div class="col-lg-9 ">
      

      <div class="card pd-20 pd-sm-40">
        <div class="row row-sm ht-150 ">
          <div class="col-lg-4">
            <div class="card">
              <div class="overlay-body pd-x-20 pd-t-20">
                <div class="d-flex justify-content-between">
                  <div>
                    <h6 class="tx-12 tx-uppercase tx-inverse tx-bold mg-b-5">Total Users</h6>
                  </div>
                  <a href="" class="tx-gray-600 hover-info"><i class="icon ion-more tx-16 lh-0"></i></a>
                </div><!-- d-flex -->
                <h2 class="mg-b-5 tx-inverse tx-lato"><%=report.todayUsers %></h2>
                <p class="tx-12 mg-b-0">Only active users are <br>displayed here.</p>
              </div>
            </div><!-- card -->
          </div><!-- col-4 -->
          <div class="col-lg-4 mg-t-15 mg-sm-t-20 mg-lg-t-0">
            <div class="card" >
              <div class="overlay-body pd-x-20 pd-t-20">
                <div class="d-flex justify-content-between">
                  <div>
                    <h6 class="tx-12 tx-uppercase tx-inverse tx-bold mg-b-5">This Month's Users</h6>
                  </div>
                  <a href="" class="tx-gray-600 hover-info"><i class="icon ion-more tx-16 lh-0"></i></a>
                </div><!-- d-flex -->
                <h2 class="mg-b-5 tx-inverse tx-lato"><%=report.thisMonthUsers %></h2>
                <p class="tx-12 mg-b-0">Active users this <br> month.</p>
              </div>
            </div><!-- card -->
          </div><!-- col-4 -->
          <div class="col-lg-4 ">
            <div class="card">
              <div class="overlay-body pd-x-20 pd-t-20">
                <div class="d-flex justify-content-between">
                  <div>
                    <h6 class="tx-12 tx-uppercase tx-inverse tx-bold mg-b-5">Admin Users</h6>
                  </div>
                  <a href="" class="tx-gray-600 hover-info"><i class="icon ion-more tx-16 lh-0"></i></a>
                </div><!-- d-flex -->
                <h2 class="mg-b-5 tx-inverse tx-lato"><%=report.adminUsers %></h2>
                <p class="tx-12 mg-b-0">Only Admin active <br>users are displayed here.</p>
              </div>
            </div><!-- card -->
          </div><!-- col-4 -->
        </div>
      
      </div>
      <input type="hidden" value="<%-JSON.stringify(users)%>" >
      <div class="table-responsive pd-b-50">
     
          <table id="usertable" class="display" style="width:100%"></table>
        </div>
   
    </div><!-- col-8 -->
   
  </div>
  <%- include('../../partials/admin/popups/edit-user'); %>


<script>
  let users =  <%-JSON.stringify(users)%>;
  let temp = "";
  let page_number = 1; 
  let page_size= 100;

  
  

    $(".tab-content .tab-pane").each((i,e)=>
    { $(e).removeClass("active"); })    
   $("#dashboard-panel").addClass("active");
   users = users.map(i=>{
      return {
        fname : i.fname,
        download_count: i.download_count,
        active: i.active?'Active':'InActive',
        created_dt: (new Date(i.created_dt).toLocaleString('en-US', { hour12: false, })),
        action: `<div class="d-flex" >
                     <i class="ion-edit pd-x-5 edit user-action" onclick="editCustomer(${JSON.stringify(i).replace(/"/g, "'")})"  data-target="#edituser" data-toggle="modal" title="Edit" id="edit${i._id}"></i>
                     <i class="ion-trash-a pd-x-5 delete user-action" onclick="deleteCustomer('${i._id}')" id="delete${i._id}" title="Delete"></i>
                   </div>`
      }
   }).map(i=>Object.values(i));
   $(document).ready(function () {
    var t = $('#usertable').DataTable({data:users,
      columns: [
            { title: 'Name' },
            { title: 'PDF <br>Downloads' },
            { title: 'Status' },
            { title: 'Date <br> Registration.' },
            { title: 'Actions' },
            
        ],});
    
    
});


</script>

