<div class="row">
    <div class="col-lg-3 pd-0">
        <div class="card">
            <%- include('../../partials/admin/dashboard-panel'); %>
        </div>

    </div>
    <div class="col-lg-9 ">
        <div class="card bd-b pd-10 tx-uppercase tx-bold tx-inverse">Dashboard</div>

        <div class="card mg-t-20">
            <div class="row row-sm">
                <div class="col-lg-4">
                    <div class="card pd-20">
                        <h6 class="tx-12 tx-uppercase tx-inverse tx-bold mg-b-15">Users</h6>
                        <div class="d-flex mg-b-10">
                            <div class="pd-r-10">
                                <div class="tx-center tx-30 tx-lato tx-inverse tx-bold"><%=report.totalUsers%></div>
                            </div>
                            <!-- <div class="bd-r pd-x-10">
                                <div class="tx-center tx-30  tx-lato tx-inverse tx-bold"><%=report.thisWeekUsers%></div>
                                <label class="tx-12">Last 7 Days</label>

                            </div>
                            <div class="pd-l-10">
                                <div class="tx-center tx-30  tx-lato tx-inverse tx-bold"><%=report.thisMonthUsers%></div>
                                <label class="tx-12">Last 30 Days</label>

                            </div> -->
                        </div>
                        <!-- d-flex -->

                    </div>
                    <!-- card -->
                </div>
                <!-- col-4 -->
                <div class="col-lg-4 mg-t-15 mg-sm-t-20 mg-lg-t-0">
                    <div class="card pd-20">
                        <h6 class="tx-12 tx-uppercase tx-inverse tx-bold mg-b-15">PDF Downloads</h6>
                        <div class="d-flex mg-b-10">
                            <div class="pd-r-10">
                                <div class="tx-center tx-30  tx-lato tx-inverse tx-bold"><%=report.totalDownloads%></div>

                            </div>
                            <!-- <div class="bd-r pd-x-10">
                                <div class=" tx-center tx-30  tx-lato tx-inverse tx-bold"><%=report.thisWeekDownloads%></div>
                                <label class="tx-12">Last 7 Days</label>

                            </div>
                            <div class="pd-l-10">
                                <div class="tx-center tx-30 tx-lato tx-inverse tx-bold"><%=report.thisMonthDownloads%></div>
                                <label class="tx-12">Last 30 Days</label>

                            </div> -->
                        </div>
                        <!-- d-flex -->

                    </div>
                    <!-- card -->
                </div>
                <!-- col-4 -->
                <div class="col-lg-4 mg-t-15 mg-sm-t-20 mg-lg-t-0">
                    <div class="card pd-20">
                        <h6 class="tx-12 tx-uppercase tx-inverse tx-bold mg-b-15">User Projects</h6>
                        <div class="d-flex mg-b-10">
                            <div class="pd-r-10">
                                <div class=" tx-center tx-lato tx-inverse tx-bold tx-30"><%=report.totalProjects%></div>

                            </div>
                            
                        </div>
                        <!-- d-flex -->

                    </div>
                    <!-- card -->
                </div>
                <!-- col-4 -->
            </div>
        </div>

        <div class="card pd-20  mg-t-20">
            <h6 class="card-body-title">Customer Report (Last 24 Hours)</h6>

            <table id="userDT" class="display tx-center" style="width:100%">
              <thead>
                <tr>
                    
                    <th class="tx-center">User</th>
                    <th class="tx-center">Email</th>
                    <th class="tx-center">Template</th>
                    <th class="tx-center">Part No</th>
                    <th class="tx-center">Page Size</th>
                    <th class="tx-center">Page Format</th>
                    <th class="tx-center">Template Usage</th>
                    <!-- <th class="tx-center">Created Date</th>                    -->
                </tr>
            </thead></table>
          </div>

    </div>

</div>

<%- include('../../partials/admin/popups/edit-user'); %>

<script type="text/javascript"> 
(function(){


    $(document).ready(function () {
    var dt = $('#userDT').DataTable(
        {searching: false, paging: false, info: false}
    );
    
    $.ajax({
                type: "GET",
                url: "/api/filter/top-templates",
                success: function (res) {
                  $loader.addClass("hidden");
                  let d = [];
                  if(res.data)
                  { 
                    d = res.data.map(i=>{
                      return [
                        i.user_nm,
                        i.email,
                        i.template_nm, 
                        i.part_no, 
                        i.page_size,
                        i.page_format,
                        i.count,
                       
                        ]
                    })
                    dt.rows.add(d).draw(false); }
                    //$lblTotalRecords.text(d.length);
                },error: function (request, status, error) {
                  $lblTotalRecords.text(0);
                  $loader.addClass("hidden");
                },
               
            });

});

})($);
</script>
