
<div class="row mg-r-0">
  <div class="col-lg-3 pd-0">
    <div class="card">
      <div id="dashboard-panel" class="tab-pane">
        <%- include('../../partials/admin/dashboard-panel'); %>
    </div>
    </div>
  </div>
    <div class="col-lg-9 ">
      

      <div class="card pd-20 pd-sm-40">
        <div class="row row-sm ht-150 ">
          <div class="col-lg-4">
            <div class="card">
              <div class="overlay-body pd-x-20 pd-t-20">
                <div class="d-flex justify-content-between">
                  <div>
                    <h6 class="tx-12 tx-uppercase tx-inverse tx-bold mg-b-5">Total Users</h6>
                  </div>
                  <a href="" class="tx-gray-600 hover-info"><i class="icon ion-more tx-16 lh-0"></i></a>
                </div><!-- d-flex -->
                <h2 class="mg-b-5 tx-inverse tx-lato"><%=report.todayUsers %></h2>
                <p class="tx-12 mg-b-0">Only active users are <br>displayed here.</p>
              </div>
            </div><!-- card -->
          </div><!-- col-4 -->
          <div class="col-lg-4 mg-t-15 mg-sm-t-20 mg-lg-t-0">
            <div class="card" >
              <div class="overlay-body pd-x-20 pd-t-20">
                <div class="d-flex justify-content-between">
                  <div>
                    <h6 class="tx-12 tx-uppercase tx-inverse tx-bold mg-b-5">This Month's Users</h6>
                  </div>
                  <a href="" class="tx-gray-600 hover-info"><i class="icon ion-more tx-16 lh-0"></i></a>
                </div><!-- d-flex -->
                <h2 class="mg-b-5 tx-inverse tx-lato"><%=report.thisMonthUsers %></h2>
                <p class="tx-12 mg-b-0">Active users this <br> month.</p>
              </div>
            </div><!-- card -->
          </div><!-- col-4 -->
          <div class="col-lg-4 ">
            <div class="card">
              <div class="overlay-body pd-x-20 pd-t-20">
                <div class="d-flex justify-content-between">
                  <div>
                    <h6 class="tx-12 tx-uppercase tx-inverse tx-bold mg-b-5">Admin Users</h6>
                  </div>
                  <a href="" class="tx-gray-600 hover-info"><i class="icon ion-more tx-16 lh-0"></i></a>
                </div><!-- d-flex -->
                <h2 class="mg-b-5 tx-inverse tx-lato"><%=report.adminUsers %></h2>
                <p class="tx-12 mg-b-0">Only Admin active <br>users are displayed here.</p>
              </div>
            </div><!-- card -->
          </div><!-- col-4 -->
        </div>
      
      </div>
      <div class="table-responsive pd-b-50">
      <table id="datatable"  class="tx-center table table-striped table-bordered" style="width:100%">
        <thead >
            <tr class="tx-center">
                <th class="tx-center">Name</th>
                <th class="tx-center">PDF <br>Downloads</th>
                <th class="tx-center">Status</th>
                <th class="tx-center">Date <br> Registration </th>
                <th class="tx-center">Actions</th>
            </tr>
        </thead>
        <tbody>
          <%for(var i=0;i<users?.length;i++){%>
            <tr>
                <td><%=users[i].fname %>&nbsp;<%=users[i].lname %></td>
                <td><%=users[i].download_count %></td>
                <td><%=(users[i].active)?'Active':'InActive'%></td>
                <td><%=users[i].created_dt.toLocaleString('en-US', { hour12: false, }) %></td>
                <td>
                  <div class="d-flex" id="user-ctrl">
                    <i class="ion-edit pd-x-5 edit" style="cursor:pointer;padding: 2px 6px;background-color: #494699;color: white;border-radius: 3px;margin: 0px 5px;" data-meta="<%= JSON.stringify(users[i]) %>" data-target="#edituser" data-toggle="modal" title="Edit" id="edit<%=users[i]._id %>"></i>
                    <i class="ion-trash-a pd-x-5 delete" style="cursor:pointer;padding: 2px 6px;background-color: #494699;color: white;border-radius: 3px;margin: 0px 5px;" id="delete<%=users[i]._id %>" title="Delete"></i>
                    <i class="ion-eye<%=users[i].active?'-disabled':'' %> pd-x-5 active" style="cursor:pointer;padding: 2px 6px;background-color: #494699;color: white;border-radius: 3px;margin: 0px 5px;" id="active<%=users[i]._id %>" title="<%=users[i].active?'Disable':'Enable' %>" data-meta="<%= users[i].active %>"></i>
  
                  </div>
                </td>
               
            </tr>
            <%}%>
          </tbody>
          </table>
    
        </div>
   
    </div><!-- col-8 -->
   
  </div>
  <%- include('../../partials/admin/popups/edit-user'); %>


<script>
    $(".tab-content .tab-pane").each((i,e)=>
    { $(e).removeClass("active"); })    
   $("#dashboard-panel").addClass("active");


 


</script>