
<div class="row mg-r-0">
  <div class="col-lg-3 pd-0">
    <div class="card">
      <div id="dashboard-panel" class="tab-pane">
        <%- include('../../partials/admin/dashboard-panel'); %>
    </div>
    </div>
  </div>
    <div class="col-lg-9 ">
      

      <div class="card pd-20 pd-sm-40">
        <div class="row row-sm ht-150 ">
          <div class="col-lg-4">
            <div class="card">
              <div class="overlay-body pd-x-20 pd-t-20">
                <div class="d-flex justify-content-between">
                  <div>
                    <h6 class="tx-12 tx-uppercase tx-inverse tx-bold mg-b-5">Total Users</h6>
                  </div>
                  <a href="" class="tx-gray-600 hover-info"><i class="icon ion-more tx-16 lh-0"></i></a>
                </div><!-- d-flex -->
                <h2 class="mg-b-5 tx-inverse tx-lato"><%=report.todayUsers %></h2>
                <p class="tx-12 mg-b-0">Only active users are <br>displayed here.</p>
              </div>
            </div><!-- card -->
          </div><!-- col-4 -->
          <div class="col-lg-4 mg-t-15 mg-sm-t-20 mg-lg-t-0">
            <div class="card" >
              <div class="overlay-body pd-x-20 pd-t-20">
                <div class="d-flex justify-content-between">
                  <div>
                    <h6 class="tx-12 tx-uppercase tx-inverse tx-bold mg-b-5">This Month's Users</h6>
                  </div>
                  <a href="" class="tx-gray-600 hover-info"><i class="icon ion-more tx-16 lh-0"></i></a>
                </div><!-- d-flex -->
                <h2 class="mg-b-5 tx-inverse tx-lato"><%=report.thisMonthUsers %></h2>
                <p class="tx-12 mg-b-0">Active users this <br> month.</p>
              </div>
            </div><!-- card -->
          </div><!-- col-4 -->
          <div class="col-lg-4 ">
            <div class="card">
              <div class="overlay-body pd-x-20 pd-t-20">
                <div class="d-flex justify-content-between">
                  <div>
                    <h6 class="tx-12 tx-uppercase tx-inverse tx-bold mg-b-5">Admin Users</h6>
                  </div>
                  <a href="" class="tx-gray-600 hover-info"><i class="icon ion-more tx-16 lh-0"></i></a>
                </div><!-- d-flex -->
                <h2 class="mg-b-5 tx-inverse tx-lato"><%=report.adminUsers %></h2>
                <p class="tx-12 mg-b-0">Only Admin active <br>users are displayed here.</p>
              </div>
            </div><!-- card -->
          </div><!-- col-4 -->
        </div>
      
      </div>
      <input type="hidden" value="<%-JSON.stringify(users)%>" >
      <div class="table-responsive pd-b-50">
      <table id="datatable"  class="tx-center table table-striped table-bordered" style="width:100%">
        <thead >
            <tr class="tx-center">
                <th class="tx-center">Name</th>
                <th class="tx-center">PDF <br>Downloads</th>
                <th class="tx-center">Status</th>
                <th class="tx-center">Date <br> Registration </th>
                <th class="tx-center">Actions</th>
            </tr>
        </thead>
        <tbody id="usertable">
          <%for(var i=0;i<users?.length;i++){%>
            
            <%}%>
          </tbody>
          </table>
    
        </div>
   
    </div><!-- col-8 -->
   
  </div>
  <%- include('../../partials/admin/popups/edit-user'); %>


<script>
  let users =  <%-JSON.stringify(users)%>;
  let temp = "";
  let page_number = 1; 
  let page_size= users.length;

  users = users.slice((page_number - 1) * page_size, page_number * page_size);
   users?.forEach(item => {
    $("#usertable").append(`<tr>
                <td>${item.fname}</td>
                <td>${item.download_count}</td>
                <td>${item.active?'Active':'InActive'}</td>
                <td>${new Date(item.created_dt).toLocaleString('en-US', { hour12: false, })}</td>
                <td>
                  <div class="d-flex" id="user-ctrl">
                    <i class="ion-edit pd-x-5 edit user-action"  data-meta="${JSON.stringify(item)}" data-target="#edituser" data-toggle="modal" title="Edit" id="edit${item._id}"></i>
                    <i class="ion-trash-a pd-x-5 delete user-action"  id="delete${item._id}" title="Delete"></i>
                    <i class="ion-eye${item.active?'-disabled':''} pd-x-5 active user-action"  id="active${item._id}" title="${item.active?'Disable':'Enable'}" data-meta="${item.active}"></i>
                  </div>
                </td>               
            </tr>`); 
            
   });
   users = null;

    $(".tab-content .tab-pane").each((i,e)=>
    { $(e).removeClass("active"); })    
   $("#dashboard-panel").addClass("active");


 


</script>