
    <div class="row row-sm">
      <div class="col-lg-4">
        <div class="card pd-20">
          <h6 class="tx-12 tx-uppercase tx-inverse tx-bold mg-b-15">Customer Report</h6>
          <div class="d-flex mg-b-10">
            <div class="bd-r pd-r-10">
              <label class="tx-12">Today</label>
              <p class="tx-lato tx-inverse tx-bold"><%=reports?.customerReport?.todayCustomers || 0 %></p>
            </div>
            <div class="bd-r pd-x-10">
              <label class="tx-12">This Week</label>
              <p class="tx-lato tx-inverse tx-bold"><%=reports?.customerReport?.thisWeekCustomers || 0 %></p>
            </div>
            <div class="bd-r pd-x-10">
                <label class="tx-12">This Month</label>
                <p class="tx-lato tx-inverse tx-bold"><%=reports?.customerReport?.thisMonthCustomers || 0 %></p>
              </div>
  
            <div class="pd-l-10">
              <label class="tx-12">Total</label>
              <p class="tx-lato tx-inverse tx-bold"><%=reports?.customerReport?.totalCustomers || 0 %></p>
            </div>
          </div><!-- d-flex -->
          <div class="progress mg-b-10">
            <div class="progress-bar wd-50p" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
          </div>
          <p class="tx-12 mg-b-0">Only active and non-admin customers.</p>
        </div><!-- card -->
      </div><!-- col-4 -->
      <div class="col-lg-4 mg-t-15 mg-sm-t-20 mg-lg-t-0">
        <div class="card pd-20">
          <h6 class="tx-12 tx-uppercase tx-inverse tx-bold mg-b-15">Summary Report</h6>
          <div class="d-flex mg-b-10">
            <div class="bd-r pd-r-10">
              <label class="tx-12">Categories</label>
              <p class="tx-lato tx-inverse tx-bold"><%= reports?.summaryReport?.totalCategories || 0 %></p>
            </div>
            <div class="bd-r pd-x-10">
              <label class="tx-12">Patterns</label>
              <p class="tx-lato tx-inverse tx-bold"><%= reports?.summaryReport?.totalUploads || 0 %></p>
            </div>
            <div class="bd-r pd-x-10">
                <label class="tx-12">Cliparts</label>
                <p class="tx-lato tx-inverse tx-bold">0</p>
              </div>
            <div class="pd-l-10">
              <label class="tx-12">Templates</label>
              <p class="tx-lato tx-inverse tx-bold">0</p>
            </div>
          </div><!-- d-flex -->
          <div class="progress mg-b-10">
            <div class="progress-bar bg-success wd-75p" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
          </div>
          <p class="tx-12 mg-b-0">Only active categories and uploads.</p>
        </div><!-- card -->
      </div><!-- col-4 -->
      <div class="col-lg-4 mg-t-15 mg-sm-t-20 mg-lg-t-0">
        <div class="card pd-20">
          <h6 class="tx-12 tx-uppercase tx-inverse tx-bold mg-b-15">Sales Report</h6>
          <div class="d-flex mg-b-10">
            <div class="bd-r pd-r-10">
              <label class="tx-12">Today</label>
              <p class="tx-lato tx-inverse tx-bold">1,898</p>
            </div>
            <div class="bd-r pd-x-10">
              <label class="tx-12">This Week</label>
              <p class="tx-lato tx-inverse tx-bold">32,112</p>
            </div>
            <div class="pd-l-10">
              <label class="tx-12">This Month</label>
              <p class="tx-lato tx-inverse tx-bold">72,067</p>
            </div>
          </div><!-- d-flex -->
          <div class="progress mg-b-10">
            <div class="progress-bar bg-danger wd-20p" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">20%</div>
          </div>
          <p class="tx-12 mg-b-0">Maecenas tempus, tellus eget condimentum rhoncus</p>
        </div><!-- card -->
      </div><!-- col-4 -->
    </div><!-- row -->

    <div class="row row-sm mg-t-20">
      <div class="col-lg-4">
        <div class="card">
          <div id="rs1" class="wd-100p ht-200 rickshaw_graph"><svg width="336" height="200"><g><path d="M0,150Q22.400000000000002,174.16666666666666,25.846153846153847,175C31.015384615384615,176.25,46.52307692307693,162.5,51.69230769230769,162.5S72.36923076923078,175,77.53846153846155,175S98.21538461538462,161.25,103.38461538461539,162.5S124.06153846153846,187.5,129.23076923076923,187.5S149.90769230769232,163.75,155.0769230769231,162.5S175.75384615384613,176.25,180.9230769230769,175S201.6,153.75,206.76923076923077,150S227.44615384615383,141.25,232.6153846153846,137.5S253.29230769230767,112.5,258.46153846153845,112.5S279.13846153846157,137.5,284.3076923076923,137.5S304.98461538461544,116.25,310.1538461538462,112.5Q313.6,110,336,100L336,200Q313.6,200,310.1538461538462,200C304.98461538461544,200,289.4769230769231,200,284.3076923076923,200S263.6307692307692,200,258.46153846153845,200S237.7846153846154,200,232.6153846153846,200S211.93846153846155,200,206.76923076923077,200S186.09230769230768,200,180.9230769230769,200S160.24615384615387,200,155.0769230769231,200S134.4,200,129.23076923076923,200S108.55384615384615,200,103.38461538461539,200S82.70769230769231,200,77.53846153846155,200S56.86153846153846,200,51.69230769230769,200S31.015384615384615,200,25.846153846153847,200Q22.400000000000002,200,0,200Z" class="area" fill="#fdc390"></path><path d="M0,150Q22.400000000000002,174.16666666666666,25.846153846153847,175C31.015384615384615,176.25,46.52307692307693,162.5,51.69230769230769,162.5S72.36923076923078,175,77.53846153846155,175S98.21538461538462,161.25,103.38461538461539,162.5S124.06153846153846,187.5,129.23076923076923,187.5S149.90769230769232,163.75,155.0769230769231,162.5S175.75384615384613,176.25,180.9230769230769,175S201.6,153.75,206.76923076923077,150S227.44615384615383,141.25,232.6153846153846,137.5S253.29230769230767,112.5,258.46153846153845,112.5S279.13846153846157,137.5,284.3076923076923,137.5S304.98461538461544,116.25,310.1538461538462,112.5Q313.6,110,336,100" class="line" fill="none" stroke="#FB9337" stroke-width="2"></path></g></svg></div>
          <div class="overlay-body pd-x-20 pd-t-20">
            <div class="d-flex justify-content-between">
              <div>
                <h6 class="tx-12 tx-uppercase tx-inverse tx-bold mg-b-15">Today's Earnings</h6>
                <p class="tx-12">November 21, 2017</p>
              </div>
              <a href="" class="tx-gray-600 hover-info"><i class="icon ion-more tx-16 lh-0"></i></a>
            </div><!-- d-flex -->
            <h2 class="mg-b-5 tx-inverse tx-lato">$12,212</h2>
            <p class="tx-12 mg-b-0">Earnings before taxes.</p>
          </div>
        </div><!-- card -->
      </div><!-- col -->
      <div class="col-lg-4 mg-t-15 mg-sm-t-20 mg-lg-t-0">
        <div class="card">
          <div id="rs2" class="wd-100p ht-200 rickshaw_graph"><svg width="336" height="200"><rect x="0" y="150" width="22.799999999999997" height="50" transform="matrix(1,0,0,1,0,0)" fill="#17A2B8"></rect><rect x="24" y="175" width="22.799999999999997" height="25" transform="matrix(1,0,0,1,0,0)" fill="#17A2B8"></rect><rect x="48" y="162.5" width="22.799999999999997" height="37.5" transform="matrix(1,0,0,1,0,0)" fill="#17A2B8"></rect><rect x="72" y="175" width="22.799999999999997" height="25" transform="matrix(1,0,0,1,0,0)" fill="#17A2B8"></rect><rect x="96" y="162.5" width="22.799999999999997" height="37.5" transform="matrix(1,0,0,1,0,0)" fill="#17A2B8"></rect><rect x="120" y="187.5" width="22.799999999999997" height="12.5" transform="matrix(1,0,0,1,0,0)" fill="#17A2B8"></rect><rect x="144" y="162.5" width="22.799999999999997" height="37.5" transform="matrix(1,0,0,1,0,0)" fill="#17A2B8"></rect><rect x="168" y="175" width="22.799999999999997" height="25" transform="matrix(1,0,0,1,0,0)" fill="#17A2B8"></rect><rect x="192" y="150" width="22.799999999999997" height="50" transform="matrix(1,0,0,1,0,0)" fill="#17A2B8"></rect><rect x="216.00000000000003" y="137.5" width="22.799999999999997" height="62.5" transform="matrix(1,0,0,1,0,0)" fill="#17A2B8"></rect><rect x="240" y="112.5" width="22.799999999999997" height="87.5" transform="matrix(1,0,0,1,0,0)" fill="#17A2B8"></rect><rect x="264" y="137.5" width="22.799999999999997" height="62.5" transform="matrix(1,0,0,1,0,0)" fill="#17A2B8"></rect><rect x="288" y="112.5" width="22.799999999999997" height="87.5" transform="matrix(1,0,0,1,0,0)" fill="#17A2B8"></rect><rect x="312" y="100" width="22.799999999999997" height="100" transform="matrix(1,0,0,1,0,0)" fill="#17A2B8"></rect></svg></div>
          <div class="overlay-body pd-x-20 pd-t-20">
            <div class="d-flex justify-content-between">
              <div>
                <h6 class="tx-12 tx-uppercase tx-inverse tx-bold mg-b-15">Today's Earnings</h6>
                <p class="tx-12">November 21, 2017</p>
              </div>
              <a href="" class="tx-gray-600 hover-info"><i class="icon ion-more tx-16 lh-0"></i></a>
            </div><!-- d-flex -->
            <h2 class="mg-b-5 tx-inverse tx-lato">$84,212</h2>
            <p class="tx-12 mg-b-0">Earnings before taxes.</p>
          </div>
        </div><!-- card -->
      </div><!-- col -->
      <div class="col-lg-4 mg-t-15 mg-sm-t-20 mg-lg-t-0">
        <div class="card">
          <div id="rs3" class="wd-100p ht-200 rickshaw_graph"><svg width="336" height="200"><path class="path" d="M0,150Q22.400000000000002,174.16666666666666,25.846153846153847,175C31.015384615384615,176.25,46.52307692307693,162.5,51.69230769230769,162.5S72.36923076923078,175,77.53846153846155,175S98.21538461538462,161.25,103.38461538461539,162.5S124.06153846153846,187.5,129.23076923076923,187.5S149.90769230769232,163.75,155.0769230769231,162.5S175.75384615384613,176.25,180.9230769230769,175S201.6,153.75,206.76923076923077,150S227.44615384615383,141.25,232.6153846153846,137.5S253.29230769230767,112.5,258.46153846153845,112.5S279.13846153846157,137.5,284.3076923076923,137.5S304.98461538461544,116.25,310.1538461538462,112.5Q313.6,110,336,100" fill="none" stroke="#28A745" stroke-width="2" opacity="1"></path><path class="stroke"></path></svg></div>
          <div class="overlay-body pd-x-20 pd-t-20">
            <div class="d-flex justify-content-between">
              <div>
                <h6 class="tx-12 tx-uppercase tx-inverse tx-bold mg-b-15">Today's Earnings</h6>
                <p class="tx-12">November 21, 2017</p>
              </div>
              <a href="" class="tx-gray-600 hover-info"><i class="icon ion-more tx-16 lh-0"></i></a>
            </div><!-- d-flex -->
            <h2 class="mg-b-5 tx-inverse tx-lato">$67,212</h2>
            <p class="tx-12 mg-b-0">Earnings before taxes.</p>
          </div>
        </div><!-- card -->
      </div><!-- col -->
    </div><!-- row -->

    <div class="row row-sm mg-t-15 mg-sm-t-20">
      <div class="col-lg-4">
        <div class="card">
          <div id="map1"><img class="img-fluid" alt="" src="http://maps.googleapis.com/maps/api/staticmap?center=40.702247,-73.996349&amp;size=600x400&amp;sensor=true&amp;zoom=14&amp;key=AIzaSyAEt_DBLTknLexNbTVwbXyq2HSf2UbRBU8&amp;style=feature:administrative|element:labels.text.fill|color:0x444444&amp;style=feature:landscape|element:all|color:0xf2f2f2&amp;style=feature:poi|element:all|visibility:off&amp;style=feature:road|element:all|saturation:-100|lightness:45&amp;style=feature:road.highway|element:all|visibility:simplified&amp;style=feature:road.arterial|element:labels.icon|visibility:off&amp;style=feature:transit|element:all|visibility:off&amp;style=feature:water|element:all|color:0x0866C6|visibility:on&amp;scale=0.800000011920929"></div>
          <div class="pd-20">
            <h6 class="tx-inverse tx-14">ThemePixels, Inc.</h6>
            <p class="tx-13 mg-b-0">4975 Cambridge Road Miami Gardens, FL 33056B</p>
            <p class="tx-13"><abbr title="Phone">P:</abbr> (123) 456-7890</p>

            <div class="d-flex">
              <a href="" class="btn btn-info bd-0 pd-x-20"><i class="fa fa-phone mg-r-5"></i>Call</a>
              <a href="" class="btn btn-info bd-0 pd-x-20 mg-l-1"><i class="fa fa-envelope mg-r-5"></i>Email</a>
              <a href="" class="btn btn-success bd-0 pd-x-20 mg-l-auto"><i class="fa fa-star mg-r-5"></i>4.3</a>
            </div><!-- d-flex -->
          </div><!-- pd-20 -->
        </div><!-- card -->
      </div><!-- col-4 -->
      <div class="col-lg-4 mg-t-15 mg-sm-t-20 mg-lg-t-0">
        <div class="card">
          <div id="map2"><img class="img-fluid" alt="" src="http://maps.googleapis.com/maps/api/staticmap?center=40.702247,-73.996349&amp;size=600x400&amp;sensor=true&amp;zoom=14&amp;key=AIzaSyAEt_DBLTknLexNbTVwbXyq2HSf2UbRBU8&amp;style=feature:water|saturation:43|lightness:-11|hue:0x0088ff&amp;style=feature:road|element:geometry.fill|hue:0xff0000|saturation:-100|lightness:99&amp;style=feature:road|element:geometry.stroke|color:0x808080|lightness:54&amp;style=feature:landscape.man_made|element:geometry.fill|color:0xece2d9&amp;style=feature:poi.park|element:geometry.fill|color:0xccdca1&amp;style=feature:road|element:labels.text.fill|color:0x767676&amp;style=feature:road|element:labels.text.stroke|color:0xffffff&amp;style=feature:poi|visibility:off&amp;style=feature:landscape.natural|element:geometry.fill|visibility:on|color:0xb8cb93&amp;style=feature:poi.park|visibility:on&amp;style=feature:poi.sports_complex|visibility:on&amp;style=feature:poi.medical|visibility:on&amp;style=feature:poi.business|visibility:simplified&amp;scale=0.800000011920929"></div>
          <div class="pd-20">
            <h6 class="tx-inverse tx-14">ThemePixels, Inc.</h6>
            <p class="tx-13 mg-b-0">4975 Cambridge Road Miami Gardens, FL 33056B</p>
            <p class="tx-13"><abbr title="Phone">P:</abbr> (123) 456-7890</p>

            <div class="d-flex">
              <a href="" class="btn btn-info bd-0 pd-x-20"><i class="fa fa-phone mg-r-5"></i>Call</a>
              <a href="" class="btn btn-info bd-0 pd-x-20 mg-l-1"><i class="fa fa-envelope mg-r-5"></i>Email</a>
              <a href="" class="btn btn-success bd-0 pd-x-20 mg-l-auto"><i class="fa fa-star mg-r-5"></i>4.3</a>
            </div><!-- d-flex -->
          </div><!-- pd-20 -->
        </div><!-- card -->
      </div><!-- col-4 -->
      <div class="col-lg-4 mg-t-15 mg-sm-t-20 mg-lg-t-0">
        <div class="card">
          <div id="map3"><img class="img-fluid" alt="" src="http://maps.googleapis.com/maps/api/staticmap?center=40.702247,-73.996349&amp;size=600x400&amp;sensor=true&amp;zoom=14&amp;key=AIzaSyAEt_DBLTknLexNbTVwbXyq2HSf2UbRBU8&amp;style=feature:water|element:geometry.fill|color:0xd3d3d3&amp;style=feature:transit|color:0x808080|visibility:off&amp;style=feature:road.highway|element:geometry.stroke|visibility:on|color:0xb3b3b3&amp;style=feature:road.highway|element:geometry.fill|color:0xffffff&amp;style=feature:road.local|element:geometry.fill|visibility:on|color:0xffffff|weight:1.8&amp;style=feature:road.local|element:geometry.stroke|color:0xd7d7d7&amp;style=feature:poi|element:geometry.fill|visibility:on|color:0xebebeb&amp;style=feature:administrative|element:geometry|color:0xa7a7a7&amp;style=feature:road.arterial|element:geometry.fill|color:0xffffff&amp;style=feature:road.arterial|element:geometry.fill|color:0xffffff&amp;style=feature:landscape|element:geometry.fill|visibility:on|color:0xefefef&amp;style=feature:road|element:labels.text.fill|color:0x696969&amp;style=feature:administrative|element:labels.text.fill|visibility:on|color:0x737373&amp;style=feature:poi|element:labels.icon|visibility:off&amp;style=feature:poi|element:labels|visibility:off&amp;style=feature:road.arterial|element:geometry.stroke|color:0xd6d6d6&amp;style=feature:road|element:labels.icon|visibility:off&amp;style=feature:poi|element:geometry.fill|color:0xdadada&amp;scale=0.800000011920929"></div>
          <div class="pd-20">
            <h6 class="tx-inverse tx-14">ThemePixels, Inc.</h6>
            <p class="tx-13 mg-b-0">4975 Cambridge Road Miami Gardens, FL 33056B</p>
            <p class="tx-13"><abbr title="Phone">P:</abbr> (123) 456-7890</p>

            <div class="d-flex">
              <a href="" class="btn btn-info bd-0 pd-x-20"><i class="fa fa-phone mg-r-5"></i>Call</a>
              <a href="" class="btn btn-info bd-0 pd-x-20 mg-l-1"><i class="fa fa-envelope mg-r-5"></i>Email</a>
              <a href="" class="btn btn-success bd-0 pd-x-20 mg-l-auto"><i class="fa fa-star mg-r-5"></i>4.3</a>
            </div><!-- d-flex -->
          </div><!-- pd-20 -->
        </div><!-- card -->
      </div><!-- col-4 -->
    </div><!-- row -->

    <div class="row row-sm mg-t-15 mg-sm-t-20">
      <div class="col-md-6 col-lg-4">
        <ul class="list-group widget-list-group">
          <li class="list-group-item rounded-top-0">
            <p class="mg-b-0"><strong class="tx-inverse tx-medium">Retina: 13.3-inch</strong> <span class="text-muted">Display</span></p>
          </li>
          <li class="list-group-item">
            <p class="mg-b-0"><strong class="tx-inverse tx-medium">Intel Iris Graphics 6100</strong> <span class="text-muted">Graphics</span></p>
          </li>
          <li class="list-group-item">
            <p class="mg-b-0"><strong class="tx-inverse tx-medium">500 GB</strong> <span class="text-muted">Flash Storage</span></p>
          </li>
          <li class="list-group-item">
            <p class="mg-b-0"><strong class="tx-inverse tx-medium">3.1 GHz Intel Core i7</strong> <span class="text-muted">Processor</span></p>
          </li>
          <li class="list-group-item rounded-bottom-0">
            <p class="mg-b-0"><strong class="tx-inverse tx-medium">16 GB 1867 MHz DDR3</strong> <span class="text-muted">Memory</span></p>
          </li>
        </ul>
      </div><!-- col-4 -->
      <div class="col-lg-4 mg-t-15 mg-sm-t-20 mg-lg-t-0">
        <ul class="list-group widget-list-group">
          <li class="list-group-item rounded-top-0">
            <p class="mg-b-0"><i class="fa fa-check tx-success mg-r-8"></i><strong class="tx-inverse tx-medium">Retina: 13.3-inch</strong> <span class="text-muted">Display</span></p>
          </li>
          <li class="list-group-item">
            <p class="mg-b-0"><i class="fa fa-check tx-success mg-r-8"></i><strong class="tx-inverse tx-medium">Intel Iris Graphics 6100</strong> <span class="text-muted">Graphics</span></p>
          </li>
          <li class="list-group-item">
            <p class="mg-b-0"><i class="fa fa-check tx-success mg-r-8"></i><strong class="tx-inverse tx-medium">500 GB</strong> <span class="text-muted">Flash Storage</span></p>
          </li>
          <li class="list-group-item">
            <p class="mg-b-0"><i class="fa fa-check tx-success mg-r-8"></i><strong class="tx-inverse tx-medium">3.1 GHz Intel Core i7</strong> <span class="text-muted">Processor</span></p>
          </li>
          <li class="list-group-item rounded-bottom-0">
            <p class="mg-b-0"><i class="fa fa-check tx-success mg-r-8"></i><strong class="tx-inverse tx-medium">16 GB 1867 MHz DDR3</strong> <span class="text-muted">Memory</span></p>
          </li>
        </ul>
      </div><!-- col-4 -->
      <div class="col-lg-4 mg-t-15 mg-sm-t-20 mg-lg-t-0">
        <ul class="list-group widget-list-group bg-info">
          <li class="list-group-item rounded-top-0">
            <p class="mg-b-0"><i class="fa fa-cube tx-white-7 mg-r-8"></i><strong class="tx-medium">Retina: 13.3-inch</strong> <span class="text-muted">Display</span></p>
          </li>
          <li class="list-group-item">
            <p class="mg-b-0"><i class="fa fa-cube tx-white-7 mg-r-8"></i><strong class="tx-medium">Intel Iris Graphics 6100</strong> <span class="text-muted">Graphics</span></p>
          </li>
          <li class="list-group-item">
            <p class="mg-b-0"><i class="fa fa-cube tx-white-7 mg-r-8"></i><strong class="tx-medium">500 GB</strong> <span class="text-muted">Flash Storage</span></p>
          </li>
          <li class="list-group-item">
            <p class="mg-b-0"><i class="fa fa-cube tx-white-7 mg-r-8"></i><strong class="tx-medium">3.1 GHz Intel Core i7</strong> <span class="text-muted">Processor</span></p>
          </li>
          <li class="list-group-item rounded-bottom-0">
            <p class="mg-b-0"><i class="fa fa-cube tx-white-7 mg-r-8"></i><strong class="tx-tx-medium">16 GB 1867 MHz DDR3</strong> <span class="text-muted">Memory</span></p>
          </li>
        </ul>
      </div><!-- col-4 -->
    </div><!-- row -->

    <div class="row row-sm mg-t-15 mg-sm-t-20">
      <div class="col-md-6">
        <div class="list-group widget-list-group">
          <div class="list-group-item pd-y-20 rounded-top-0">
            <div class="media">
              <div class="d-flex mg-r-10 wd-50">
                <i class="fa fa-file-text-o tx-info tx-40 tx"></i>
              </div><!-- d-flex -->
              <div class="media-body">
                <h6 class="tx-inverse">Easy Customization</h6>
                <p class="mg-b-0">List groups are a flexible and powerful component for displaying simple.</p>
              </div><!-- media-body -->
            </div><!-- media -->
          </div><!-- list-group-item -->
          <div class="list-group-item pd-y-20">
            <div class="media">
              <div class="d-flex mg-r-10 wd-50">
                <i class="fa fa-folder-open-o tx-info tx-40"></i>
              </div><!-- d-flex -->
              <div class="media-body">
                <h6 class="tx-inverse">Get Started Easily</h6>
                <p class="mg-b-0">List groups are a flexible and powerful component for displaying simple.</p>
              </div><!-- media-body -->
            </div><!-- media -->
          </div><!-- list-group-item -->
          <div class="list-group-item pd-y-20 rounded-bottom-0">
            <div class="media">
              <div class="d-flex mg-r-10 wd-50">
                <i class="fa fa-tv tx-info tx-40"></i>
              </div><!-- d-flex -->
              <div class="media-body">
                <h6 class="tx-inverse">Customer Satisfaction</h6>
                <p class="mg-b-0">List groups are a flexible and powerful component for displaying simple.</p>
              </div><!-- media-body -->
            </div><!-- media -->
          </div><!-- list-group-item -->
        </div><!-- list-group -->
      </div><!-- col-md-6 -->

      <div class="col-md-6 mg-t-15 mg-sm-t-20 mg-md-t-0">
        <div class="list-group widget-list-group bg-primary">
          <div class="list-group-item pd-y-20 rounded-top-0">
            <div class="media">
              <div class="media-body">
                <h6>Easy Customization</h6>
                <p class="op-8 mg-b-0">List groups are a flexible and powerful component for displaying simple.</p>
              </div><!-- media-body -->
              <div class="d-flex mg-l-10 wd-50">
                <i class="fa fa-file-text-o tx-40"></i>
              </div><!-- d-flex -->
            </div><!-- media -->
          </div><!-- list-group-item -->
          <div class="list-group-item pd-y-20">
            <div class="media">
              <div class="media-body">
                <h6>Get Started Easily</h6>
                <p class="mg-b-0 tx-white-8">List groups are a flexible and powerful component for displaying simple.</p>
              </div><!-- media-body -->
              <div class="d-flex mg-l-10 wd-50">
                <i class="fa fa-folder-open-o tx-40"></i>
              </div><!-- d-flex -->
            </div><!-- media -->
          </div><!-- list-group-item -->
          <div class="list-group-item pd-y-20 rounded-bottom-0">
            <div class="media">
              <div class="media-body">
                <h6>Customer Satisfaction</h6>
                <p class="mg-b-0 tx-white-8">List groups are a flexible and powerful component for displaying simple.</p>
              </div><!-- media-body -->
              <div class="d-flex mg-l-10 wd-50">
                <i class="fa fa-tv tx-40"></i>
              </div><!-- d-flex -->
            </div><!-- media -->
          </div><!-- list-group-item -->
        </div><!-- list-group -->
      </div><!-- col-md-6 -->
    </div><!-- row -->

    <div class="row row-sm mg-t-15 mg-sm-t-20">
      <div class="col-md-6">
        <div class="list-group widget-list-group">
          <div class="list-group-item d-flex">
            <div class="media d-block d-sm-flex">
              <div class="d-block d-sm-flex mg-sm-r-20">
                <img src="../img/img2.jpg" class="rounded-circle wd-40" alt="Image">
              </div><!-- d-flex -->
              <div class="media-body mg-t-10 mg-sm-t-0">
                <h6 class="mg-b-5 tx-14"><a href="" class="tx-inverse hover-primary">Danica Bustamante</a></h6>
                <p class="mg-b-0 tx-12">Junior Software Engineer</p>
              </div><!-- media-body -->
            </div><!-- media -->
            <a href="" class="btn btn-success pd-lg-x-20 mg-l-auto">Follow</a>
          </div><!-- list-group-item -->
          <div class="list-group-item d-flex">
            <div class="media d-block d-sm-flex">
              <div class="d-sm-flex mg-sm-r-20">
                <img src="../img/img3.jpg" class="rounded-circle wd-40" alt="Image">
              </div><!-- d-flex -->
              <div class="media-body mg-t-10 mg-sm-t-0">
                <h6 class="mg-b-5 tx-14"><a href="" class="tx-inverse hover-primary">David P. Radcliff</a></h6>
                <p class="mg-b-0 tx-12">Team Leader - Sales</p>
              </div><!-- media-body -->
            </div><!-- media -->
            <a href="" class="btn btn-success pd-lg-x-20 mg-l-auto">Follow</a>
          </div><!-- list-group-item -->
          <div class="list-group-item d-flex">
            <div class="media d-block d-sm-flex">
              <div class="d-sm-flex mg-sm-r-20">
                <img src="../img/img4.jpg" class="rounded-circle wd-40" alt="Image">
              </div><!-- d-flex -->
              <div class="media-body mg-t-10 mg-sm-t-0">
                <h6 class="mg-b-5 tx-14"><a href="" class="tx-inverse hover-primary">Gregory M. Bethel</a></h6>
                <p class="mg-b-0 tx-12">Sales Executive</p>
              </div><!-- media-body -->
            </div><!-- media -->
            <a href="" class="btn btn-success pd-lg-x-20 mg-l-auto">Follow</a>
          </div><!-- list-group-item -->
          <div class="list-group-item d-flex">
            <div class="media d-block d-sm-flex">
              <div class="d-sm-flex mg-sm-r-20">
                <img src="../img/img5.jpg" class="rounded-circle wd-40" alt="Image">
              </div><!-- d-flex -->
              <div class="media-body mg-t-10 mg-sm-t-0">
                <h6 class="mg-b-5 tx-14"><a href="" class="tx-inverse hover-primary">Elmer Gabales</a></h6>
                <p class="mg-b-0 tx-12">Sales Executive</p>
              </div><!-- media-body -->
            </div><!-- media -->
            <a href="" class="btn btn-success pd-lg-x-20 mg-l-auto">Follow</a>
          </div><!-- list-group-item -->
          <div class="list-group-item d-flex">
            <div class="media d-block d-sm-flex">
              <div class="d-sm-flex mg-sm-r-20">
                <img src="../img/img6.jpg" class="rounded-circle wd-40" alt="Image">
              </div><!-- d-flex -->
              <div class="media-body mg-t-10 mg-sm-t-0">
                <h6 class="mg-b-5 tx-14"><a href="" class="tx-inverse hover-primary">Vance R. Gledhill</a></h6>
                <p class="mg-b-0 tx-12">Marketing Specialist</p>
              </div><!-- media-body -->
            </div><!-- media -->
            <a href="" class="btn btn-success pd-lg-x-20 mg-l-auto">Follow</a>
          </div><!-- list-group-item -->
        </div><!-- list-group -->
      </div><!-- col-md-6 -->

      <div class="col-md-6 mg-t-15 mg-sm-t-20 mg-md-t-0">
        <div class="list-group widget-list-group bg-app-primary">
          <div class="list-group-item d-flex">
            <div class="media d-block d-sm-flex">
              <div class="d-block d-sm-flex mg-sm-r-20">
                <img src="../img/img2.jpg" class="rounded-circle wd-40" alt="Image">
              </div><!-- d-flex -->
              <div class="media-body mg-t-10 mg-sm-t-0">
                <h6 class="mg-b-5 tx-14"><a href="" class="tx-white">Danica Bustamante</a></h6>
                <p class="mg-b-0 tx-12 tx-white-5">Junior Software Engineer</p>
              </div><!-- media-body -->
            </div><!-- media -->
            <a href="" class="btn btn-info pd-lg-x-20 mg-l-auto">Follow</a>
          </div><!-- list-group-item -->
          <div class="list-group-item d-flex">
            <div class="media d-block d-sm-flex">
              <div class="d-sm-flex mg-sm-r-20">
                <img src="../img/img3.jpg" class="rounded-circle wd-40" alt="Image">
              </div><!-- d-flex -->
              <div class="media-body mg-t-10 mg-sm-t-0">
                <h6 class="mg-b-5 tx-14"><a href="" class="tx-white">David P. Radcliff</a></h6>
                <p class="mg-b-0 tx-12 tx-white-5">Team Leader - Sales</p>
              </div><!-- media-body -->
            </div><!-- media -->
            <a href="" class="btn btn-info pd-lg-x-20 mg-l-auto">Follow</a>
          </div><!-- list-group-item -->
          <div class="list-group-item d-flex">
            <div class="media d-block d-sm-flex">
              <div class="d-sm-flex mg-sm-r-20">
                <img src="../img/img4.jpg" class="rounded-circle wd-40" alt="Image">
              </div><!-- d-flex -->
              <div class="media-body mg-t-10 mg-sm-t-0">
                <h6 class="mg-b-5 tx-14"><a href="" class="tx-white">Gregory M. Bethel</a></h6>
                <p class="mg-b-0 tx-12 tx-white-5">Sales Executive</p>
              </div><!-- media-body -->
            </div><!-- media -->
            <a href="" class="btn btn-info pd-lg-x-20 mg-l-auto">Follow</a>
          </div><!-- list-group-item -->
          <div class="list-group-item d-flex">
            <div class="media d-block d-sm-flex">
              <div class="d-sm-flex mg-sm-r-20">
                <img src="../img/img5.jpg" class="rounded-circle wd-40" alt="Image">
              </div><!-- d-flex -->
              <div class="media-body mg-t-10 mg-sm-t-0">
                <h6 class="mg-b-5 tx-14"><a href="" class="tx-white">Elmer Gabales</a></h6>
                <p class="mg-b-0 tx-12 tx-white-5">Sales Executive</p>
              </div><!-- media-body -->
            </div><!-- media -->
            <a href="" class="btn btn-info pd-lg-x-20 mg-l-auto">Follow</a>
          </div><!-- list-group-item -->
          <div class="list-group-item d-flex">
            <div class="media d-block d-sm-flex">
              <div class="d-sm-flex mg-sm-r-20">
                <img src="../img/img6.jpg" class="rounded-circle wd-40" alt="Image">
              </div><!-- d-flex -->
              <div class="media-body mg-t-10 mg-sm-t-0">
                <h6 class="mg-b-5 tx-14"><a href="" class="tx-white">Vance R. Gledhill</a></h6>
                <p class="mg-b-0 tx-12 tx-white-5">Marketing Specialist</p>
              </div><!-- media-body -->
            </div><!-- media -->
            <a href="" class="btn btn-info pd-lg-x-20 mg-l-auto">Follow</a>
          </div><!-- list-group-item -->
        </div><!-- list-group -->
      </div><!-- col-lg-6 -->
    </div><!-- row -->

    <div class="row row-sm mg-t-15 mg-sm-t-20">
      <div class="col-md-6">
        <div class="list-group widget-list-group">
          <div class="list-group-item pd-20">
            <div class="d-flex justify-content-between align-items-center tx-12 mg-b-20">
              <a href="" class="tx-danger">Mildred J. Reulet</a>
              <span>April 21, 2017</span>
            </div><!-- d-flex -->
            <h6 class="mg-b-10"><a href="" class="tx-inverse">Skip the Boring Business Plan. Focus on This Strategy Instead</a></h6>
            <p class="tx-13 mg-b-0">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
          </div><!-- list-group-item -->
          <div class="list-group-item pd-20">
            <div class="d-flex justify-content-between align-items-center tx-12 mg-b-20">
              <a href="" class="tx-danger">Randall A. Wells</a>
              <span>April 22, 2017</span>
            </div><!-- d-flex -->
            <h6 class="mg-b-10"><a href="" class="tx-inverse">How I Built a Startup While Traveling to 20 Countries</a></h6>
            <p class="tx-13 mg-b-0">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
          </div><!-- list-group-item -->
          <div class="list-group-item pd-20">
            <div class="d-flex justify-content-between align-items-center tx-12 mg-b-20">
              <a href="" class="tx-danger">Reynante Labares</a>
              <span>April 23, 2017</span>
            </div><!-- d-flex -->
            <h6 class="mg-b-10"><a href="" class="tx-inverse">A Counterintuitive System for Startup Compensation</a></h6>
            <p class="tx-13 mg-b-0">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
          </div><!-- list-group-item -->
        </div><!-- list-group -->
      </div><!-- col-md-6 -->
      <div class="col-md-6 mg-t-15 mg-sm-t-20 mg-md-t-0">
        <div class="list-group widget-list-group bg-app-primary">
          <div class="list-group-item pd-20">
            <div class="d-flex justify-content-between align-items-center tx-12 mg-b-20">
              <a href="" class="tx-white">Mildred J. Reulet</a>
              <span>April 21, 2017</span>
            </div><!-- d-flex -->
            <h6 class="tx-normal mg-b-10"><a href="" class="tx-white">Skip the Boring Business Plan. Focus on This Strategy Instead</a></h6>
            <p class="tx-13 mg-b-0 tx-white-5">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
          </div><!-- list-group-item -->
          <div class="list-group-item pd-20">
            <div class="d-flex justify-content-between align-items-center tx-12 mg-b-20">
              <a href="" class="tx-white">Randall A. Wells</a>
              <span>April 22, 2017</span>
            </div><!-- d-flex -->
            <h6 class="tx-normal mg-b-10"><a href="" class="tx-white">How I Built a Startup While Traveling to 20 Countries</a></h6>
            <p class="tx-13 mg-b-0 tx-white-5">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
          </div><!-- list-group-item -->
          <div class="list-group-item pd-20">
            <div class="d-flex justify-content-between align-items-center tx-12 mg-b-20">
              <a href="" class="tx-white">Reynante Labares</a>
              <span>April 23, 2017</span>
            </div><!-- d-flex -->
            <h6 class="tx-normal mg-b-10"><a href="" class="tx-white">A Counterintuitive System for Startup Compensation</a></h6>
            <p class="tx-13 tx-white-5 mg-b-0">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
          </div><!-- list-group-item -->
        </div><!-- list-group -->
      </div><!-- col-md-6 -->
    </div><!-- row -->

    <div class="row row-sm mg-t-20">
      <div class="col-lg-6">
        <div class="mail-list bg-white">
          <div class="mail-item d-block pd-y-10 pd-x-20 bd-b bd-gray-200">
            <div class="d-flex justify-content-between mg-b-2">
              <div class="tx-14">
                <a href="" class="tx-gray-500"><i class="icon ion-star"></i></a>
                <a href="" class="tx-gray-500 mg-l-5"><i class="icon ion-android-attach"></i></a>
              </div>
              <span class="tx-12">8 hours ago</span>
            </div><!-- d-flex -->
            <h6 class="tx-14"><a href="" class="tx-inverse">Socrates Itumay, me (4)</a></h6>
            <p class="tx-13 mg-b-10">I should be incapable of drawing a single stroke at the present moment; and yet I feel that I never...</p>
          </div><!-- mail-item -->
          <div class="mail-item d-block pd-y-10 pd-x-20 bd-b bd-gray-200">
            <div class="d-flex justify-content-between mg-b-2">
              <div class="tx-14">
                <a href="" class="tx-gray-500"><i class="icon ion-star"></i></a>
              </div>
              <span class="tx-12">Yesterday</span>
            </div><!-- d-flex -->
            <h6 class="tx-14"><a href="" class="tx-inverse">Envato, me (2)</a></h6>
            <p class="tx-13 mg-b-10">I should be incapable of drawing a single stroke at the present moment; and yet I feel that I never...</p>
          </div><!-- mail-item -->
          <div class="mail-item d-block pd-y-10 pd-x-20">
            <div class="d-flex justify-content-between mg-b-2">
              <div class="tx-14">
                <a href="" class="tx-warning"><i class="icon ion-star"></i></a>
              </div>
              <span class="tx-12">2 days ago</span>
            </div><!-- d-flex -->
            <h6 class="tx-14"><a href="" class="tx-inverse">ThemeForest</a></h6>
            <p class="tx-13 mg-b-10">A wonderful serenity has taken possession of my entire soul, like these sweet mornings...</p>
          </div><!-- mail-item -->
        </div><!-- mail-list -->
      </div><!-- col-6 -->

      <div class="col-lg-6 mg-t-20 mg-lg-t-0">
        <div class="mail-list bg-white">
          <div class="mail-item d-flex pd-y-10 pd-x-20 bd-b bd-gray-200">
            <div class="pd-t-5"><img src="../img/img3.jpg" class="wd-48 rounded-circle" alt=""></div>
            <div class="mg-l-20">
              <div class="d-flex justify-content-between mg-b-2">
                <div class="tx-14">
                  <a href="" class="tx-gray-500"><i class="icon ion-star"></i></a>
                  <a href="" class="tx-gray-500 mg-l-5"><i class="icon ion-android-attach"></i></a>
                </div>
                <span class="tx-12">8 hours ago</span>
              </div><!-- d-flex -->
              <h6 class="tx-14"><a href="" class="tx-inverse">Socrates Itumay, me (4)</a></h6>
              <p class="tx-13 mg-b-10">I should be incapable of drawing a single stroke at the present moment; and yet I feel that I never...</p>
            </div>
          </div><!-- mail-item -->
          <div class="mail-item d-flex pd-y-10 pd-x-20 bd-b bd-gray-200 bg-gray-100">
            <div class="pd-t-5"><img src="../img/img5.jpg" class="wd-48 rounded-circle" alt=""></div>
            <div class="mg-l-20">
              <div class="d-flex justify-content-between mg-b-2">
                <div class="tx-14">
                  <a href="" class="tx-gray-500"><i class="icon ion-star"></i></a>
                </div>
                <span class="tx-12">Yesterday</span>
              </div><!-- d-flex -->
              <h6 class="tx-14"><a href="" class="tx-inverse">Envato, me (2)</a></h6>
              <p class="tx-13 mg-b-10">I should be incapable of drawing a single stroke at the present moment; and yet I feel that I never...</p>
            </div>
          </div><!-- mail-item -->
          <div class="mail-item d-flex pd-y-10 pd-x-20">
            <div class="pd-t-5"><img src="../img/img8.jpg" class="wd-48 rounded-circle" alt=""></div>
            <div class="mg-l-20">
              <div class="d-flex justify-content-between mg-b-2">
                <div class="tx-14">
                  <a href="" class="tx-warning"><i class="icon ion-star"></i></a>
                </div>
                <span class="tx-12">2 days ago</span>
              </div><!-- d-flex -->
              <h6 class="tx-14"><a href="" class="tx-inverse">ThemeForest</a></h6>
              <p class="tx-13 mg-b-10">A wonderful serenity has taken possession of my entire soul, like these sweet mornings...</p>
            </div>
          </div><!-- mail-item -->
        </div><!-- mail-list -->
      </div><!-- col-6 -->
    </div><!-- row -->

