
<style>
  <%fonts?.forEach((item)=>{%>
  @font-face{
    font-family:"<%=item.content.replace('.ttf','')%>";
    src:url("/fonts/<%=item.content%>");
    font-weight:normal;
    font-style:normal;
    
}                     
<%})%>
</style>
<div>

</div>
<div class="row">
  <div class="col-lg-3 pd-0">
    <div class="card">
      <%- include('../../partials/admin/dashboard-panel'); %>
    </div>
  </div>
  <div class="col-lg-9">
    <div class="card bd-b pd-10 tx-uppercase tx-bold tx-inverse">Add Fonts</div>
    <div class="row">
      <div class="col-lg-12 pd-l-0">
        <div class="card pd-20 mg-15" >
          <div>Enter Font Name</div>
          <input type="text" placeholder="Enter Font Name" id="inputFontName" class="form-control wd-300" maxlength="100" minlength="3" pattern=".{3,100}" title="Minimum 3 and maximum 100 characters." >
          <br>
          <div class="form-layout-footer">
            <input type="file" id="fontFile" name="font-file">
            <p>Only .ttf font format is allowed.</p>
           <div class="tx-14 tx-bold">
            <button type="button" data-value="fonts" id="btnAddFont" class="tx-uppercase btn tx-12 tx-bold   btn-primary mg-r-5">Add</button>
            <button class="btn btn-secondary tx-uppercase btn tx-12 tx-bold" id="btnFontClear">Clear</button>
           </div>
  
          </div>
        </div>
      </div>
    <div class="col-lg-12 ">
      <div class="card pd-20">
        <div class="list-group widget-list-group" style="height: 350px; overflow-y:scroll">
          <%if(!fonts || fonts?.length == 0){%>
          <p class="pd-10">Add Fonts</p>
          <%}%>
          <div>
            <h6 class="tx-uppercase tx-bold tx-14 tx-inverse" >Font List (<%=fonts?.length || 0%>)</h6>
          </div>
        
          <%for(var i=0;i<fonts?.length;i++){%>
          <div class="list-group-item rounded-top-0  pd-0 bd-0" id="fonts-<%=fonts[i]._id%>">
            <div >

              <%if(fonts[i].disable){%>
                <label class="ckbox tx-bold "  id="cbFontEnabled" style="color:#494699">    
                  <input type="checkbox" disabled  id="<%=fonts[i]._id%>" <%=fonts[i].active?'checked':''%>>
                  <span title="Default font can't be deleted"><%=fonts[i].content.split('-')[0]%> (default)</span>
              </label>

                <%}else{%>
                  <label class="ckbox tx-bold "  id="cbFontEnabled" style="color:#494699">    
                    <input type="checkbox" id="<%=fonts[i]._id%>" <%=fonts[i].active?'checked':''%>>
                    <span title="Default font can't be deleted"><%=fonts[i].content.split('-')[0]%></span>
                 
                </label>
                <button style="border-radius: 50%; padding: 0 8px;" class="btn btn-sm btn-primary btnDelFont pull-right type="button" id="<%=fonts[i]._id%>"><i class="icon ion-ios-trash-outline tx-18"></i></button>
                <%}%>
             
            <p class="tx-16" style="color:black;font-family:<%=fonts[i].content.replace('.ttf','')%>">The quick brown fox jumps over the lazy dog</p>
            <span class="pull-right">
              
            
          </div>
          </div>
          <%}%>
        </div>
      </div>
    </div>
  
   
  </div>
  </div>
</div>

