<!DOCTYPE html>
<!-- saved from url=(0075)http://themepixels.me/demo/amanda/app/index.html?storefront=envato-elements -->
<html lang="en">
    <head><%- include('../../partials/admin/head'); %>
    </head>
    <body>
        <div id="image-editor-container">
            <div class="main-panel">
                <%- include('../../partials/admin/topbar'); %>
                <%- include('../../partials/admin/leftusermenu'); %>
                <div class="am-mainpanel" style="position: relative;">
                    <div class="am-pagetitle">
                        <h5 class="am-title"><%= pagetitle %></h5>
                    </div>
                    <div> <%-body-%> </div>
                </div>
                <%- include('../../partials/admin/footer'); %>
        </div>
    </div>
</body></html></body></html>
