

<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-3 pd-0">
      <div class="card">
        <%- include('../../partials/admin/settings-panel'); %>
      </div>
    </div>
    <div class="col-lg-9 col-md-9 col-sm-9">
      <div class="card bd-b pd-10 tx-uppercase tx-bold tx-inverse">Settings</div>
  
      <div class="card pd-20 mg-t-20">
        <div class="row">
            <div class="col-lg-3">
                
                <div data-toggle="modal" data-target="#popup-fileupload-max" class="hand card bd pd-20">
                    <h6 class="tx-12 tx-uppercase tx-inverse tx-bold mg-b-5">File Upload Limit</h6>
                    <h1><strong><%=settings.file_size_limit %></strong><span class="tx-normal">mb</span></h1>
                    <p class="tx-12 mg-b-0">Maximum file Upload Size is 10mb.</p>
                </div>
            </div>
            <div class="col-lg-3">
                
              <div data-toggle="modal" data-target="#popup-banner-delay" class="hand card bd pd-20">
                  <h6 class="tx-12 tx-uppercase tx-inverse tx-bold mg-b-5">Banner Delay</h6>
                  <h1><strong><%=settings.banner_delay||0 %></strong><span class="tx-normal">sec</span></h1>
                  <p class="tx-12 mg-b-0">Banner Delay in Seconds</p>
              </div>
          </div>
        </div>
    </div>
  </div>

  <%- include('../../partials/admin/popups/popup-file-upload-limit'); %>
  <%- include('../../partials/admin/popups/popup-banner-delay'); %>
  