<div class="row mg-r-0">
<div class="col-lg-3 pd-0">
  
  <div class="card">
    <div class="list-group widget-list-group bg-app-primary">
      <div class="list-group-item d-flex">
        <div class="media d-block d-sm-flex">
          <div class="d-block d-sm-flex mg-sm-r-20">
            <i class="ion-edit tx-24 tx-white"></i>
          </div><!-- d-flex -->
          <div class="media-body mg-t-10 mg-sm-t-0">
            <h6 class="mg-b-5 tx-14"><a href="" class="tx-white">Edit Template</a></h6>
            <p class="mg-b-0 tx-12 tx-white-5">Update template details.</p>
          </div><!-- media-body -->
        </div><!-- media -->
      </div>
    </div>
  </div>

  <div class="card pd-10">
    <%- include('../../partials/admin/edit-template'); %>

  </div>
</div>
<div class="col-lg-9 pd-x-10">
  <div class="card pd-10 tx-primary tx-bold bd-b">Templates (<%=templates.length %>)</div>
  <div class="card pd-10">
    <div  id="templatepanel" class="tab-pane active"   >
      <div   >
           <div class="d-flex svg-templates tx-center ">
            <%for(var i=0; i<templates.length; i++){ %>
              <div id="<%=templates[i].code %>" class="template template-small " > 
                <img src="<%=templates[i].base64 %>" style="width:93px"> 
                <div class="tx-12 tx-bold pd-y-5 lh-1"><%=templates[i].title %></div>
            </div>
            <%}%> 
          </div>
      </div>
      </div> 

  </div>
</div>

</div>
<!-- 
<div class="admin-template-designer-bg" style="min-height: 1050px">
  <div class="ht-100v d-flex align-items-center justify-content-center" id="upload-template-splash">
      <div class="wd-lg-70p wd-xl-50p tx-center pd-x-40">
          <i class="ion-ios-keypad-outline" style="font-size:200px"></i>
        <h5 class="tx-xs-24 tx-normal tx-orange lh-5">Please select a template to Edit.</h5>
        <p class="tx-16 mg-b-30">Please select a template to upload a template information.</p>
      </div>
    </div>
    
  
  <div class="ht-100v tx-center" id="template-container">
      <canvas id="admin-main-canvas"></canvas>
  </div>
</div> -->

<!-- <script>
  $(".tab-content .tab-pane").each((i,e)=>
  { $(e).removeClass("active"); })    
 $("#templatepanel").addClass("active");
</script> -->