<div class="row mg-r-0">
<div class="col-lg-4 pd-0">
  
  <div class="card mg-15 pd-15">
    <h6 class="mg-b-5 tx-14 tx-uppercase tx-primary tx-bold">Edit Template</h6>
  </div>

  <div class="card pd-15 mg-15">
    <%- include('../../partials/admin/edit-template'); %>

  </div>
</div>
<div class="col-lg-8 pd-l-0">
  <div class="card  tx-primary tx-bold bd-b pd-15 mg-y-15 tx-uppercase">Templates (<%=templates.length %>)</div>
  <div class="card ">
    <div  id="templatepanel_update" class="tab-pane active"   >
      <div   >
           <div class="row mg-0">
            <%for(var i=0; i<templates.length; i++){ %>
              <div id="<%=templates[i].code %>"  class="bd col-lg-3 tx-center template template-small " >

                <div style="position: absolute;right:0;top:0; width:50px"><i title="Default" class="<%=templates[i].default?'':'hidden' %> tx-success tx-22 ion-android-checkmark-circle"></i></div>
                <img src="<%=templates[i].base64 %>" style="height:120px"> 
                <div> <a href="<%=templates[i].link %>" target="_blank" class="tx-uppercase tx-12 tx-bold tx-underline"># <%=templates[i].ref_code %></a></div>
                
                <div class="lh-2 mg-t-10 tx-bold tx-primary"><%=templates[i].title %></div>
                
            </div>
            <%}%> 
          </div>
      </div>
      </div> 

  </div>
</div>

</div>
