
<div id="templatecontainer" class="d-flex">
    <%if(templates == null || templates.length == 0){%>
        <p>No Template Found.</p>
    <%}%>
    <% for(var i=0; i< templates.length; i++) {  %>

        <div class="card bd-0 wd-xs-150 mg-10 pd-10 " id="t<%= templates[i].code %>">
            <img class="card-img-top img-fluid" src="<%= templates[i].base64 %> " alt="Image">
            <div class="card-body">
              <h6 class="mg-b-3"><a href="" class="tx-dark"><%= templates[i].title %> </a></h6>
              <span class="tx-12"><%= templates[i].created_dt.toLocaleDateString() %></span>
              <i class="ion-ios-trash-outline tx-20 delete-template" title="delete" id="<%= templates[i].code %>" ></i>
            </div>
          </div>
 
    <%} %>
</div>