<style>
  <%fonts?.forEach((item)=>{%> @font-face{ font-family:"<%=item.content.replace('.ttf','').replace('.TTF','')%>";
    src:url("/fonts/<%=item.content%>");font-weight:normal;font-style:normal}
 <%})%>
</style>

<%fonts?.forEach((item)=>{%><link rel="preload" href="/fonts/<%=item.content%>" as="font" type="font/woff" crossorigin><%})%>
   




   </style>
<div class="row mg-r-0">
    <!--Workspace Left Panel-->
    <div class="sidebar-contact">
        <div class="toggle"><div>See below</div></div>
        <div class="scroll">
            <div class="leftpanel" id="menu-panel" >
                <div class="tab-content">
                    
                    <div  id="templatepanel" class="tab-pane active"   >
                     
                      <div class="pd-y-10 pd-l-10  sticky-header-left-panel">
                        <button type="button" class="btn-shadow btn  btn-block btn-success tx-bold tx-16 tx-uppercase" id="btn-step-design">
                          SELECT TEMPLATE
            <br><small >Then Click Here to begin <br/>creating your design</small></button>
                       </div>
            
                      <div style="overflow: auto; height: calc(100vh - 10px)">
                          <div class="row mg-0 sticky-body-left-panel">
                            <%for(var i=0; i<templates.length; i++){ %>
                              <%- include('../../partials/template',{template:templates[i]}); %>
                            <%}%>
                          </div>
                      </div>
                    </div>            
                    <div id="uploadpanel" class="tab-pane"  >
                      <div class="mg-10">
                      <button type="button" class="btn-block bd-b mg-b-3 tx-16 tx-uppercase tx-bold btn btn-warning " id="btn-back-template" >
                        <i class="icon ion-ios-arrow-back tx-16"></i>
                        Back  <br><small >Choose Template</small>
                      </button>
                    </div>
                        
                        <%- include('../../partials/client/imgupload'); %>
                        <div class="mg-10">
                          <button type="button" class="btn-block btn bd-b btn-success tx-bold tx-16 tx-uppercase " id="btn-step-preview">
                            NEXT  <i class="icon ion-ios-arrow-forward tx-16"></i> <br><small >Preview Design</small>
                          </button>
                        </div>
            
                    </div>
                   
                    <div id="shared-library" class="tab-pane"  >
            
                      <%- include('../../partials/client/sharedlibrary'); %>
                    </div>                          
                    <div id="textmenu" class="tab-pane" >
                        <div class="pd-x-10 tx-12 pd-y-10 bd-b"><b class="tx-primary tx-14">Add Text</b> </div>
            
                    </div>
                    <div id="savedesign" class="tab-pane">
                      <div class="list-group widget-list-group bg-app-primary">
                        <div class="list-group-item d-flex">
                          <div class="media d-block d-sm-flex">
                            <div class="media-body">
                              <h6 class="tx-18 tx-uppercase pd-t-10">Save User Project</h6>
                            </div><!-- media-body -->
                          </div><!-- media -->
                        </div>
                      </div>
            
                      <div class="card pd-20 ">
                       
                        <div class="form-layout">
                          <div class="row ">
                            <div class="col-lg-12">
                              <div class="form-group">
                                <label class="form-control-label">Project Name: </label>
                                <input readonly class="form-control" minlength="3" value="<%%>"  maxlength="50" pattern=".{3,30}" title="Minimum 3 and maximum 30 characters." required type="text" id="input-project-title" name="firstname"  >
                              </div>
                            </div>
                            <div class="col-lg-12">
                              <div class="form-group">
                                <label readonly class="form-control-label">Description: </label>
                                <textarea rows="2" readonly class="form-control" pattern=".{3,100}" title="Minimum 3 and maximum 100 characters." minlength="3"  maxlength="50"  id="input-project-desc" required  spellcheck="false"></textarea>
                              </div>
                            </div>
            
                            <div class="col-lg-12">
                              <div class="form-group">
                                <label readonly class="form-control-label">Admin Comments: </label>
                                <textarea rows="2"  class="form-control" pattern=".{3,500}" title="Minimum 3 and maximum 500 characters." minlength="3"  maxlength="500"  id="input-project-comments"  spellcheck="false"></textarea>
                              </div>
                            </div>
            
                          </div><!-- row -->
              
                          <div class="btn-group" >
                            <button class="btn tx-12 btn-success  tx-bold tx-uppercase" data-type="project"   id="btn-edit-user-project">Commit Changes</button>
                            <button class="btn tx-12 btn-warning tx-bold tx-uppercase" data-dismiss="modal" id="btnCancelSaveDesign">Cancel</button>
                          </div><!-- form-layout-footer -->
                        </div><!-- form-layout -->
                      </div>
                      <div class="card">
                        <div class="pd-x-15 tx-uppercase tx-14 tx-bold">Discussion</div>
                        <div id="user-comments-container" class="pd-x-15" style="overflow-y: auto; max-height: 300px;"></div>
                      </div>
                      
            
            
                    </div>
                    <div id="myprojects" class="tab-pane">
                      <div class="list-group widget-list-group bg-app-primary">
                        <div class="list-group-item d-flex">
                          <div class="media d-block d-sm-flex">
                            <div class="d-block d-sm-flex mg-sm-r-20">
                              <i class="ion-flag tx-24 tx-white"></i>
                            </div><!-- d-flex -->
                            <div class="media-body mg-t-10 mg-sm-t-0">
                              <h6 class="mg-b-5 tx-14">My Saved Projects</h6>
                              <p class="mg-b-0 tx-12">You can save up to <b>(<%=project_limit%>)</b> projects.</p>
                            </div><!-- media-body -->
                          </div><!-- media -->
                        </div>
                      </div>
                      <div class="card ">
                        <div class="pd-20" id="myProjectContainer"></div>
                     </div> 
                    </div>
                    <div id="library" class="tab-pane">
                      <div class="list-group widget-list-group bg-app-primary">
                        <div class="list-group-item d-flex">
                          <div class="media d-block d-sm-flex">
                            <div class="d-block d-sm-flex mg-sm-r-20">
                              <i class="ion-flag tx-24 tx-white"></i>
                            </div><!-- d-flex -->
                            <div class="media-body mg-t-10 mg-sm-t-0">
                              <h6 class="mg-b-5 tx-14">Pre Designed</h6>
                              <p class="mg-b-0 tx-12 tx-white-5">Use ready made design in your template.</p>
            
                            </div><!-- media-body -->
                          </div><!-- media -->
                        </div>
                      </div>
                      <div class="card">
                        <div class="card ">
                         <div class="mg-t-15 mg-sm-t-20" id="preDesignedContainer"></div>
                      </div>  
                      </div>
                    </div>
                    <!-- #settingMenu -->
                </div>
            </div>
        </div>
      </div>
  

<!-- Workspace canvas-->
<div class="col-9  pd-0">
 
  <div class="">
    <div class="alert alert-primary pd-y-20 hidden" role="alert" id="previewMsg">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
      <div class="d-sm-flex align-items-center justify-content-start">
        <i class="icon ion-ios-information alert-icon tx-52 mg-r-20"></i>
        <div class="mg-t-20 mg-sm-t-0">
          <p class="mg-b-0 tx-gray">Before you finalize your design, you may delete any unwanted Logos by simply deleting the Layer(s).  Any deleted Layers or other changes made in Preview Mode will be lost if you click Continue Editing. </p>
        </div>
      </div><!-- d-flex -->
    </div>
    
    
<div class="workarea" id="workarea" >
    <%- include('../../partials/toolbar'); %>
 <div  id="canvas-holder" >
     <div class="content tx-center" id="canvas-holder-inner" >
         <canvas id="admin-main-canvas"   ></canvas>
         <canvas id="admin-main-canvas-logo"   ></canvas>                    
     </div>
 </div>

 <div class="paste-clipboard"  style="display: none;"  id="pasteClipboard">
  <span  onclick="parseClipboardData();"  > Paste from Clipboard</span>
</div>
</div>


   

 
  </div>
   
    
</div>
<!--Workspace Right panel-->
<div class="col-3 pd-x-0" id="workspace-right-panel" >
    <%- include('../../partials/client/popups/rfq.ejs',{user:user}); %>
</div>
</div>

<%- include('../../partials/canvas-controls'); %>


 <!-- SMALL MODAL -->
 <div id="confirmbox" class="modal fade">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content bd-0 tx-14">
      <div class="modal-header pd-x-20">
        <h6 id="confirmBoxTitle" class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">Are you sure?</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body pd-20">
        <p class="mg-b-5" id="confirmBoxBody"></p>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" id="btnModelContinue" data-dismiss="modal" class="btn btn-primary pd-x-20">Continue</button>
        <button type="button" class="btn btn-secondary pd-x-20" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div><!-- modal-dialog -->
</div><!-- modal -->

<div id="downloadPDFModel" class="modal fade">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content bd-0 tx-14">
      <div class="modal-header pd-x-20">
        <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">Download PDF</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body pd-20">
        <input type="text" id="downloadFileName" class="form-control" placeholder="Enter File Name">
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" onclick="generatePDFfromPreview()" data-dismiss="modal" class="hand soft tx-bold  btn-sm tx-12 tx-uppercase btn btn-success pd-x-20">
          Download your design <br> as a ready to print PDF</button>
      </div>
    </div>
  </div>
</div>

<div id="cropModal" class="modal fade">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content bd-0 tx-14">
      <div class="modal-header pd-x-20">
        <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">Drag handles and move window to desired crop, then click Crop as Shown</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body pd-20">
        <canvas id="cropCanvas">
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button"  id="btnCrop" class="btn btn-sm tx-12 tx-uppercase btn-primary pd-x-20" >Crop Image</button>
        <button type="button"  id="btnCropDone" class="btn btn-sm tx-12 tx-uppercase btn-primary pd-x-20" data-dismiss="modal" >Done</button>

        <button type="button" class="btn btn-sm tx-12 tx-uppercase btn-secondary pd-x-20" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div><!-- modal-dialog -->
</div><!-- modal -->
<%- include('../../partials/client/popups/popup-clipart'); %>
<script> 
      var FILE_SIZE_LIMIT = <%=settings?.file_size_limit%>;
  window.onload = function()
 {
      var code = '<%=code || "default" %>' ;
      loadProject(code,true);
      $("#hiddenDesignId").val(code);
      $('[data-toggle="popover"]').popover()
     $("#btn-edit-user-project").attr("data-project-id",code);
 }

 $.get('/app/faq',(res)=>{
  $("#faq-contanier").html(res);
  $('.toggle.active').text("Collapse Menu");
   $('.sidebar-contact > .toggle').click(function(){
    $('.sidebar-contact').toggleClass('active')
    $('.toggle').text("Expand Menu");
    $('.toggle.active').text("Collapse Menu");
  })
})
</script>

   