<div
    class="am-sideleft" id="toolbar">
    <!-- <%- include('../../partials/client/toolbar'); %> -->
    <div class="d-flex flex-column flex-shrink-0 bg-light sidebar ">

        <ul class="nav nav-pills nav-flush flex-column mb-auto text-center main-buttons ">
            <li class="nav-item">
                <a href="/app/admin/dashboard" class="nav-link pd-y-10 lh-1  border-bottom" aria-current="page" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
                    <i class="icon ion-ios-gear-outline tx-24 tx-white"></i>
                    <div class="visually-hidden tx-12 tx-white">Dashboard</div>
                </a>
            </li>
            <li>
                <a href="/app/admin/template-designer" id="btn-upload-template" class="nav-link pd-y-10 lh-1  border-bottom" aria-current="page" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
                    <i class="ion-ios-keypad-outline tx-24 tx-white"></i>
                    <div class="visually-hidden tx-12 tx-white my-proj">Upload Template
                    </div>
                </a>
            </li>
            <li>
                <a href="/app/admin/templates" id="btn-upload-template" class="nav-link pd-y-10 lh-1  border-bottom" aria-current="page" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
                    <i class="ion-ios-keypad-outline tx-24 tx-white"></i>
                    <div class="visually-hidden tx-12 tx-white my-proj">Templates<sup class="tag"><%= templates.length %></sup>
                    </div>
                </a>
            </li>
            <li>
                <a href="/app/admin/pre-designed" class="nav-link pd-y-10 lh-1  border-bottom" aria-current="page" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
                    <i class="ion-ios-keypad tx-24 tx-white"></i>
                    <div class="visually-hidden tx-12 tx-white">Pre-Designed</div>
                </a>
            </li>
            <li>
                <a href="#textmenu" id="btnTextMenu" class="nav-link pd-y-10 lh-1  border-bottom" aria-current="page" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
                    <i class="ion-social-tumblr tx-24 tx-white"></i>
                    <div class="visually-hidden tx-12 tx-white">Text</div>
                </a>
            </li>
            <li>
                <a href="/app/admin/cliparts" class="nav-link pd-y-10 lh-1  border-bottom" aria-current="page" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
                    <i class="ion-ios-paw tx-24 tx-white"></i>
                    <div class="visually-hidden tx-12 tx-white">Upload Clipart</div>
                </a>
            </li>
            <li class="nav-item">
                <a href="#library" class="nav-link pd-y-10 lh-1  border-bottom" aria-current="page" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
                    <i class="icon ion-ios-gear-outline tx-24 tx-white"></i>
                    <div class="visually-hidden tx-12 tx-white">Shared Library</div>
                </a>
            </li>
        </ul>


    </div>

    <div class="tab-content">
        <div id="mainMenu" class="tab-pane "></div>
        <%if(locals.page.id == "__dashboard"){%>
            <div id="dashboard-panel" class="tab-pane pd-15">
                <%- include('../../partials/admin/dashboard-panel'); %>
            </div>
        <%}%>
        <%if(locals.page.id == "__template-designer"){%>
            <div id="template-designer" class="tab-pane pd-15">
                <%- include('../../partials/admin/imgupload'); %>
                <hr></div>
            <%}%>
            <%if(locals.page.id == "__edit-template"){%>
                <div id="edit-template" class="tab-pane pd-15">
                    <%- include('../../partials/admin/edit-template'); %>
                </div>
            <%}%>

            <div id="templatepanel" class="tab-pane pd-15">
                <div class="d-flex svg-templates tx-center">
                    <%for(var i=0; i<templates.length;i++){%>
                        <div id="<%=templates[i].code %>" class="template">
                            <small class="<%=templates[i].active?'':'disable-badge' %>"><%=templates[i].active?"":"Disabled" %></small>
                            <small class="<%=templates[i].default?'default-badge':'' %>"><%=templates[i].default?"Default":"" %></small>
                            <img src="<%=templates[i].base64 %>" style="width:100px">
                                <div class="tx-12 tx-bold pd-y-5"><%=templates[i].title %></div>
                        </div>
                    <%}%>
                </div>
                </div>

                <%if(locals.page.id == "__pre-designed"){%>
                    <div id="pre-designed-panel" class="tab-pane">
                        <%- include('../../partials/admin/pre-designed-panel'); %>
                    </div>
                <%}%>

                <div id="textmenu" class="tab-pane">
                    <%- include('../../partials/client/typo'); %>
                </div>
                <div
                    id="settingMenu" class="tab-pane"><!-- <%- include('../../partials/client/imgupload'); %> -->
                </div>
            </div>
        </div>
