   <div class="am-sideleft">
    <%- include('../../partials/admin/admin/toolbar',{user:null}); %>
            <div class="tab-content">
                <div id="mainMenu" class="tab-pane ps ps--theme_default" data-ps-id="2eb2b066-5808-1af2-efe4-5545ef09dd17">
                    <ul class="nav am-sideleft-menu">
                        <li class="nav-item">
                            <a href="http://themepixels.me/demo/amanda/app/index.html" class="nav-link active">
                                <i class="icon ion-ios-home-outline"></i>
                                <span>Dashboard</span>
                            </a>
                        </li>
                        <!-- nav-item -->
                        <li class="nav-item">
                            <a href="http://themepixels.me/demo/amanda/app/index.html?storefront=envato-elements" class="nav-link with-sub">
                                <i class="icon ion-ios-gear-outline"></i>
                                <span>Forms</span>
                            </a>
                            <ul class="nav-sub">
                                <li class="nav-item">
                                    <a href="http://themepixels.me/demo/amanda/app/form-elements.html" class="nav-link">Form Elements</a>
                                </li>
                                <li class="nav-item">
                                    <a href="http://themepixels.me/demo/amanda/app/form-layouts.html" class="nav-link">Form Layouts</a>
                                </li>
                                <li class="nav-item">
                                    <a href="http://themepixels.me/demo/amanda/app/form-validation.html" class="nav-link">Form Validation</a>
                                </li>
                                <li class="nav-item">
                                    <a href="http://themepixels.me/demo/amanda/app/form-wizards.html" class="nav-link">Form Wizards</a>
                                </li>
                                <li class="nav-item">
                                    <a href="http://themepixels.me/demo/amanda/app/form-editor-text.html" class="nav-link">Text Editor</a>
                                </li>
                            </ul>
                        </li>
                        <!-- nav-item -->
                        <li class="nav-item">
                            <a href="http://themepixels.me/demo/amanda/app/index.html?storefront=envato-elements" class="nav-link with-sub">
                                <i class="icon ion-ios-filing-outline"></i>
                                <span>UI Elements</span>
                            </a>
                            <ul class="nav-sub">
                                <li class="nav-item">
                                    <a href="http://themepixels.me/demo/amanda/app/accordion.html" class="nav-link">Accordion</a>
                                </li>
                                <li class="nav-item">
                                    <a href="http://themepixels.me/demo/amanda/app/alerts.html" class="nav-link">Alerts</a>
                                </li>
                                <li class="nav-item">
                                    <a href="http://themepixels.me/demo/amanda/app/buttons.html" class="nav-link">Buttons</a>
                                </li>
                                <li class="nav-item">
                                    <a href="http://themepixels.me/demo/amanda/app/cards.html" class="nav-link">Cards</a>
                                </li>
                                <li class="nav-item">
                                    <a href="http://themepixels.me/demo/amanda/app/icons.html" class="nav-link">Icons</a>
                                </li>
                                <li class="nav-item">
                                    <a href="http://themepixels.me/demo/amanda/app/modal.html" class="nav-link">Modal</a>
                                </li>
                                <li class="nav-item">
                                    <a href="http://themepixels.me/demo/amanda/app/navigation.html" class="nav-link">Navigation</a>
                                </li>
                                <li class="nav-item">
                                    <a href="http://themepixels.me/demo/amanda/app/pagination.html" class="nav-link">Pagination</a>
                                </li>
                                <li class="nav-item">
                                    <a href="http://themepixels.me/demo/amanda/app/popups.html" class="nav-link">Tooltip &amp; Popover</a>
                                </li>
                                <li class="nav-item">
                                    <a href="http://themepixels.me/demo/amanda/app/progress.html" class="nav-link">Progress</a>
                                </li>
                                <li class="nav-item">
                                    <a href="http://themepixels.me/demo/amanda/app/spinners.html" class="nav-link">Spinners</a>
                                </li>
                                <li class="nav-item">
                                    <a href="http://themepixels.me/demo/amanda/app/typography.html" class="nav-link">Typography</a>
                                </li>
                            </ul>
                        </li>
                        <!-- nav-item -->
                        <li class="nav-item">
                            <a href="http://themepixels.me/demo/amanda/app/index.html?storefront=envato-elements" class="nav-link with-sub">
                                <i class="icon ion-ios-analytics-outline"></i>
                                <span>Charts</span>
                            </a>
                            <ul class="nav-sub">
                                <li class="nav-item">
                                    <a href="http://themepixels.me/demo/amanda/app/chart-morris.html" class="nav-link">Morris Charts</a>
                                </li>
                                <li class="nav-item">
                                    <a href="http://themepixels.me/demo/amanda/app/chart-flot.html" class="nav-link">Flot Charts</a>
                                </li>
                                <li class="nav-item">
                                    <a href="http://themepixels.me/demo/amanda/app/chart-chartjs.html" class="nav-link">Chart JS</a>
                                </li>
                                <li class="nav-item">
                                    <a href="http://themepixels.me/demo/amanda/app/chart-rickshaw.html" class="nav-link">Rickshaw</a>
                                </li>
                                <li class="nav-item">
                                    <a href="http://themepixels.me/demo/amanda/app/chart-sparkline.html" class="nav-link">Sparkline</a>
                                </li>
                            </ul>
                        </li>
                        <!-- nav-item -->
                        <li class="nav-item">
                            <a href="http://themepixels.me/demo/amanda/app/index.html?storefront=envato-elements" class="nav-link with-sub">
                                <i class="icon ion-ios-navigate-outline"></i>
                                <span>Maps</span>
                            </a>
                            <ul class="nav-sub">
                                <li class="nav-item">
                                    <a href="http://themepixels.me/demo/amanda/app/map-google.html" class="nav-link">Google Maps</a>
                                </li>
                                <li class="nav-item">
                                    <a href="http://themepixels.me/demo/amanda/app/map-vector.html" class="nav-link">Vector Maps</a>
                                </li>
                            </ul>
                        </li>
                        <!-- nav-item -->
                        <li class="nav-item">
                            <a href="http://themepixels.me/demo/amanda/app/index.html?storefront=envato-elements" class="nav-link with-sub">
                                <i class="icon ion-ios-list-outline"></i>
                                <span>Tables</span>
                            </a>
                            <ul class="nav-sub">
                                <li class="nav-item">
                                    <a href="http://themepixels.me/demo/amanda/app/table-basic.html" class="nav-link">Basic Table</a>
                                </li>
                                <li class="nav-item">
                                    <a href="http://themepixels.me/demo/amanda/app/table-datatable.html" class="nav-link">Data Table</a>
                                </li>
                            </ul>
                        </li>
                        <!-- nav-item -->
                        <li class="nav-item">
                            <a href="http://themepixels.me/demo/amanda/app/index.html?storefront=envato-elements" class="nav-link with-sub">
                                <i class="icon ion-ios-bookmarks-outline"></i>
                                <span>Pages</span>
                            </a>
                            <ul class="nav-sub">
                                <li class="nav-item">
                                    <a href="http://themepixels.me/demo/amanda/app/blank.html" class="nav-link">Blank Page</a>
                                </li>
                                <li class="nav-item">
                                    <a href="http://themepixels.me/demo/amanda/app/page-signin.html" class="nav-link">Signin Page</a>
                                </li>
                                <li class="nav-item">
                                    <a href="http://themepixels.me/demo/amanda/app/page-signup.html" class="nav-link">Signup Page</a>
                                </li>
                                <li class="nav-item">
                                    <a href="http://themepixels.me/demo/amanda/app/page-notfound.html" class="nav-link">404 Page Not Found</a>
                                </li>
                            </ul>
                        </li>
                        <!-- nav-item -->
                        <li class="nav-item">
                            <a href="http://themepixels.me/demo/amanda/app/widgets.html" class="nav-link">
                                <i class="icon ion-ios-briefcase-outline"></i>
                                <span>Widgets</span>
                            </a>
                        </li>
                        <!-- nav-item -->
                    </ul>
                    <div class="ps__scrollbar-x-rail" style="left: 0px; bottom: 0px;">
                        <div class="ps__scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                    </div>
                    <div class="ps__scrollbar-y-rail" style="top: 0px; right: 0px;">
                        <div class="ps__scrollbar-y" tabindex="0" style="top: 0px; height: 0px;"></div>
                    </div>
                </div>
                <div id="clipartmenu" class="tab-pane ps ps--theme_default active" data-ps-id="af614671-51ab-0c55-f503-1202717f8b03">
                    <%- include('../../partials/admin/clipart'); %>
                </div>
                <!-- #mainMenu -->
                <div id="templatemenu" class="tab-pane ps ps--theme_default active" data-ps-id="af614671-51ab-0c55-f503-1202717f8b03">
                    <%- include('../../partials/admin/templates'); %>
                </div>
                <!-- #emailMenu -->
                <div id="textmenu" class="tab-pane ps ps--theme_default">
                    <%- include('../../partials/admin/typo'); %>
                </div>
                <!-- #chatMenu -->
                <div id="settingMenu" class="tab-pane ps ps--theme_default ">
                    <%- include('../../partials/admin/imgupload'); %>
                </div>
                <!-- #settingMenu -->
            </div>
            <!-- tab-content -->
        </div>