<div class="am-sideleft" id="toolbar">
    <!-- <%- include('../../partials/client/toolbar'); %> -->
    <div class="d-flex flex-column flex-shrink-0 bg-light sidebar " >
       
        <ul class="nav nav-pills nav-flush flex-column mb-auto text-center main-buttons ">
            <li class="nav-item">
                <a href="/app/admin/dashboard" class="nav-link pd-y-10 lh-1  border-bottom" aria-current="page" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
                    <i class="icon ion-ios-gear-outline tx-24 tx-white"></i>
                    <div class="visually-hidden tx-12 tx-white">Dashboard</div>
                </a>
              </li>
          <li>
            <a href="/app/admin/template-designer" id="btn-upload-template" class="nav-link pd-y-10 lh-1  border-bottom" aria-current="page" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
                <i class="ion-ios-keypad-outline tx-24 tx-white"></i>
                <div class="visually-hidden tx-12 tx-white my-proj">Upload Template </div>
            </a>
          </li>
          <li>
            <a href="/app/admin/templates" id="btn-upload-template" class="nav-link pd-y-10 lh-1  border-bottom" aria-current="page" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
                <i class="ion-ios-keypad-outline tx-24 tx-white"></i>
                <div class="visually-hidden tx-12 tx-white my-proj">Templates<sup class="tag" ><%= templates.length %></sup> </div>
            </a>
          </li>
          <li>
            <a href="#" class="nav-link pd-y-10 lh-1  border-bottom" aria-current="page" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
                <i class="ion-ios-keypad tx-24 tx-white"></i>
                <div class="visually-hidden tx-12 tx-white">Pre-Designed</div>
            </a>
          </li>
          <li>
            <a href="#textmenu" id="btnTextMenu" class="nav-link pd-y-10 lh-1  border-bottom" aria-current="page" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
                <i class="ion-social-tumblr tx-24 tx-white"></i>
                <div class="visually-hidden tx-12 tx-white">Text</div>
            </a>
          </li>
          <li>
            <a href="#clipartmenu" class="nav-link pd-y-10 lh-1  border-bottom" aria-current="page" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
                <i class="ion-ios-paw tx-24 tx-white"></i>
                <div class="visually-hidden tx-12 tx-white">Upload Clipart</div>
            </a>
          </li>
          <li class="nav-item">
            <a href="#settings" class="nav-link pd-y-10 lh-1  border-bottom" aria-current="page" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
                <i class="icon ion-ios-gear-outline tx-24 tx-white"></i>
                <div class="visually-hidden tx-12 tx-white">Settings</div>
            </a>
          </li>
        </ul>
    
       
      </div>
     
    <div class="tab-content">
        <div id="mainMenu" class="tab-pane " >
            <!-- <%- include('../../partials/client/canvas'); %>  -->
            <!-- <%- include('../../partials/client/layers'); %> -->
        </div>
        <div id="template-designer" class="tab-pane pd-15" >
            <%- include('../../partials/admin/imgupload'); %>
            <hr>
        </div>
        <div id="edit-template" class="tab-pane pd-15" >
            <%- include('../../partials/admin/edit-template'); %>
            <hr>
        </div>
        <div id="templatepanel" class="tab-pane pd-15" >
            <div class="d-flex svg-templates tx-center" >
                
             <%for(var i=0; i<templates.length;i++){%>
                   
                <div id="<%=templates[i].code %>" class="template">    
                    <small class="tx-danger tx-bold"><%=templates[i].active?"":"Disabled" %></small>                      
                 <img src="<%=templates[i].base64 %>" style="width:100px"> 
                 <div class="tx-12 tx-bold pd-y-5"><%=templates[i].title %></div>
                
             </div>
             <%}%>                
           </div>
         </div>

        <div id="uploadpanel" class="tab-pane active" >

            <%- include('../../partials/client/layers'); %>
        </div>
        <div id="clipartmenu" class="tab-pane" >
            <%- include('../../partials/client/clipart'); %>
        </div>
        <!-- #mainMenu -->
        <div id="templatemenu" class="tab-pane" >
            <%- include('../../partials/admin/templates'); %>
        </div>
        <!-- #emailMenu -->
        <div id="textmenu" class="tab-pane">
            <%- include('../../partials/client/typo'); %>
           
        </div>
         <!-- #chatMenu -->
         <div id="settingMenu" class="tab-pane">
          <!-- <%- include('../../partials/client/imgupload'); %> -->
      </div>
        <!-- #settingMenu -->
    </div>
    <!-- tab-content -->
</div>

