<!-- <div id="admin-image-upload">
    <div class="pd-t-15 text-center drag-drop-input">
        <h1 class="ion-ios-cloud-upload icon-imgupload"></h1>
        <br>
            <p class="tx-12 "><%= locals.uploadmessage %></p>
        </div>
</div>  -->
<div id="create-design-panel" class="hidden" >
  <div class="list-group widget-list-group bg-app-primary" >
    <div class="list-group-item d-flex" id="create-design-heading">
      <div class="media d-block d-sm-flex">
        <div class="d-block d-sm-flex mg-sm-r-20">
          <i class="ion-ios-keypad tx-24 tx-white"></i>
        </div><!-- d-flex -->
        <div class="media-body mg-t-10 mg-sm-t-0">
          <h6 class="mg-b-5 tx-14"><a href="" class="tx-white">Create Design</a></h6>
          <p class="mg-b-0 tx-12 tx-white-5">Add Photos, ClipArts, Text</p>
        </div><!-- media-body -->
      </div><!-- media -->
      <a href="#" id="btn-step-preview" class="btn btn-primary pd-lg-x-20 mg-l-auto">Preview</a>

    </div>
    <div class="list-group-item d-flex hidden" id="preview-design-heading">
      <div class="media d-block d-sm-flex">
        <div class="d-block d-sm-flex mg-sm-r-20">
          <i class="ion-images tx-24 tx-white"></i>
        </div><!-- d-flex -->
        <div class="media-body mg-t-10 mg-sm-t-0">
          <h6 class="mg-b-5 tx-14"><a href="" class="tx-white">Preview</a></h6>
          <p class="mg-b-0 tx-12 tx-white-5"><a href="#" style="text-decoration: underline" class="text-danger" id="btnBack">Back to Design</a></p>
        </div><!-- media-body -->
      </div><!-- media -->
      <a href="#"  class="btn btn-primary pd-lg-x-20 mg-l-auto" id="btn-step-download" >Download</a>
  
    </div>

  </div>
  
  <ul class="nav nav-tabs tx-12 bold" role="tablist">
    <li class="nav-item" id="panel-photos">
      <a class="nav-link active " data-toggle="tab" href="#home"><i class="ion-images pd-x-5 tx-16"></i>PHOTOS</a>
    </li>
    <li class="nav-item" id="menu-clipart">
      <a class="nav-link" data-toggle="tab" href="#clipartmenu"><i class="ion-ios-paw pd-x-5 tx-16"></i> CLIP ART</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#menu2"><i class="ion-social-tumblr pd-x-5 tx-16"></i> TEXT</a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div id="home" class="container tab-pane active">
      <div class="card pd-t-20 pd-0 tx-center " >
          <i class="tx-80  tx-gray-800 icon-imgupload ion-images" id="btn-upload-img"></i>
          <p class="tx-12 pd-t-20 pd-x-30 tx-center">Upload Photos </p>
          <input id="btn-upload-img-hidden" type="file" accept="image/*" multiple="multiple" hidden="hidden">
      </div>
    </div>
    <div id="clipartmenu" class="container tab-pane fade">
      

    </div>
   
    <div id="menu2" class="container tab-pane fade"><br>
      <%- include('../../partials/admin/typo'); %>           

    </div>
  </div>

      


 

</div>


<div id="save-design-panel" class="hidden">
  <div >
    <div class="list-group widget-list-group bg-app-primary">
      <div class="list-group-item d-flex">
        <div class="media d-block d-sm-flex">
          <div class="d-block d-sm-flex mg-sm-r-20">
            <i class="ion-android-done-all tx-24 tx-white"></i>
          </div><!-- d-flex -->
          <div class="media-body mg-t-10 mg-sm-t-0">
            <h6 class="mg-b-5 tx-14"><a href="" class="tx-white">Save Project</a></h6>
            <p class="mg-b-0 tx-12 tx-white-5">Active designs will be shared to all users.</p>
          </div><!-- media-body -->
        </div><!-- media -->
      </div>
    </div>

    <div class="card pd-20 ">
     
      <div class="form-layout">
        <div class="row ">
          <div class="col-lg-12">
            <div class="d-r-5">
              <label class="ckbox">
                  <input type="checkbox" id="designActive" ><span>Active</span>
                </label>
          </div>

            <div class="form-group">
              <label class="form-control-label">Project Name: <span class="tx-danger">*</span></label>
              <input class="form-control" required type="text" id="input-project-title" name="firstname"  >
            </div>
          </div>
          <div class="col-lg-12">
            <div class="form-group">
              <label class="form-control-label">Description:  </label>
              <textarea rows="2" class="form-control" id="input-project-desc" required  spellcheck="false"></textarea>
            </div>
          </div>

        </div><!-- row -->

        <div >
          <button class="btn  btn-primary mg-r-5" id="btnSave">Save Project</button>
          <button class="btn btn-secondary" id="btnCancelSaveDesign">Cancel</button>
        </div><!-- form-layout-footer -->
      </div><!-- form-layout -->
    </div>
    
    


  </div>
</div>
<div id="add-template-panel" class="" role="tabpanel" aria-labelledby="addtemplate">
  <div class="list-group widget-list-group bg-app-primary">
    <div class="list-group-item d-flex">
      <div class="media d-block d-sm-flex">
      
        <div class="media-body mg-t-10 mg-sm-t-0">
          <h6 class="mg-b-5 tx-18 tx-white">Choose Template</h6>
        </div>
         
        
        <!-- media-body -->
      </div><!-- media -->
       <div class="btn-group mg-b-0 mg-l-auto lh-2">
          <button type="button" class="btn btn-primary wd-120 ht-60 tx-18" id="btn-step-design">
            NEXT <br> <span class="tx-12 text-warning tx-bold underline">Create Design</span></button>
        </div>
    </div>
  </div>
  <div class="row mg-0" id="customTemplateThumb">
    <%for(var i=0; i<templates.length; i++){ %>
    <div class="col-lg-4 pd-0  bd template" id="<%=templates[i].code %>">
      <div class="card  ht-200">
        <div class="card-body pd-10">
          <img class="card-img-top img-fluid pd-b-10 ht-140" src="<%=templates[i].base64 %>" alt="Image">
          <h5 class="tx-14 tx-bold tx-inverse  pd-x-10" style="height:28px;overflow:hidden"><%=templates[i].name %></h5>
          <p class="card-subtitle tx-12 tx-bold  pd-x-10"># <%=templates[i].ref_code %></p>
        </div>
      </div><!-- card -->
    </div>
    <%}%> 
  </div>

</div>
   
<script>
  $("#menu-save-design").removeClass("hidden");
</script>