<!-- <div id="admin-image-upload">
    <div class="pd-t-15 text-center drag-drop-input">
        <h1 class="ion-ios-cloud-upload icon-imgupload"></h1>
        <br>
            <p class="tx-12 "><%= locals.uploadmessage %></p>
        </div>
</div>  -->
<div id="create-design-panel" class="hidden">
  <div class="list-group widget-list-group bg-app-primary">
    <div class="list-group-item d-flex">
      <div class="media d-block d-sm-flex">
        <div class="d-block d-sm-flex mg-sm-r-20">
          <i class="ion-ios-keypad tx-24 tx-white"></i>
        </div><!-- d-flex -->
        <div class="media-body mg-t-10 mg-sm-t-0">
          <h6 class="mg-b-5 tx-14"><a href="" class="tx-white">Create Design</a></h6>
          <p class="mg-b-0 tx-12 tx-white-5">Add Photos, ClipArts, Text</p>
        </div><!-- media-body -->
      </div><!-- media -->
      <a href="#" id="btn-step-designx" class="btn btn-primary pd-lg-x-20 mg-l-auto">Preview</a>
    </div>
  </div>
  <ul class="nav nav-tabs tx-12 bold" role="tablist">
    <li class="nav-item" id="panel-photos">
      <a class="nav-link active " data-toggle="tab" href="#home"><i class="ion-images pd-x-5 tx-16"></i>PHOTOS</a>
    </li>
    <li class="nav-item" id="menu-clipart">
      <a class="nav-link" data-toggle="tab" href="#clipartmenu"><i class="ion-ios-paw pd-x-5 tx-16"></i> CLIP ART</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#menu2"><i class="ion-social-tumblr pd-x-5 tx-16"></i> TEXT</a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div id="home" class="container tab-pane active">
      <div class="card pd-t-20 pd-0 tx-center " >
          <i class="tx-80  tx-gray-800 icon-imgupload ion-images" id="btn-upload-img"></i>
          <p class="tx-12 pd-t-20 pd-x-30 tx-center">Upload Photos </p>
          <input id="btn-upload-img-hidden" type="file" accept="image/*" multiple="multiple" hidden="hidden">
      </div>
    </div>
    <div id="clipartmenu" class="container tab-pane fade"><%- include('../../partials/client/clipart'); %>

    </div>
    <div id="menu2" class="container tab-pane fade"><br>
      <%- include('../../partials/client/typo'); %>           

    </div>
  </div>

      


 

</div>
<div id="add-template-panel" class="" role="tabpanel" aria-labelledby="addtemplate">
  <div class="list-group widget-list-group bg-app-primary">    
    <div class="list-group widget-list-group bg-app-primary">
      <div class="list-group-item d-flex">
        <div class="media d-block d-sm-flex">
          <div class="d-block d-sm-flex mg-sm-r-20">
            <i class="ion-ios-keypad tx-24 tx-white"></i>
          </div><!-- d-flex -->
          <div class="media-body mg-t-10 mg-sm-t-0">
            <h6 class="mg-b-5 tx-14"><a href="" class="tx-white">Select Template</a></h6>
            <p class="mg-b-0 tx-12 tx-white-5">Next (Create Design)</p>
          </div><!-- media-body -->
        </div><!-- media -->
        <a href="#" id="btn-step-design" class="btn btn-primary pd-lg-x-20 mg-l-auto">Next</a>
      </div>
    </div>
  </div>
  <div class="row mg-0" id="customTemplateThumb">
    <%for(var i=0; i<templates.length; i++){ %>
    <div class="col-lg-4 pd-0  bd template" id="<%=templates[i].code %>">
      <div class="card  ht-200">
        <div class="card-body pd-10">
          <img class="card-img-top img-fluid pd-b-10 ht-140" src="<%=templates[i].base64 %>" alt="Image">
          <h5 class="tx-14 tx-bold tx-inverse  pd-x-10" style="height:28px;overflow:hidden"><%=templates[i].name %></h5>
          <p class="card-subtitle tx-12 tx-bold  pd-x-10"># <%=templates[i].ref_code %></p>
        </div>
      </div><!-- card -->
    </div>
    <%}%> 
  </div>


  <!-- <div class="d-flex svg-templates tx-center" id="customTemplateThumb">


      <%for(var i=0; i<templates.length; i++){ %>
        <div id="<%=templates[i].code %>" class="template template-small" > 
          <img src="<%=templates[i].base64 %>" > 
          <div class="tx-12 tx-bold pd-y-5"><%=templates[i].title %></div>
      </div>
      <%}%>  
</div> -->
</div>
    <input id="admin-image-upload-hidden" data-page-id="<%= locals.page.id %>" type="file" accept="image/*" multiple="multiple" hidden="hidden">
     
       <div class="card pd-t-20 pd-0" >
        <button type="button" class="btn-upload" id="admin-image-upload"> Upload Image</button>
        <p class="tx-12 pd-t-20 pd-x-30 tx-center">Upload (SVG,JPG,PNG) Images.</p>
        <input id="admin-image-upload-hidden" type="file" accept="image/*" multiple="multiple" hidden="hidden">
        <input id="design-type" value="pre-designed" hidden="hidden">

    </div>
    <div class="pd-10 admin-design-ctrl">
        <div class="tx-12"><b>Design Info</b><span class="text-danger"> (All fields are mandatory)</span></div>

        
        <div id="accordion" class="accordion" role="tablist" aria-multiselectable="true">
            <div class="card">
              <div class="card-header" role="tab" id="headingOne">
                <h6 class="mg-b-0">
                <a data-toggle="collapse" data-parent="#accordion" href="#add-template-panel"
                    aria-controls="addtemplate" class="tx-gray-800 tx-bold transition">
                   <strong style="background-color: white; padding:3px 7px; font-size: 12px; margin-right: 10px; border-radius: 50%; ">1</strong>Select Templates 
                   </a>
                  <a data-toggle="collapse" data-parent="#accordion" href="#add-clipart-panel"
                   aria-controls="addclipart" class="tx-gray-800 transition tx-bold">
                   <strong style="background-color: white; padding:3px 7px; font-size: 12px; margin-right: 10px; border-radius: 50%; ">2</strong>
                   Add Clipart & Symbols
                  </a>
                  <a data-toggle="collapse" data-parent="#accordion" href="#add-text-panel"
                   aria-controls="add-customtext-panel" class="tx-gray-800 transition tx-bold">
                   <strong style="background-color: white; padding:3px 7px; font-size: 12px; margin-right: 10px; border-radius: 50%; ">3</strong>
                   Add Text 
                  </a>
                
                  <a data-toggle="collapse" data-parent="#accordion" href="#save-design-panel"
                   aria-controls="save-design-panel" class="tx-gray-800 transition tx-bold">
                   <strong style="background-color: #494699; color:white; padding:3px 7px; font-size: 12px; margin-right: 10px; border-radius: 50%; ">4</strong>
                   Save Design 
                  </a>
                </h6>
              </div>
         
              <div id="add-customtext-panel" class="collapse" role="tabpanel" aria-labelledby="addcustomtext">
              </div>
              <div id="add-clipart-panel" class="collapse" role="tabpanel" aria-labelledby="addclipart">
                
                <%for(var i=0; i<cliparts.length; i++){ %>
                    <div id="<%=cliparts[i].code %>" class="clipart" > 
                      <img src="<%=cliparts[i].base64 %>" > 
                      <div class="tx-12 tx-bold pd-y-5"><%=cliparts[i].title %></div>
                  </div>
                  <%}%>  
              </div>
              <div id="add-text-panel" class="collapse" role="tabpanel" aria-labelledby="addtext">
                <%- include('../../partials/admin/typo'); %>     
              </div>
              <div id="save-design-panel" class="collapse" role="tabpanel" aria-labelledby="savedesign">
                <div class="card-block pd-20">
                    <div class="pd-b-10">
                        <div class="tx-left mg-y-5">
                            <select id="admin-categories" class="form-control  select2 select2-hidden-accessible" data-placeholder="Choose one" tabindex="-1" aria-hidden="true">
                                <option label="Categories"></option>
                                <%for(var i=0; i<categories.length;i++){%>
                                    <option value="<%=categories[i].code%>"><%=categories[i].name%></option>
                               <%}%>
                              </select>
                            </div>
        
                        <div class="mg-y-5">
                            <input class="form-control" placeholder="Design name" id="admin-design-name" type="text">
                        </div>
                        <div class="mg-y-5">
                            <input class="form-control" placeholder="Thumbnail name" id="admin-design-title" type="text">
                        </div>
                        <div class="mg-y-5">
                            <input class="form-control" placeholder="File name" id="admin-file-name" type="text">
                        </div>
        
                        <div class="mg-y-5">
                            <input class="form-control"  placeholder="KopyKake Webstore Link" id="admin-design-link" type="text">
                        </div>
                        <div class="mg-y-5">
                            <input class="form-control" id="admin-kopykake-part"  placeholder="KopyKake Part #" id="admin-design-link" type="text">
                        </div>
                        <div class="d-flex pd-y-10">
                            <label class="ckbox">
                                <input type="checkbox" checked="" id="design-active"><span>Active</span>
                              </label>
                              <label class="ckbox mg-l-20">
                                <input type="checkbox" id="design-default" ><span>Default</span>
                              </label>
                          
                        </div>
        
                </div>
                    <div id="save-image-ctrl" class="tx-center">
                        <div class="btn-group" role="group" >
                            <button type="button" id="btnSavePreDesign" class="btn btn-primary  pd-x-25 active ">Save Design</button>
                            <button type="button" id="cancel-design" class="btn btn-secondary pd-x-25 ">Cancel</button>
                          </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
          
        </div>
